# Tratamento dos dados - Prouni 2005/2019

- [Importando bibliotecas](#import_bibli)

- [Leitura dataframe](#read_csv)

- [Informações do dataframe](#info_df) 

- [Tratamento dos dados](#trat_data) 

- [Exportando dados](#exp_data)

## Importando bibliotecas

<a id="import_bibli"></a>

In [45]:
# Importando bibliotecas
import pandas as pd
import numpy as np
import datetime

## Leitura do dataframe
<a id="read_csv"></a>

In [444]:
df2 = pd.read_csv('..\..\data\prouni_2005_2019.csv', encoding = 'utf-8')

In [445]:
df2.columns

Index(['ANO_CONCESSAO_BOLSA', 'CODIGO_EMEC_IES_BOLSA', 'NOME_IES_BOLSA',
       'TIPO_BOLSA', 'MODALIDADE_ENSINO_BOLSA', 'NOME_CURSO_BOLSA',
       'NOME_TURNO_CURSO_BOLSA', 'CPF_BENEFICIARIO_BOLSA',
       'SEXO_BENEFICIARIO_BOLSA', 'RACA_BENEFICIARIO_BOLSA',
       'DT_NASCIMENTO_BENEFICIARIO', 'BENEFICIARIO_DEFICIENTE_FISICO',
       'REGIAO_BENEFICIARIO_BOLSA', 'SIGLA_UF_BENEFICIARIO_BOLSA',
       'MUNICIPIO_BENEFICIARIO_BOLSA', 'idade'],
      dtype='object')

In [46]:
# Criando df com o dado csv
df = pd.read_csv('..\..\data\prouni_2005_2019.csv', encoding = 'utf-8')
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,idade
0,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Enfermagem,Integral,***264740**,F,Branca,1987-02-17,nao,SUL,RS,santo angelo,34.0
1,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***976940**,F,Parda,1986-06-14,nao,SUL,RS,frederico westphalen,35.0
2,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***045340**,F,Parda,1984-06-03,nao,SUL,RS,frederico westphalen,37.0
3,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciencia Da Computacao,Noturno,***988420**,M,Branca,1987-10-19,nao,SUL,RS,frederico westphalen,33.0
4,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciencia Da Computacao,Noturno,***378080**,M,Amarela,1987-07-20,nao,SUL,RS,frederico westphalen,34.0

## Informações do dataframe

<a id="info_df"></a>

In [47]:
# Gerando infos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692540 entries, 0 to 2692539
Data columns (total 16 columns):
 #   Column                          Dtype
---  ------                          -----
 0   ANO_CONCESSAO_BOLSA             int64
 1   CODIGO_EMEC_IES_BOLSA           int64
 2   NOME_IES_BOLSA                  object
 3   TIPO_BOLSA                      object
 4   MODALIDADE_ENSINO_BOLSA         object
 5   NOME_CURSO_BOLSA                object
 6   NOME_TURNO_CURSO_BOLSA          object
 7   CPF_BENEFICIARIO_BOLSA          object
 8   SEXO_BENEFICIARIO_BOLSA         object
 9   RACA_BENEFICIARIO_BOLSA         object
 10  DT_NASCIMENTO_BENEFICIARIO      object
 11  BENEFICIARIO_DEFICIENTE_FISICO  object
 12  REGIAO_BENEFICIARIO_BOLSA       object
 13  SIGLA_UF_BENEFICIARIO_BOLSA     object
 14  MUNICIPIO_BENEFICIARIO_BOLSA    object
 15  idade                           float64
dtypes: float64(1), int64(2), object(13)
memory usage: 328.7+ MB

In [48]:
# Gerando estatísticas descritivas
df.describe()

       ANO_CONCESSAO_BOLSA  CODIGO_EMEC_IES_BOLSA         idade
count         2.692540e+06           2.692540e+06  2.692540e+06
mean          2.013202e+03           1.557752e+03  3.137911e+01
std           4.060982e+00           2.423453e+03  7.974098e+00
min           2.005000e+03           1.000000e+01  2.000000e+00
25%           2.010000e+03           3.220000e+02  2.500000e+01
50%           2.014000e+03           8.020000e+02  3.000000e+01
75%           2.017000e+03           1.742000e+03  3.500000e+01
max           2.019000e+03           2.251400e+04  1.500000e+02

In [49]:
# Verificando tamanho do df
df.shape

(2692540, 16)

In [50]:
# Contando os valores nulos por coluna
df.isnull().sum()

ANO_CONCESSAO_BOLSA                  0
CODIGO_EMEC_IES_BOLSA                0
NOME_IES_BOLSA                     489
TIPO_BOLSA                           0
MODALIDADE_ENSINO_BOLSA              0
NOME_CURSO_BOLSA                  5654
NOME_TURNO_CURSO_BOLSA               0
CPF_BENEFICIARIO_BOLSA               0
SEXO_BENEFICIARIO_BOLSA              0
RACA_BENEFICIARIO_BOLSA              0
DT_NASCIMENTO_BENEFICIARIO           0
BENEFICIARIO_DEFICIENTE_FISICO       0
REGIAO_BENEFICIARIO_BOLSA          402
SIGLA_UF_BENEFICIARIO_BOLSA        402
MUNICIPIO_BENEFICIARIO_BOLSA       402
idade                                0
dtype: int64

In [51]:
# Contando quantos valores unicos existem por coluna
df.nunique()

ANO_CONCESSAO_BOLSA                    15
CODIGO_EMEC_IES_BOLSA                2147
NOME_IES_BOLSA                       2767
TIPO_BOLSA                              3
MODALIDADE_ENSINO_BOLSA                 2
NOME_CURSO_BOLSA                     3644
NOME_TURNO_CURSO_BOLSA                  5
CPF_BENEFICIARIO_BOLSA            1316468
SEXO_BENEFICIARIO_BOLSA                 2
RACA_BENEFICIARIO_BOLSA                 6
DT_NASCIMENTO_BENEFICIARIO          31729
BENEFICIARIO_DEFICIENTE_FISICO          2
REGIAO_BENEFICIARIO_BOLSA               5
SIGLA_UF_BENEFICIARIO_BOLSA            27
MUNICIPIO_BENEFICIARIO_BOLSA         5318
idade                                 107
dtype: int64

In [52]:
df.columns

Index(['ANO_CONCESSAO_BOLSA', 'CODIGO_EMEC_IES_BOLSA', 'NOME_IES_BOLSA',
       'TIPO_BOLSA', 'MODALIDADE_ENSINO_BOLSA', 'NOME_CURSO_BOLSA',
       'NOME_TURNO_CURSO_BOLSA', 'CPF_BENEFICIARIO_BOLSA',
       'SEXO_BENEFICIARIO_BOLSA', 'RACA_BENEFICIARIO_BOLSA',
       'DT_NASCIMENTO_BENEFICIARIO', 'BENEFICIARIO_DEFICIENTE_FISICO',
       'REGIAO_BENEFICIARIO_BOLSA', 'SIGLA_UF_BENEFICIARIO_BOLSA',
       'MUNICIPIO_BENEFICIARIO_BOLSA', 'idade'],
      dtype='object')

## Tratamento dos dados
<a id="trat_data"></a>

[Tratamento 1](#tratamento-1) - Alterar nomes das colunas

[Tratamento 2](#tratamento-2) - Transformar "pcd" em bool

[Tratamento 3](#tratamento-3) - Tratar Missings

[Tratamento 4](#tratamento-4) - Alterar coluna idade

[Tratamento 5](#tratamento-5) - Verificar coluna "bolsa_curso"

[Tratamento 6](#tratamento-6) - Dropar colunas e modificar outras\

### Tratamento 1
<a id="tratamento-1"></a>

Alteração dos nomes das colunas

| Colunas Antigas                  | Colunas Novas              |
|----------------------------------|----------------------------|
| ANO_CONCESSAO_BOLSA               | ano                        |
| CODIGO_EMEC_IES_BOLSA             | codigo_emec                |
| NOME_IES_BOLSA                   | nome_bolsa                 |
| TIPO_BOLSA                       | tipo_bolsa                 |
| MODALIDADE_ENSINO_BOLSA           | modalidade_ensino          |
| NOME_CURSO_BOLSA                 | curso                      |
| NOME_TURNO_CURSO_BOLSA            | turno                      |
| CPF_BENEFICIARIO_BOLSA            | cpf_beneficiario           |
| SEXO_BENEFICIARIO_BOLSA           | sexo_beneficiario          |
| RACA_BENEFICIARIO_BOLSA           | raca_beneficiario          |
| DT_NASCIMENTO_BENEFICIARIO        | dt_nascimento_beneficiario |
| BENEFICIARIO_DEFICIENTE_FISICO    | pcd                        |
| REGIAO_BENEFICIARIO_BOLSA         | regiao                     |
| SIGLA_UF_BENEFICIARIO_BOLSA       | sigla_uf                   |
| MUNICIPIO_BENEFICIARIO_BOLSA      | municipio                  |
| idade                            | idade                      |

In [53]:
# Criando lista com as colunas.lower()
colunas = [coluna.lower() for coluna in df.columns]
colunas

['ano_concessao_bolsa',
 'codigo_emec_ies_bolsa',
 'nome_ies_bolsa',
 'tipo_bolsa',
 'modalidade_ensino_bolsa',
 'nome_curso_bolsa',
 'nome_turno_curso_bolsa',
 'cpf_beneficiario_bolsa',
 'sexo_beneficiario_bolsa',
 'raca_beneficiario_bolsa',
 'dt_nascimento_beneficiario',
 'beneficiario_deficiente_fisico',
 'regiao_beneficiario_bolsa',
 'sigla_uf_beneficiario_bolsa',
 'municipio_beneficiario_bolsa',
 'idade']

In [54]:
# Gerando as novas colunas de acordo com as iniciais e atribuindo as novas colunas ao df
novas_colunas = ['ano', 'codigo_emec', 'universidade', 'tipo_bolsa', 'modalidade_ensino', 'curso', 'turno', 'cpf_beneficiario', 'sexo_beneficiario',
 'raca_beneficiario', 'dt_nascimento_beneficiario', 'pcd', 'regiao', 'sigla_uf', 'municipio', 'idade']

df.columns = novas_colunas

In [55]:
# Visualizando as novas colunas
df.columns

Index(['ano', 'codigo_emec', 'universidade', 'tipo_bolsa', 'modalidade_ensino',
       'curso', 'turno', 'cpf_beneficiario', 'sexo_beneficiario',
       'raca_beneficiario', 'dt_nascimento_beneficiario', 'pcd', 'regiao',
       'sigla_uf', 'municipio', 'idade'],
      dtype='object')

In [56]:
# Visualizando df com as novas colunas
df.head(3)

,ano,codigo_emec,universidade,tipo_bolsa,modalidade_ensino,curso,turno,cpf_beneficiario,sexo_beneficiario,raca_beneficiario,dt_nascimento_beneficiario,pcd,regiao,sigla_uf,municipio,idade
0,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Enfermagem,Integral,***264740**,F,Branca,1987-02-17,nao,SUL,RS,santo angelo,34.0
1,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***976940**,F,Parda,1986-06-14,nao,SUL,RS,frederico westphalen,35.0
2,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***045340**,F,Parda,1984-06-03,nao,SUL,RS,frederico westphalen,37.0

### Tratamento 2
<a id="tratamento-2"></a>

Transformar a coluna pcd

|sim| nao|
|---|---|
|``True`` | ``False``|

In [57]:
# Verificando valores unicos na coluna pcd
df['pcd'].unique()

array(['nao', 'sim'], dtype=object)

In [58]:
# Alterando coluna pcd para valores boleanos ``bool``
df['pcd'] = [True if value == 'sim' else False for value in df['pcd']]

In [59]:
# Visualizando o df com alterações
df.head(3)

,ano,codigo_emec,universidade,tipo_bolsa,modalidade_ensino,curso,turno,cpf_beneficiario,sexo_beneficiario,raca_beneficiario,dt_nascimento_beneficiario,pcd,regiao,sigla_uf,municipio,idade
0,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Enfermagem,Integral,***264740**,F,Branca,1987-02-17,False,SUL,RS,santo angelo,34.0
1,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***976940**,F,Parda,1986-06-14,False,SUL,RS,frederico westphalen,35.0
2,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***045340**,F,Parda,1984-06-03,False,SUL,RS,frederico westphalen,37.0

### Tratamento 3
<a id="tratamento-3"></a>

Tratar missings

In [60]:
# Realizando contagem dos valores nulos
df.isnull().sum()

ano                              0
codigo_emec                      0
universidade                   489
tipo_bolsa                       0
modalidade_ensino                0
curso                         5654
turno                            0
cpf_beneficiario                 0
sexo_beneficiario                0
raca_beneficiario                0
dt_nascimento_beneficiario       0
pcd                              0
regiao                         402
sigla_uf                       402
municipio                      402
idade                            0
dtype: int64

In [61]:
# Tratando missings
df['universidade'].fillna('DESCONHECIDO', inplace= True)
df['regiao'].fillna('DESCONHECIDO', inplace= True)
df['sigla_uf'].fillna('DESCONHECIDO', inplace = True)
df['municipio'].fillna('DESCONHECIDO', inplace = True)

In [62]:
# Realizando contagem dos valores nulos
df.isnull().sum()

ano                              0
codigo_emec                      0
universidade                     0
tipo_bolsa                       0
modalidade_ensino                0
curso                         5654
turno                            0
cpf_beneficiario                 0
sexo_beneficiario                0
raca_beneficiario                0
dt_nascimento_beneficiario       0
pcd                              0
regiao                           0
sigla_uf                         0
municipio                        0
idade                            0
dtype: int64

### Tratamento 4
<a id="tratamento-4"></a>

Alterar coluna idade

In [63]:
# Convertendo a coluna 'dt_nascimento_beneficiario' para o tipo datetime
df['dt_nascimento_beneficiario'] = pd.to_datetime(df['dt_nascimento_beneficiario'], errors='coerce')
df['dt_nascimento_beneficiario'] = pd.to_datetime(df['dt_nascimento_beneficiario'], format="%Y-%m-%d %H:%M:%S")

In [64]:
# Criando coluna n_idade de acordo com a data de nascimento e o ano da bolsa
df['idade'] = df['ano'] - df['dt_nascimento_beneficiario'].dt.year

In [451]:
idades = df['idade'].unique()
idades.sort()
idades

array([-13., -10.,  -4.,  -2.,  -1.,   0.,   1.,   2.,   3.,   4.,   5.,
         6.,   7.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,  15.,  16.,
        17.,  18.,  19.,  20.,  21.,  22.,  23.,  24.,  25.,  26.,  27.,
        28.,  29.,  30.,  31.,  32.,  33.,  34.,  35.,  36.,  37.,  38.,
        39.,  40.,  41.,  42.,  43.,  44.,  45.,  46.,  47.,  48.,  49.,
        50.,  51.,  52.,  53.,  54.,  55.,  56.,  57.,  58.,  59.,  60.,
        61.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,  71.,
        72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,  80.,  83.,  84.,
        87.,  88.,  89.,  90.,  95.,  96.,  97.,  98.,  99., 101., 102.,
       106., 107., 108., 109., 116., 118., 142.,  nan])

In [65]:
df.head(2)

,ano,codigo_emec,universidade,tipo_bolsa,modalidade_ensino,curso,turno,cpf_beneficiario,sexo_beneficiario,raca_beneficiario,dt_nascimento_beneficiario,pcd,regiao,sigla_uf,municipio,idade
0,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Enfermagem,Integral,***264740**,F,Branca,1987-02-17,False,SUL,RS,santo angelo,18.0
1,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***976940**,F,Parda,1986-06-14,False,SUL,RS,frederico westphalen,19.0

### Tratamento 5
<a id="tratamento-5"></a>

Verificar coluna ``curso``

#### Criando df do value_counts da coluna cursos para usar como suporte

In [66]:
# Gerando df 'cursos' com os values_counts de cada curso
cursos = pd.DataFrame(df.curso.value_counts()).reset_index()
cursos.head()

                curso   count
0       Administracao  274695
1             Direito  225464
2           Pedagogia  195127
3  Ciencias Contabeis  105991
4          Enfermagem   99764

In [67]:
# Criando coluna 'curso_modificado' no df e no cursos para tratar os dados
df['curso_modificado'] = df['curso']
df['curso_modificado'] = df['curso_modificado'].fillna('')
cursos['curso_modificado'] = cursos['curso']
cursos['curso_modificado'] = cursos['curso_modificado'].fillna('')

In [443]:
cursos['curso_modificado'].head()

0         administracao
1               direito
2             pedagogia
3    ciencias contabeis
4            enfermagem
Name: curso_modificado, dtype: object

#### Funções para tratamento de str - coluna curso

In [69]:
def verifica_curso(curso: str):
    try:
        verifica = cursos[cursos['curso_modificado'].str.contains(curso, case=False)].groupby('curso_modificado', as_index = False).agg(count= ('count', 'sum'))
        display(verifica.shape)
        display(verifica)
    except:
        print('Não existe')

In [70]:
def remove_frase_curso(saida, entrada, case = False):
    df['curso_modificado'] = df['curso_modificado'].str.replace(saida, entrada, case = case)
    cursos['curso_modificado'] = cursos['curso_modificado'].str.replace(saida, entrada, case = case)

In [71]:
def modifica_curso(contem_curso, curso_final, case = False):
    df.loc[df['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final
    cursos.loc[cursos['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final

In [72]:
def visualiza_cursos():
    for curso in cursos['curso_modificado'].unique():
        print(curso)

#### Tratando 'A3', 'A14', 'AA'

In [73]:
# Verificando a presença de númericos
verifica_curso('\d')

(292, 2)

                                      curso_modificado  count
0                          AdministraAAo (PetrA3polis)      9
1         AdministraAAo - AdministraAAo MercadolA3gica     24
2                 AdministraAAo - Campus Iv - NiterA3i     20
3                  AdministraAAo - Campus R9 - Taquara     17
4    AdministraAAo Com HabilitaAAo Em AdministraAAo...     24
..                                                 ...    ...
287                           TecnA3logo Em Metalurgia      4
288                        TecnolA3gico Em Gastronomia     16
289                         TecnolA3gico Em Radiologia     17
290  Tecnologia Em Radiologia, DiagnA3stico Por Ima...     13
291                       Teologia: Doutrina CatA3lica     41

[292 rows x 2 columns]

In [74]:
# Realizando um replace para os códigos AA, A3, A14 e -
remove_frase_curso('AA', 'ca', True)
remove_frase_curso('A3', 'o', True)
remove_frase_curso('A14', 'u', True)
remove_frase_curso('- ', '')
remove_frase_curso('  ', ' ')
remove_frase_curso('   ', ' ')

In [75]:
# Visualizando novamente os cursos
visualiza_cursos()

Administracao
Direito
Pedagogia
Ciencias Contabeis
Enfermagem
Engenharia Civil
Psicologia
Educacao Fisica
Gestao De Recursos Humanos
Fisioterapia
Servico Social
Arquitetura E Urbanismo
Engenharia De Producao
CiAancias ContAbeis
Logistica
Marketing
Farmacia
Processos Gerenciais
Educacao FAsica
Sistemas De Informacao
Nutricao
Biomedicina
Ciencias Biologicas
Analise E Desenvolvimento De Sistemas
Odontologia
Engenharia Mecanica
Engenharia Eletrica
Comunicacao Social Publicidade E Propaganda
Historia
Ciencia Da Computacao
GestAo De Recursos Humanos
Gestao Financeira
Medicina
Gestao Ambiental
Matematica
Jornalismo
Redes De Computadores
Medicina Veterinaria
Turismo
FarmAcia
Publicidade E Propaganda
Gastronomia
Letras Portugues E Ingles
ServiAo Social
Gestao Comercial
Geografia
Agronomia
Letras Ingles
Ciencias Economicas
Radiologia
AnAlise E Desenvolvimento De Sistemas
Gestao Da Tecnologia Da Informacao
Letras
Engenharia De Controle E Automacao
Design
LogAstica
Engenharia MecAnica
Sistema De Informacao
Engenharia ElAtrica
EducaAao FAsica
Comunicacao Social
Gestao Publica
Design De Interiores
Engenharia Ambiental E Sanitaria
Comercio Exterior
Medicina VeterinAria
Estetica E Cosmetica
Quimica
Design De Moda
Engenharia Quimica
Engenharia De Computacao
Engenharia Ambiental
Filosofia
Comunicacao Social Jornalismo
Engenharia
Relacoes Internacionais
Pedagogia(Ead)
Sistemas Para Internet
Fonoaudiologia
GestAo Financeira
Teologia
Gestao Da Producao Industrial
Letras Portugues
Design Grafico
Letras Lingua Portuguesa
Artes Visuais
EstAtica E CosmAtica
GestAo Comercial
Seguranca No Trabalho
CiAancias Biologicas
Gestao Hospitalar
Gestao Da Qualidade
MatemAtica
Comunicacao Social Com Habilitacao Em Publicidade E Propaganda
Normal Superior
CiAancia Da Computacao
GestAo PAoblica
GestAo Da Tecnologia Da Informacao
Secretariado
Relacoes Publicas
Engenharia De Producao Mecanica
Automacao Industrial
Letras PortuguAas E InglAas
Petroleo E Gas
Jogos Digitais
Hotelaria
Engenharia QuAmica
CiAancias EconA micas
Secretariado Executivo
GestAo Ambiental
Administracao (Ead)
Comunicacao Social Com Habilitacao Em Jornalismo
Agronegocio
Letras Portugues E Espanhol
Relacaes Internacionais
Design GrAfico
Letras Espanhol
Negocios Imobiliarios
Fotografia
Fisica
Letras InglAas
Curso Superior De Tecnologia Em GestAo De Recursos Humanos
Biologia
CiAancias ContAbeis (Ead)
Gestao De Turismo
Estetica E Imagem Pessoal
Administracao De Recursos Humanos
GestAo Hospitalar
Moda
Zootecnia
Ciencias Sociais
Musica
ComArcio Exterior
Engenharia Ambiental E SanitAria
Engenharia De Petroleo
Radio, Tv E Internet
Eventos
Farmacia E Bioquimica
Engenharia De Alimentos
Mecatronica Industrial
GestAo Da Qualidade
Gestao De Seguranca Privada
Curso Superior De Tecnologia Em AnAlise E Desenvolvimento De Sistemas
Banco De Dados
Engenharia Da Computacao
Propaganda E Marketing
Curso Superior De Tecnologia Em Administracao De Pequenas E Medias Empresas
ServiAo Social (Ead)
Producao Audiovisual
Desenho Industrial
QuAmica
Terapia Ocupacional
Engenharia Eletronica
Producao Multimidia
Engenharia Mecatronica
GestAo De ServiAos JurAdicos E Notariais
GestAo Da Producao Industrial
Curso Superior De Tecnologia Em GestAo De Recursos Humanos(Ead)
Estetica
Letras PortuguAas
Engenharia De Software
Sociologia
Publicidade E Propaganda Publicidade E Propaganda
SeguranAa No Trabalho
Normal Superior Licenciatura Para Series Iniciais Do Ensino Fundamental (Ed)
Curso Superior De Tecnologia Em LogAstica
Ciencias Biologicas
Pedagogia (Ed)
Producao Publicitaria
Processos Quimicos
Comunicacao Social Relacoes Publicas
Curso Superior De Tecnologia Em Processos Gerenciais
Seguranca Da Informacao
Gestao De Sistemas De Informacao
Engenharia De Telecomunicacoes
Administracao Com Habilitacao Em Administracao De Empresas
Pedagogia (Ead) Fian
Design De Produto
Cinema E Audiovisual
Artes
Curso Superior De Tecnologia Em GestAo De Recursos Humanos (Area Profissional: GestAo)
Seguranca Publica
MAosica
Letras LAngua Portuguesa
Curso Superior De Tecnologia Em Marketing
Jornalismo Jornalismo
Engenharia Agronomica
Fabricacao Mecanica
Comunicacao Social Radialismo (Radio E Tv)
Administracao Administracao De Empresas
Negocios ImobiliArios
Biblioteconomia
Producao Sucroalcooleira
EstAtica
GestAo De SeguranAa Privada
Engenharia Eletronica E De Telecomunicacoes
FarmAcia E BioquAmica
Secretariado Executivo Trilingue
Gestao De Pessoas
Engenharia AgronA mica
Secretariado Executivo Bilingue
Informatica
Engenharia De Materiais
CiAancias
Construcao De Edificios
Engenharia Florestal
Ciencias Aeronauticas
Curso Superior De Tecnologia Em Gastronomia
Manutencao Industrial
Relacaes PAoblicas
Computacao
Administracao De Empresas
Design Digital
Engenharia De Petroleo E Gas
Teatro
Engenharia MecatrA nica
Engenharia Com Habilitacao Em Engenharia MecAnica
SeguranAa PAoblica
Producao Fonografica
Engenharia De Minas
Curso Superior De Tecnologia Em Design GrAfico
Comunicacao Institucional
Aviacao Civil
Curso Superior De Tecnologia Em GestAo Financeira
FAsica
Letras (Ead)
Letras Portugues E Ingles E Respectivas Literaturas
Engenharia Com Habilitacao Em Engenharia Civil
Gestao De Servicos De Saude
Gestao Portuaria
Comunicacao Social Com Habilitacao Em Relacaes PAoblicas
Quimica Industrial
Processamento De Dados
Pilotagem Profissional De Aeronaves
Engenharia Com Habilitacao Em Engenharia De Producao
Engenharia Industrial Mecanica
CiAancias Sociais
Curso Superior De Tecnologia Em Redes De Computadores
Gestao E Marketing De Pequenas E Medias Empresas
Engenharia De Energia
Letras Tradutor E Interprete
Alimentos
Curso Superior De Tecnologia Em GestAo Comercial
Educacao Artistica
CiAancia PolAtica
Ciencias
Letras PortuguAas E Espanhol
Curso Superior De Tecnologia Em Marketing (Eixo Tecnologico: GestAo E Negocios)
GestAo De Pequenas E MAdias Empresas
Curso Superior De Tecnologia Em GestAo De Recursos Humanos (Eixo Tecnologico: GestAo E Negocios)
Geologia
Biotecnologia
Engenharia Metalurgica
SeguranAa Da Informacao
Design De Games
GestAo De Turismo
Admistracao(Ed)
Administracao Publica
Curso Superior De Tecnologia Em Gestao De Marketing
Engenharia Com Habilitacao Em Engenharia ElAtrica
CiAancias Da Computacao
Embelezamento E Imagem Pessoal
Gestao De Negocios
Administracao(Ead)
Manutencao De Aeronaves
Gestao Empresarial
Curso Superior De Tecnologia Em Design De Interiores
Curso Superior De Tecnologia Em GestAo De Pequenas E MAdias Empresas (Ead)
Administracao Comercio Exterior
Gestao Desportiva E De Lazer
Curso Superior De Tecnologia Em AnAlise E Desenvolvimento De Sistemas (Eixo Tecnologico: Informacao E Comunicacao)
Gestao De Servicos Juridicos E Notariais
MatemAtica(Ead)
Admistracao(Ead) Fian
Curso Superior De Tecnologia Em Radiologia
Ciencia Economica
Negocios Da Moda
CiAancias JurAdicas E Sociais
Ciencias Atuariais
RAdio, Tv E Internet
Negocios Internacionais
Curso Superior De Tecnologia Em Redes De Computadores (Eixo Tecnologico: Informacao E Comunicacao)
Engenharia De Automacao E Controle
Curso Superior De Tecnologia Em GestAo Em Marketing (Ead)
EstAtica E Imagem Pessoal
Sistemas De Telecomunicacoes
Gestao Bancaria
Turismo E Hotelaria
Curso Superior De Tecnologia Em Processos Gerenciais(Agrupamento De Areas Profissionais: ComArcio E GestAo)(Ed)
Curso Superior De Tecnologia Em GestAo De Recursos Humanos (Ead) Fian
Curso Superior De Tecnologia Em GestAo De Recursos Humanos (Ed)
Curso Superior De Tecnologia Em GestAo Comercial (Eixo Tecnologico: GestAo E Negocios)
Secretariado Executivo TrilAngue
Comunicacao Social Radio E Televisao
Jornalismo Com Habilitacao Em Jornalismo
Curso Superior De Tecnologia Em GestAo Ambiental
Biologia (Ed)
Tradutor E Interprete
Gestao De Cooperativas
Beleza, Estetica E Imagem Pessoal
Producao PublicitAria
Curso Superior De Tecnologia Em GestAo Da Producao Industrial(Agrupamento De Areas Profissionais: IndAostria, QuAmica E Mineracao)(Ed)
Engenharia Engenharia MecAnica
Comercio Internacional
Ciencia Politica
GestAo Do Agronegocio
Curso Superior De Tecnologia Em Gastronomia (Area Profissional: Turismo E Hospitalidade)
Comunicacao Assistiva
Quimica Ambiental
Curso Superior De Tecnologia Em GestAo PAoblica Modalidade A DistAncia
Curso Superior De Tecnologia Em LogAstica (Eixo Tecnologico: GestAo E Negocios)
Matematica (Ed)
Investigacao Forense E PerAcia Criminal
Comunicacao Social Relacaes PAoblicas
Curso Superior De Tecnologia Em Redes De Computadores (Area Profissional: InformAtica)
Estetica, Beleza E Imagem Pessoal
Curso Superior De Tecnologia Em GestAo Financeira Ead
Producao MultimAdia
Engenharia De Producao Civil
Ciencias Naturais (Ed)
Gestao De Varejo
Engenharia EletrA nica
Curso Superior De Tecnologia Em Marketing (Agrupamento De Areas Profissionais: ComArcio E GestAo)
FarmAcia-BioquAmica
Comunicacao Social Com Habilitacao Em Radialismo
Curso Superior De Tecnologia Em LogAstica Modalidade A DistAncia
Curso Superior De Tecnologia Em GestAo De Negocios De Pequeno E MAdio Porte (Area Profissional: GestAo) (Ed)
Gestao De Producao Industrial
Danca
CiAancias ContAbeis (Ed)
Curso Superior De Tecnologia Em EstAtica E CosmAtica (Eixo Tecnologico: Ambiente, SaAode E SeguranAa)
Curso Superior De Tecnologia Em Design De Moda
Engenharia Da Producao
Curso Superior De Tecnologia Em EstAtica E CosmAtica
Curso Superior De Tecnologia Em GestAo De Recursos Humanos(Agrupamento De Areas Profissionais: ComArcio E GestAo)
Curso Superior De Tecnologia Em Turismo
Engenharia Mecanica Automotiva
Curso Superior De Tecnologia Em GestAo Financeira (Area Profissional: GestAo)
Direito Vergueiro
Engenharia De Producao MecAnica
CiAancias AeronAuticas
Quiropraxia
CiAancias Gerenciais, GestAo De Empresas E Negocios
CiAancias Gerenciais
Engenharia De Agrimensura
Curso Superior De Tecnologia Em LogAstica Empresarial
Curso Superior De Tecnologia Em GestAo De Marketing
Curso Superior De Tecnologia Em GestAo De Sistemas Produtivos Industriais Modalidade A DistAncia (Area Profissional: GestAo)(Ed)
Quimica (Ed)
Engenharia Com Habilitacao Em Engenharia Da Computacao
Letras Portugues/Ingles (Ed)
Direito MarquAas
Direito (Sao Gabriel)
Gestao De Ambientes Internet E Redes De Computadores
Fisica (Ed)
Engenharia Ambiental E Energias Renovaveis
Sistemas De Informacao (SAo Gabriel)
Educacao FAsica Graduacao
MecatrA nica Industrial
GestAo De Producao Industrial
CiAancias ContAbeis(Ead)
Eletronica Industrial
Gestao De Seguranca Publica
Curso Superior De Tecnologia Em AnAlise E Desenvolvimento De Sistemas(Agrupamento De Area Profissional: InformAtica E De Telecomunicacaes)
Eletrotecnica Industrial
Desenho Industrial Projeto Do Produto
Oceanografia
ServiAo Social (Ed)
Relacaes PAoblicas Relacaes PAoblicas
Curso Superior De Tecnologia Em Gestao Estrategica De Vendas
Ciencias Biologicas Modalidade Medica
Curso Superior De Tecnologia Em Gestao
CiAancias ContAbeis (Ead) Fian
Curso Superior De Tecnologia Em GestAo Financeira Modalidade A DistAncia (Area Profissional: GestAo)
Curso Superior De Tecnologia Em Administracao De Agronegocios
Gerenciamento De Redes De Computadores
Administracao PAoblica
Ciencias Da Computacao
Curso Superior De Tecnologia Em GestAo Financeira (Eixo Tecnologico: GestAo E Negocios)
Gestao De Logistica
Analise De Sistemas
Engenharia Agricola
Nutricao (Barreiro)
Curso Superior De Tecnologia Em Agronegocio
Audiovisual
Engenharia Engenharia De Producao
Curso Superior De Tecnologia Em GestAo Comercial Modalidade A DistAncia
Web Design E Programacao
Curso Superior De Tecnologia Em ComArcio Exterior
ServiAo Social (Ead) Fian
Gestao De Micro E Pequenas Empresas
Psicologia (SAo Gabriel)
Design Com Habilitacao Em Comunicacao Visual
Curso Superior De Tecnologia Em LogAstica (Ed)
Curso Superior De Tecnologia Em LogAstica (Ead) Fian
Estetica E Cosmetologia
CiAancias Biologia
Redes De Telecomunicacoes
CiAancias Com Habilitacao Em Biologia
Polimeros
Sistemas Eletricos
Gestao De Marketing
RAdio, Tv E Internet Radialismo
Design De Moda Estilismo
Seguranca Privada
Producao Agricola
Psicologia, Formacao De Psicologo
Curso Superior De Tecnologia Em GestAo Da Qualidade
Administracao (SAo Gabriel)
Engenharia Industrial MecAnica
Analise Gerencial
Engenharia Engenharia Civil
Pedagogia Administracao Escolar
Psicopedagogia
Marketing E Propaganda
Engenharia Civil Engenharia Civil
Producao De Vestuario
Engenharia De Producao (Barreiro)
Direito ChAcara Santo Antonio
Direito Cancioneiro
Administracao ChAcara Santo Antonio
Psicologia Vergueiro
Artes Visuais, Pintura, Gravura E Escultura
Engenharia De Controle E Automacao MecatrA nica
Engenharia De Controle E Automacao Com Habilitacao Em MecatrA nica
Comunicacao Social (SAo Gabriel)
Naturologia
Educacao ArtAstica
Engenharia ElAtrica Com Habilitacao Em EletrA nica
Curso Superior De Tecnologia Em AnAlise E Desenvolvimento De Sistemas(Agrupamento De Areas Profissionais: InformAtica E Telecomunicacao)
Direito (Barreiro)
Tradutor E IntArprete
Curso Superior De Tecnologia Em Processos Gerenciais (Eixo Tecnologico: GestAo E Negocios)
Curso Superior De Tecnologia Em GestAo De ComArcio Exterior
Engenharia ElAtrica EletrA nica
Comunicacao Social Cinema E Midias Digitais
Construcao Naval
QuAmica Industrial
Engenharia EletrA nica E De Telecomunicacao
 Engenharia EletrA nica E De Telecomunicacao
PedagogiaEad
Engenharia EletrA nica E De Telecomunicacaes
Curso Superior De Tecnologia Em Marketing Modalidade A DistAncia
Administracao Marketing
Administracao TatuapA
Engenharia Engenharia QuAmica
Curso Superior De Tecnologia Em EstAtica E Cosmetologia
Planejamento Logistico De Cargas
Direito TatuapA
Ecologia
Curso Superior De Tecnologia Em Sistemas De Informacao (Area Profissional: InformAtica)
Ciencias Farmaceuticas
Construcao De EdifAcios
Direito(Coracao EucarAstico)
Administracao Vergueiro
Curso Superior De Tecnologia Em Jogos Digitais
CiAancias FarmacAauticas
Engenharia MecAnica Engenharia MecAnica
Gestao Empresarial E Controladoria
Letras Com Portugues E Espanhol
Direito (PraAa Da Liberdade)
Enfermagem E Obstetricia
Letras Frances
Curso Superior De Tecnologia Em GestAo De Marketing (Area Profissional: GestAo)
Gestao De Agronegocios
Comunicacao Social Radio E TelevisAo
Curso Superior De Tecnologia Em ComArcio Exterior (Ed)
Engenharia Biomedica
Gestao De Qualidade Em Metrologia
Curso Superior De Tecnologia Em Automacao Industrial
Historia (Ed)
InformAtica
Desenvolvimento De Sistemas
Gestao De Seguros E Previdencia
Administracao Com Habilitacao Em Empreendedorismo
Estilismo
Propaganda, Publicidade E Criacao
Curso Superior De Tecnologia Em Sistemas Para Internet (Eixo Tecnologico: Informacao E Comunicacao)
Curso Superior De Tecnologia Em EstAtica, Beleza E Imagem Pessoal
Gestao De Recursos Hidricos
Letras Libras
Direito Alphaville
Desenho Industrial Design Digital
Pedagogia (Ead)
Curso Superior De Tecnologia Em Desenvolvimento De Aplicacaes Para Internet (Area Profissional: InformAtica)
Curso Superior De Tecnologia Em Logistica Empresarial (Area Profissional: Gestao)
Desenvolvimento De Aplicacaes Para Internet
Planejamento Estrategico Empresarial
Direito Norte
Comunicacao E Marketing
Direito Campus Iv Niteroi
Web Design
Gestao De Seguros
Curso Superior De Tecnologia Em EstAtica
Curso Superior De Tecnologia Em Sistemas Para Internet
Comunicacao E Multimeios
Curso Superior De Tecnologia Em SeguranAa Da Informacao
Geografia (Ed)
Comunicacao Social Producao Editorial
Estudos Sociais
Administracao Alphaville
CiAancias ContAbeis (Barreiro)
GestAo De Marketing E Vendas
Curso Superior De Tecnologia Em Processos Gerenciais (Agrupamento De Areas Profissionais: ComArcio E GestAo)
Podologia
Gestao De Pequenas E Medias Empresas
Curso Superior De Tecnologia Em Processamento De Dados
Adminstracao
Curso Superior De Tecnologia Em AnAlise E Desenvolvimento De Sistemas(Agrupamento De Areas Profissionais: ComArcio E GestAo)
Recursos Humanos Estrategicos
GestAo PortuAria
CiAancias Biologicas
Engenharia MecAnica Automacao E Sistemas
ComunicaAao Social
Naturologia Aplicada
GestAo Da Qualidade**
CiAancia EconA mica
Engenharia Com Habilitacao Em Engenharia QuAmica
Engenharia BiomAdica
Gestao Empreendedora
Psicologia, Modalidade Formacao De Psicologo
Curso Superior De Tecnologia Em Logistica
Tecnologia Em Processamento De Dados
CiAancias ContAbeis (ASnfase Em Controladoria) (SAo Gabriel)
Pedagogia Administracao Escolar De 1o E 2o Graus
Curso Superior De Tecnologia Em GestAo De LogAstica
Producao FonogrAfica
Letras PortuguAas E InglAas E Respectivas Literaturas
Superior De Tecnologia Em Administracao De Pequenas E Medias Empresas
Curso Superior De Tecnologia Em Informatica
Optica E Optometria
Engenharia
Artes Cenicas
Educacao Especial
Direito (Os)
Administracao Com Habilitacao Em GestAo De Sistemas De Informacao
Engenharia Engenharia Da Computacao
Comunicacao Social Comunicacao Mercadologica
Sistemas De Informacao (Barreiro)
Desenvolvimento Para Web
Tecnologia Em GestAo De Recursos Humanos
Administracao Analise De Sistemas
Administracao MarquAas
Engenharia Com Habilitacao Em Engenharia QuAmica
Curso Superior De Tecnologia De GestAo Em LogAstica Empresarial
Engenharia ElAtrica Com Habilitacao Em Telecomunicacaes
Telematica
Processos QuAmicos
Administracao Com Habilitacao Em Comercio Exterior
Petroleo E GAs
Psicologia ChAcara Santo Antonio
Curso Superior De Tecnologia Em AnAlise E Desenvolvimento De Sistemas(Eixo Tecnologico: Informacao E Comunicacao)
Administracao(Ed)
EletrA nica Industrial
Engenharia Eletrica E Eletronica
Curso Superior De Tecnologia Em GestAo De Tecnologia Da Informacao
Letras, Habilitacao PortuguAas E InglAas(Ead)
Mecanica
Psicologia MarquAas
Engenharia Civil E Ambiental
Administracao (Barreiro)
Enfermagem Vergueiro
Engenharia Aeronautica
Administracao De Empresas TatuapA
Producao De Petroleo E Gas
Curso Superior De Tecnologia Em GestAo De Recursos Humanos (Eixotecnologico: GestAo E Negocios)
Gestao De Negocios Securitarios
Gestao Executiva De Negocios
Curso Superior De Tecnologia Em Secretariado Modalidade A DistAncia
Engenharia Civil (Barreiro)
Educacao FAsica E Esporte
Comunicacao Empresarial
AdministraAao
Curso Superior De Tecnologia Em Automacao E Robotica
Engenharia De Bioprocessos
Administracao Com Habilitacao Em ComArcio Exterior
Curso Superior De Tecnologia Em GestAo De SeguranAa PAoblica E Privada
Administracao GestAo Internacional De FinanAas
Engenharia ElAtrica (ASnfase Em Sistemas ElAtricos)
Curso Superior De Tecnologia Em GestAo Em LogAstica Empresarial
Engenharia ElAtrica (ASnfase Em Telecomunicacao)
Curso Superior De Tecnologia Em GestAo De SeguranAa Privada
Curso Superior De Tecnologia Em Radiologia MAdica (Area Profissional: SaAode)
GestAo De Cooperativas
Engenharia De Seguranca No Trabalho
Pedagogia Imirim
Curso Superior De Tecnologia Em Hotelaria (Area Profissional: Turismo E Hospitalidade)
CiAancias ContAbeis ChAcara Santo AntA nio
Engenharia SanitAria E Ambiental
Engenharia Civil MarquAas
Multimidia Digital
Curso Superior De Tecnologia Em Criacao E Producao GrAfica Digital
Comunicacao Social TatuapA
Secretariado Executivo TrilAngue (PortuguAas/InglAas/Espanhol)
Nutricao Vergueiro
Engenharia De Bioprocessos E Biotecnologia
Engenharia Com Habilitacao Em Engenharia Mecanica
Normal Superior Com Habilitacao Em MagistArio Da Educacao Infantil
Ciencias Naturais (Ead)
Design De Animacao
Curso Superior De Tecnologia Em Programacao De Jogos Digitais
Curso Superior De Tecnologia Em GestAo Comercial (Eixotecnologico: GestAo E Negocios)
Engenharia Da Computacao(SAo Gabriel)
Curso Superior De Tecnologia Em Jogos Digitais(SAo Gabriel)
Letras Lingua Inglesa
Curso Superior De Tecnologia Em LogAstica (Area Profissional: GestAo)
Curso Superior De Tecnologia Em Marketing (Ed)
Administracao (PraAa Da Liberdade)
Desenvolvimento De Software
Curso Superior De Tecnologia Em Gastronomia (Eixo Tecnologico: Hospitalidade E Lazer)
Curso Superior De Tecnologia Em Analise E Desenvolvimento De Sistemas(Eixo Tecnologico: Informacao E Comunicacao)
Engenharia Ambiental E Energias RenovAveis
Enfermagem E ObstetrAcia
Quimica Tecnologica
QuAmica Com Atribuicaes Tecnologicas

#### Tratando 'Curso superior de tecnologia'

In [76]:
# Verificando as linhas com presença da palavra 'curso'
verifica_curso('curso ')

(1270, 2)

                                       curso_modificado  count
0     Curso De Farmacia E Bioquimica (Praticas E Tec...     18
1     Curso De Formacao Especifica Em Ambientacao E ...      2
2     Curso De Formacao Especifica Em Gestao De Serv...     14
3     Curso De Graduacao Tecnologica Em GestAo De Pe...     14
4                                    Curso De Pedagogia     15
...                                                 ...    ...
1265  Curso Superior Tecnologia GestAo Financeira De...     16
1266  Curso Superior Tecnologia GestAo Financeira De...     16
1267  Curso Superor De Tecnologia Em GestAo Da Producao      7
1268  Curso Superor De Tecnologia Em GestAo Da Produ...      7
1269  Programa De Formacao Para Professores Em Servi...      1

[1270 rows x 2 columns]

In [77]:
# Removendo as frases relacionadas a 'Curso superior de tecnologia em'
lista_remover = ['curso superior de tecnologia em ', 'curso superior de tecnologia de ', 'curso superior de tecnologia ', 'Curso Superior De Formacao Especifica ', 'Curso Sequencial De Formacao Especifica Em ', 'Curso Superior De ', 'Curso Superior Em Formacao Especifica Em ', 'Curso Superior Tecnologia ', 'Curso Superior Detecnologia ',  'Curso Superior De Tecnologia Em ', 'Curso De Formacao Especifica Em ', 'Curso Suoerior De Tecnologia Em ', 'Curso Supeior De Tecnologia Em ', 'Curso Superior De Tecnologia - ', 'Curso De Tecnologia Em ', 'curso ', 'superior de ', 'superior ' ]
for remove in lista_remover:
    remove_frase_curso(remove, '')

In [78]:
# Confirmando modificações
verifica_curso('curso ')

(0, 2)

Empty DataFrame
Columns: [curso_modificado, count]
Index: []

#### Ciências Naturais, Exatas e Biológicas

##### Estatistica

In [79]:
# Verificando os cursos que contem 'estatística'
verifica_curso('estatistica')

(1, 2)

        curso_modificado  count
0  Ciencias Estatisticas     34

In [80]:
# Alterando a coluna curso modificado que contem 'estatistica' para apenas 'estatistica' 
modifica_curso('estatistica', 'estatistica')
modifica_curso('estatastica', 'estatistica')

In [81]:
# Confirmando modificações
verifica_curso('estatistica')

(1, 2)

  curso_modificado  count
0      estatistica     40

##### Matematica

In [82]:
# Verificando os cursos que contem 'matematica'
verifica_curso('matematica')

(24, 2)

                                  curso_modificado  count
0          CiAancias Com Habilitacao Em MatemAtica     41
1                             CiAancias MatemAtica     18
2                         Lic. Em MatemAtica (Ead)      3
3                                       MatemAtica   4002
4   MatemAtica (ASnfase Em CiAancia Da Computacao)      9
5                                  MatemAtica (Os)      1
6            MatemAtica Com ASnfase Em InformAtica     14
7                                    MatemAtica Ij      3
8                            MatemAtica Interlagos      2
9                             MatemAtica Madureira      6
10                              MatemAtica TatuapA      3
11                                 MatemAtica(Ead)    278
12                                  MatemAtica(Ed)     23
13                                      Matematica  14399
14                                 Matematica (Ed)    206
15                                 Matematica (Mb)     25
16                                 Matematica (Mc)     10
17                                 Matematica (Rg)     27
18                                 Matematica (Vm)      4
19             Matematica Aplicada E Computacional      7
20                             Matematica E Fisica      6
21                         Matematica Indianopolis      4
22                   Matematica Licenciatura Plena      1
23                           Matematica Matematica     22

In [83]:
# Alterando a coluna curso modificado que contem 'matematica' para apenas 'matematica'
modifica_curso('matematica', 'matematica')

In [84]:
# Confirmando modificações
verifica_curso('matematica')

(1, 2)

  curso_modificado  count
0       matematica  19114

##### Ciências Contábeis

In [85]:
# Verificando os cursos que contem 'ciencias contabeis
verifica_curso('ciencias contabeis')

(5, 2)

                curso_modificado   count
0             Ciencias ContAbeis      18
1             Ciencias Contabeis  105991
2        Ciencias Contabeis (Mb)      16
3  Ciencias Contabeis Alphaville      16
4     Ciencias Contabeis Morumbi       2

In [86]:
# Alterando a coluna curso modificado que contem 'estatistica' para apenas 'estatistica'
modifica_curso('ciencias contabeis', 'ciencias contabeis')
modifica_curso('ciancias contabeis', 'ciencias contabeis')
modifica_curso('ciaancias contabeis', 'ciencias contabeis')
modifica_curso('CiAacias ContAbeis', 'ciencias contabeis')
modifica_curso('contabilidade', 'ciencias contabeis')

In [87]:
# Confirmando modificações
verifica_curso('ciencias contabeis')

(1, 2)

     curso_modificado   count
0  ciencias contabeis  141610

##### Ciências Econômicas

In [88]:
# Verificando os cursos que contem 'ciencias contabeis
verifica_curso('ciencias economicas')

(5, 2)

                                    curso_modificado  count
0                                Ciencias Economicas  10162
1                      Ciencias Economicas (Ipanema)     18
2                           Ciencias Economicas (Mr)      3
3                       Ciencias Economicas (Tijuca)     10
4  Ciencias Economicas( Enfase Em Economia De Emp...     47

In [89]:
# Alterando a coluna curso modificado que contem 'ciencias economicas' para apenas 'ciencias economicas'
modifica_curso('Ciencias Economicas', 'ciencias economicas')
modifica_curso('Ciaancias Econa micas', 'ciencias economicas')
modifica_curso('Ciencia Economica', 'ciencias economicas')

In [90]:
# Confirmando modificações
verifica_curso('ciencias economicas')

(1, 2)

      curso_modificado  count
0  ciencias economicas  13132

##### Aeronautica

In [91]:
# Verificando os cursos que contem 'aeronautica
verifica_curso('aeronautica')

(13, 2)

                                     curso_modificado  count
0                     Engenharia AeronAutica E EspaAo     20
1                              CiAancias AeronAuticas    178
2        CiAancias AeronAuticas Aeronaves De Asa Fixa      5
3   CiAancias AeronAuticas Com Habilitacao Em Aero...      5
4   CiAancias AeronAuticas Com Habilitacao Em Pilo...     24
5   CiAancias AeronAuticas Habilitacao Em Aeronave...      5
6             CiAancias AeronAuticas Piloto Comercial     24
7                               Ciencias Aeronauticas    565
8              Ciencias Aeronauticas Piloto Comercial      1
9                              Engenharia AeronAutica     55
10                    Engenharia AeronAutica E EspaAo     20
11                             Engenharia Aeronautica     76
12                    Engenharia Aeronautica E Espaco     49

In [92]:
# Alterando a coluna curso modificado que contem 'ciencias aeronauticas' e 'engenharia aeronautica' para apenas 'ciencias aeronauticas' e 'engenharia aeronautica'
modifica_curso('ciaancias aeronauticas', 'ciencias aeronauticas')
modifica_curso('ciencias aeronauticas', 'ciencias aeronauticas')
modifica_curso('engenharia aeronautica', 'engenharia aeronautica')

In [93]:
# Confirmando modificações
verifica_curso('aeronautica')

(2, 2)

         curso_modificado  count
0   ciencias aeronauticas    807
1  engenharia aeronautica    220

##### Física

In [94]:
# Verificando os cursos que contem 'fisica'
verifica_curso('fisica')

(13, 2)

                         curso_modificado  count
0                     Abi Educacao Fisica      9
1              Atividade Fisica E Esporte     18
2          Bacharelado Em Educacao Fisica      9
3                         Educacao Fisica  61599
4                    Educacao Fisica (Rg)      6
5         Educacao Fisica Campus Ii Barra     12
6   Educacao Fisica E Desportos (Recreio)     20
7                                  Fisica   2011
8                             Fisica (Cl)      7
9                            Fisica (Ead)     50
10                            Fisica (Ed)    168
11                      Fisica Industrial      1
12                          Fisica Medica     38

In [95]:
# Alterando a coluna curso modificado que contem 'fisica' para apenas 'fisica'
condicao_1_df = (df['curso_modificado'].str.contains('fisica', case = False))
condicao_2_df = (df['curso_modificado'].str.contains('fasica', case = False))
excessao_1_df = ~ (df['curso_modificado'].str.contains('educacao', case = False))
excessao_2_df = ~ (df['curso_modificado'].str.contains('esporte', case = False))

condicao_1_cur = (cursos['curso_modificado'].str.contains('fisica', case = False))
condicao_2_cur = (cursos['curso_modificado'].str.contains('fasica', case = False))
excessao_1_cur = ~ (cursos['curso_modificado'].str.contains('educacao', case = False))
excessao_2_cur = ~ (cursos['curso_modificado'].str.contains('esporte', case = False))

df.loc[(condicao_1_df | condicao_2_df) & excessao_1_df & excessao_2_df, 'curso_modificado'] = 'fisica'
cursos.loc[(condicao_1_cur | condicao_2_cur) & excessao_1_cur & excessao_2_cur, 'curso_modificado'] = 'fisica'

In [96]:
# Confirmando modificações
verifica_curso('fisica')

(8, 2)

                        curso_modificado  count
0                    Abi Educacao Fisica      9
1             Atividade Fisica E Esporte     18
2         Bacharelado Em Educacao Fisica      9
3                        Educacao Fisica  61599
4                   Educacao Fisica (Rg)      6
5        Educacao Fisica Campus Ii Barra     12
6  Educacao Fisica E Desportos (Recreio)     20
7                                 fisica  10406

##### Quimica

In [97]:
# Verificando os cursos que contem 'quimica'
verifica_curso('quimica')

(25, 2)

                                     curso_modificado  count
0                                    Ciencias Quimica     58
1   De Farmacia E Bioquimica (Praticas E Tecnicas ...     18
2   Engenharia Com Habilitacao Em Engenharia De Pr...      1
3                      Engenharia De Producao Quimica     33
4                       Engenharia Industrial Quimica     23
5                                  Engenharia Quimica   6281
6   Fabricacao Mecanica (Agrupamento De Areas Prof...      9
7                 Farmacia Bioquimica Pocos De Caldas      5
8                               Farmacia E Bioquimica   1358
9   Farmacia E Bioquimica (Gestao De Farmacias E D...     37
10  Farmacia E Bioquimica (Praticas E Tecnicas Lab...     40
11          Farmacia E Bioquimica Farmacia Industrial     29
12                 Gestao Para Industria Petroquimica      6
13  Producao Joalheira (Agrupamento De Areas Profi...      3
14                                            Quimica   6477
15                                      Quimica (Ead)     51
16                                       Quimica (Ed)    175
17                                       Quimica (Mb)      8
18                                       Quimica (Tp)      1
19                                  Quimica Ambiental    208
20                               Quimica De Alimentos      5
21                   Quimica De Processos Industriais      6
22                                 Quimica Industrial    431
23                 Quimica Industrial De Alimentos Sr     11
24                                Quimica Tecnologica     65

In [98]:
# Alterando a coluna curso modificado que contem 'Quimica Industrial' ou 'Quimica Ambiental' para apenas 'quimica industrial' e 'quimica ambiental'
modifica_curso('Quimica Industrial', 'quimica industrial')
modifica_curso('Quimica Ambiental', 'quimica ambiental')
modifica_curso('CiAancias QuAmica', 'quimica')
modifica_curso('CiAanciasQuAmica', 'quimica')

In [99]:
# Alterando a coluna curso modificado que contem 'quimica' e excessoes para apenas 'quimica'
condicao_df = (df['curso_modificado'].str.contains('quimica', case = False))
excessao_1_df = ~(df['curso_modificado'] == 'quimica industrial')
excessao_2_df = ~(df['curso_modificado'] == 'quimica ambiental')
excessao_3_df = ~(df['curso_modificado'].str.contains('engenharia', case = False))
excessao_4_df = ~(df['curso_modificado'].str.contains('bioquimica', case = False))
excessao_5_df = ~(df['curso_modificado'].str.contains('petroquimica', case = False))
excessao_6_df = ~(df['curso_modificado'].str.contains('producao joalheira', case = False))

condicao_cur = (cursos['curso_modificado'].str.contains('quimica', case = False))
excessao_1_cur = ~(cursos['curso_modificado'] == 'quimica industrial')
excessao_2_cur = ~(cursos['curso_modificado'] == 'quimica ambiental')
excessao_3_cur = ~(cursos['curso_modificado'].str.contains('engenharia', case = False))
excessao_4_cur = ~(cursos['curso_modificado'].str.contains('bioquimica', case = False))
excessao_5_cur = ~(cursos['curso_modificado'].str.contains('petroquimica', case = False))
excessao_6_cur = ~(cursos['curso_modificado'].str.contains('producao joalheira', case = False))

df.loc[condicao_df & excessao_1_df & excessao_2_df & excessao_3_df & excessao_4_df & excessao_5_df & excessao_6_df, 'curso_modificado'] = 'quimica'
cursos.loc[condicao_cur & excessao_1_cur & excessao_2_cur & excessao_3_cur & excessao_4_cur & excessao_5_cur & excessao_6_cur, 'curso_modificado'] = 'quimica'

In [100]:
# Confirmando modificações
verifica_curso('quimica')

(15, 2)

                                     curso_modificado  count
0   De Farmacia E Bioquimica (Praticas E Tecnicas ...     18
1   Engenharia Com Habilitacao Em Engenharia De Pr...      1
2                      Engenharia De Producao Quimica     33
3                       Engenharia Industrial Quimica     23
4                                  Engenharia Quimica   6281
5                 Farmacia Bioquimica Pocos De Caldas      5
6                               Farmacia E Bioquimica   1358
7   Farmacia E Bioquimica (Gestao De Farmacias E D...     37
8   Farmacia E Bioquimica (Praticas E Tecnicas Lab...     40
9           Farmacia E Bioquimica Farmacia Industrial     29
10                 Gestao Para Industria Petroquimica      6
11  Producao Joalheira (Agrupamento De Areas Profi...      3
12                                            quimica   6880
13                                  quimica ambiental    208
14                                 quimica industrial    442

##### Biologia

In [101]:
# Verificando os cursos que contem 'biologia'
verifica_curso('biologi')

(38, 2)

                                     curso_modificado  count
0                             Abi Ciencias Biologicas      6
1                                        Agrobiologia      1
2                                            Biologia   1876
3                                       Biologia (Ed)    225
4                     Biologia Modalidade Biomedicina     46
5                                  CiAancias Biologia    142
6                                CiAancias Biologicas   4378
7                               CiAancias Biologicas      88
8   CiAancias Biologicas (ASnfases: Controle Ambie...      1
9   CiAancias Biologicas -ASnfase Em Biotecnologia...     34
10      CiAancias Biologicas ASnfase Em Biotecnologia     19
11  CiAancias Biologicas ASnfase Em Biotecnologia ...     34
12                   CiAancias Biologicas Bacharelado      2
13                      CiAancias Biologicas Biologia     27
14                 CiAancias Biologicas Biotecnologia     33
15         CiAancias Biologicas Campus Norte Shopping     10
16             CiAancias Biologicas Campus Petropolis      3
17             CiAancias Biologicas Campus R9 Taquara      5
18                   CiAancias Biologicas Cancioneiro      2
19         CiAancias Biologicas ChAcara Santo Antonio      2
20  CiAancias Biologicas Com Habilitacao Em Biomed...     36
21                      CiAancias Biologicas Marginal      4
22                      CiAancias Biologicas MarquAas     13
23             CiAancias Biologicas Modalidade MAdica     48
24                       CiAancias Biologicas TatuapA      8
25                     CiAancias Biologicas Vergueiro      8
26                           CiAancias Biologicas(Ed)     15
27              CiAancias Com Habilitacao Em Biologia    142
28                                  Ciencias Biologia     27
29                                Ciencias Biologicas  24521
30                               Ciencias Biologicas     855
31                        Ciencias Biologicas (Mb Ii)     32
32                           Ciencias Biologicas (Mb)      7
33              Ciencias Biologicas Modalidade Medica    159
34             Ciencias Biologicas: Modalidade Medica     34
35         Licenciatura Em CiAancias Biologicas (Ead)     14
36  Programa Especial De Formacao De Docente Biologia      1
37  Programa Especial De Formacao Pedagogica Biologia      1

In [102]:
# Alterando a coluna curso modificado que contem 'biologia' para apenas 'biologia'
modifica_curso('biologia', 'biologia')
modifica_curso('Biologicas', 'biologia')

In [103]:
# Confirmando modificações
verifica_curso('biologia')

(1, 2)

  curso_modificado  count
0         biologia  32859

##### Economia

In [104]:
# Verificando os cursos que contem 'economia'
verifica_curso('economia')

(3, 2)

  curso_modificado  count
0  Biblioteconomia    614
1         Economia      9
2      Economia Ij      1

In [105]:
# Alterando a coluna curso modificado que contem 'economia' para apenas 'economia'
modifica_curso('economia', 'economia')

In [106]:
# Confirmando modificações
verifica_curso('economia')

(1, 2)

  curso_modificado  count
0         economia    624

#### Ciencias Humanas, Sociais e da Terra

##### Comunicação Social

In [107]:
# Verificando os cursos que contem 'ciencias sociais'
verifica_curso('socia')

(109, 2)

                                      curso_modificado  count
0                                 Abi Ciencias Sociais      3
1                        CiAancias JurAdicas E Sociais    268
2                                    CiAancias Sociais    390
3        CiAancias Sociais Licenciatura Ou Bacharelado      1
4              Ciencias Juridicas E Sociais Zona Norte     16
..                                                 ...    ...
104                         ServiAo Social E Cidadania      2
105                            ServiAo Social RebouAas      2
106                                     Servico Social  41950
107       Tecnologia Em Lazer E Desenvolvimento Social      3
108  Tecnologia Em Organizacao De Eventos Sociais E...      3

[109 rows x 2 columns]

In [108]:
# Verificando os cursos que contem 'comunicacao social'
verifica_curso('comunicacao socia')

(74, 2)

                                     curso_modificado  count
0                                  ComunicacAo Social     10
1                                  Comunicacao Social  15018
2                                 Comunicacao Social      12
3                            Comunicacao Social (Abc)      7
4          Comunicacao Social (Barra Jardim Oceanico)      2
..                                                ...    ...
69             Comunicacao Social Sao Jose Dos Campos      6
70                         Comunicacao Social TatuapA     67
71                       Comunicacao Social Vergueiro     60
72  Comunicacao Social: Gestao Da Comunicacao Orga...      5
73       Comunicacao Social: Publicidade E Propaganda     46

[74 rows x 2 columns]

In [109]:
# Criando lista com todos os cursos com comunicacao social
comunicacao_social = [curso for curso in cursos[cursos['curso_modificado'].str.contains('comunicacao social', case= False)]['curso_modificado'].unique()]
comunicacao_social[60:]

['Comunicacao Social: Gestao Da Comunicacao Organizacional',
 'Comunicacao Social Cinema Digital',
 'Comunicacao Social (Vm)',
 'Comunicacao Social Campus I RebouAas',
 'Comunicacao Social (Tp)',
 'Comunicacao Social Com Habilitacao Em Comunicacao Digital',
 'Comunicacao Social Audio Visual',
 'Comunicacao Social Com Habilitacao Em Audio Visual',
 'Comunicacao Social Audiovisual',
 'Comunicacao Social (Barra Jardim Oceanico)',
 'Comunicacao Social MAdia EletrA nica',
 'Comunicacao Social Com Habilitacao Em Fotografia',
 'Comunicacao Social (Mr)',
 'Comunicacao Social Multimidia']

In [110]:
# Alterando a coluna curso modificado que contem 'comunicacao social' para apenas 'comunicacao social'
modifica_curso('comunicacao social', 'comunicacao social')
modifica_curso('comunicaaao social', 'comunicacao social')

In [111]:
# Confirmando modificações
verifica_curso('comunicacao social')

(1, 2)

     curso_modificado  count
0  comunicacao social  58404

##### Ciências Sociais

In [112]:
# Verificando os cursos que contem ' sociais'
verifica_curso('socia')

(35, 2)

                                     curso_modificado  count
0                                Abi Ciencias Sociais      3
1                       CiAancias JurAdicas E Sociais    268
2                                   CiAancias Sociais    390
3       CiAancias Sociais Licenciatura Ou Bacharelado      1
4             Ciencias Juridicas E Sociais Zona Norte     16
5                                    Ciencias Sociais   1650
6   Ciencias Sociais, Politicas Internacionais E C...      3
7   Cuso Tecnologia Em Organizacao De Eventos Soci...      1
8                                     Ecologia Social      9
9                                     Educador Social     11
10                                    Estudos Sociais     92
11        Estudos Sociais Com Habilitacao Em Historia     18
12                           Estudos Sociais Historia     37
13  Eventos(Agrupamento De Areas Profissionais: La...      6
14  Gastronomia(Agrupamento De Areas Profissionais...     17
15  Gastronomia(Agrupamento De Areas Profissionais...     23
16              Gerontologia E Desenvolvimento Social      2
17  Hotelaria (Agrupamento De Area Profissional: L...     10
18  Hotelaria (Agrupamento De Areas Profissionais:...      4
19                     Lazer E Desenvolvimento Social     13
20                    Lazer Em Desenvolvimento Social     11
21  Organizacao De Eventos (Area Profissional: Laz...      4
22  Organizacao De Eventos Desportivos E De Lazer ...      7
23  Organizacao E Promocao De Eventos Sociais E De...      1
24                                     ServiAo Social  11085
25                               ServiAo Social (Ead)   1233
26                          ServiAo Social (Ead) Fian    149
27                                ServiAo Social (Ed)    161
28                    ServiAo Social Campus Madureira      2
29                         ServiAo Social E Cidadania      2
30                            ServiAo Social RebouAas      2
31                                     Servico Social  41950
32       Tecnologia Em Lazer E Desenvolvimento Social      3
33  Tecnologia Em Organizacao De Eventos Sociais E...      3
34                                 comunicacao social  58404

In [113]:
# Alterando a coluna curso modificado que contem 'ciencias sociais' para apenas 'ciencias sociais'
modifica_curso('ciencias sociais', 'ciencias sociais')
modifica_curso('ciaancias sociais', 'ciencias sociais')
modifica_curso('CiAancias JurAdicas', 'ciencias sociais')
modifica_curso('Ciencias Juridicas', 'ciencias sociais')

In [114]:
# Confirmando modificações
verifica_curso('socia')

(29, 2)

                                     curso_modificado  count
0   Cuso Tecnologia Em Organizacao De Eventos Soci...      1
1                                     Ecologia Social      9
2                                     Educador Social     11
3                                     Estudos Sociais     92
4         Estudos Sociais Com Habilitacao Em Historia     18
5                            Estudos Sociais Historia     37
6   Eventos(Agrupamento De Areas Profissionais: La...      6
7   Gastronomia(Agrupamento De Areas Profissionais...     17
8   Gastronomia(Agrupamento De Areas Profissionais...     23
9               Gerontologia E Desenvolvimento Social      2
10  Hotelaria (Agrupamento De Area Profissional: L...     10
11  Hotelaria (Agrupamento De Areas Profissionais:...      4
12                     Lazer E Desenvolvimento Social     13
13                    Lazer Em Desenvolvimento Social     11
14  Organizacao De Eventos (Area Profissional: Laz...      4
15  Organizacao De Eventos Desportivos E De Lazer ...      7
16  Organizacao E Promocao De Eventos Sociais E De...      1
17                                     ServiAo Social  11085
18                               ServiAo Social (Ead)   1233
19                          ServiAo Social (Ead) Fian    149
20                                ServiAo Social (Ed)    161
21                    ServiAo Social Campus Madureira      2
22                         ServiAo Social E Cidadania      2
23                            ServiAo Social RebouAas      2
24                                     Servico Social  41950
25       Tecnologia Em Lazer E Desenvolvimento Social      3
26  Tecnologia Em Organizacao De Eventos Sociais E...      3
27                                   ciencias sociais   2340
28                                 comunicacao social  58404

##### Serviço Social

In [115]:
# Verificando os cursos que contem 'servico social'
verifica_curso('servico social')

(1, 2)

  curso_modificado  count
0   Servico Social  41950

In [116]:
# Verificando os cursos que contem 'servico social'
verifica_curso('serviao social')

(7, 2)

                  curso_modificado  count
0                   ServiAo Social  11085
1             ServiAo Social (Ead)   1233
2        ServiAo Social (Ead) Fian    149
3              ServiAo Social (Ed)    161
4  ServiAo Social Campus Madureira      2
5       ServiAo Social E Cidadania      2
6          ServiAo Social RebouAas      2

In [117]:
# Alterando a coluna curso modificado que contem 'servico social' para apenas 'servico social'
modifica_curso('serviao social', 'servico social')
modifica_curso('servico social', 'servico social')

In [118]:
# Confirmando modificações
verifica_curso('servico social')

(1, 2)

  curso_modificado  count
0   servico social  54584

##### Gestao da Producao Industrial

In [119]:
# Verificando os cursos que contem 'Gestao da Producao Industrial'
verifica_curso('Gestao da Producao Industrial')

(10, 2)

                                    curso_modificado  count
0                      GestAo Da Producao Industrial   1058
1  GestAo Da Producao Industrial (Eixo Tecnologic...      3
2  GestAo Da Producao Industrial (Eixo Tecnologic...      5
3  GestAo Da Producao Industrial(Agrupamento Das ...      7
4  GestAo Da Producao Industrial(Agrupamento De A...      9
5  GestAo Da Producao Industrial(Agrupamento De A...    217
6  GestAo Da Producao Industrial(Eixo Tecnologico...      8
7                      Gestao Da Producao Industrial   5232
8  Superor De Tecnologia Em GestAo Da Producao In...      7
9        Tecnologia Em GestAo Da Producao Industrial      2

In [120]:
# Alterando a coluna curso modificado que contem 'Gestao da Producao Industrial' para apenas 'Gestao da Producao Industrial'
modifica_curso('Gestao da Producao Industrial', 'gestao de qualidade e producao')

In [121]:
# Confirmando modificações
verifica_curso('Gestao da Producao Industrial')

(0, 2)

Empty DataFrame
Columns: [curso_modificado, count]
Index: []

##### Geografia

In [122]:
# Verificando os cursos que contem 'Geografia'
verifica_curso('Geografia')

(12, 2)

                              curso_modificado  count
0                                Abi Geografia      4
1                                    Geografia  10402
2                              Geografia (Ead)     31
3                               Geografia (Ed)     93
4                            Geografia (Mb Ii)      2
5                               Geografia (Mb)     25
6                    Geografia Campus Centro I      1
7   Geografia Com Habilitacao Em Meio Ambiente      6
8                    Geografia E Meio Ambiente      6
9                                Geografia Ead      7
10                               Geografia(Ed)     20
11                     Lic. Em Geografia (Ead)      9

In [123]:
# Alterando a coluna curso modificado que contem 'Geografia' para apenas 'Geografia'
modifica_curso('Geografia', 'geografia')

In [124]:
# Confirmando modificações
verifica_curso('Geografia')

(1, 2)

  curso_modificado  count
0        geografia  10606

##### Gestao Ambiental

In [125]:
# Verificando os cursos que contem 'Gestao Ambiental'
verifica_curso('Gestao Ambiental')

(21, 2)

                                     curso_modificado  count
0                         Ecologia E Gestao Ambiental      2
1                  Em Planejamento E Gestao Ambiental      2
2   Engenharia De Producao, Com ASnfases Em GestAo...     34
3             Formacao EspecAfica Em GestAo Ambiental      3
4                                    GestAo Ambiental   2639
5   GestAo Ambiental (Agrupamento De Areas Profiss...      5
6   GestAo Ambiental (Area Profissional: Meio Ambi...     12
7   GestAo Ambiental (Area Profissional: Meio Ambi...      2
8   GestAo Ambiental (Eixo Tecnologico: Ambiente, ...     13
9   GestAo Ambiental (Eixotecnologico: Ambiente Sa...      3
10  GestAo Ambiental Urbana (Area Profissional: Me...     20
11  GestAo Ambiental(Agrupamento De Area Profissio...     19
12  GestAo Ambiental(Agrupamento De Areas Profissi...     20
13                                   Gestao Ambiental  14996
14  Gestao Ambiental (Area Profissional: Meio Ambi...      4
15  Gestao Ambiental E Seguranca Do Trabalho (Area...     31
16               Gestao Ambiental Em Cidades E Portos      4
17  Gestao Ambiental Empresarial (Area Profissiona...     35
18                        Gestao Ambiental Industrial     21
19                    Planejamento E Gestao Ambiental     20
20        Sistemas Da Qualidade E De Gestao Ambiental     26

In [126]:
# Alterando a coluna curso modificado que contem 'Gestao Ambiental' para apenas 'Gestao Ambiental'
modifica_curso('Gestao Ambiental', 'Gestao Ambiental')

In [127]:
# Confirmando modificações
verifica_curso('Gestao Ambiental')

(1, 2)

   curso_modificado  count
0  Gestao Ambiental  17911

##### Gestao Bancaria

In [128]:
# Verificando os cursos que contem 'Gestao Bancaria'
verifica_curso('Gestao Bancaria')

(6, 2)

                                    curso_modificado  count
0                                    GestAo BancAria     11
1        GestAo BancAria (Area Profissional: GestAo)     21
2  GestAo BancAria (Area Profissional: GestAo) Ta...     20
3                                    Gestao Bancaria    253
4                               Gestao Bancaria (Os)      6
5               Gestao Bancaria (Unidade Ponte Rasa)     23

In [129]:
# Verificando os cursos que contem 'banco'
verifica_curso('Bancar')

(9, 2)

                                    curso_modificado  count
0                                    GestAo BancAria     11
1        GestAo BancAria (Area Profissional: GestAo)     21
2  GestAo BancAria (Area Profissional: GestAo) Ta...     20
3                                    Gestao Bancaria    253
4                               Gestao Bancaria (Os)      6
5               Gestao Bancaria (Unidade Ponte Rasa)     23
6  Gestao De Negocios Financeiros E Bancarios (Ar...      8
7                  Gestao De Servicos Bancarios (Ed)     14
8                       Gestao Financeira E Bancaria     18

In [130]:
# Alterando a coluna curso modificado que contem 'Gestao Bancaria' para apenas 'Gestao Bancaria'
modifica_curso('bancar', 'gestao bancaria')

In [131]:
# Confirmando modificações
verifica_curso('Gestao Bancaria')

(1, 2)

  curso_modificado  count
0  gestao bancaria    374

##### Gestao Comercial

In [132]:
# Verificando os cursos que contem 'Gestao Comercial'
verifica_curso('Gestao Comercial')

(19, 2)

                                     curso_modificado  count
0                                    GestAo Comercial   5308
1                              GestAo Comercial (Abc)      4
2   GestAo Comercial (Agrupamento De Areas Profiss...     11
3            GestAo Comercial (Area: ComArcio GestAo)      8
4   GestAo Comercial (Eixo Tecnologico: GestAo E N...    234
5   GestAo Comercial (Eixotecnologico: GestAo E Ne...     67
6                                GestAo Comercial Ead     17
7                               GestAo Comercial Ilha      1
8             GestAo Comercial Modalidade A DistAncia    151
9   GestAo Comercial(Agrupamento De Area Profissio...     16
10  GestAo Comercial(Agrupamento De Areas Profissi...     37
11  GestAo Comercial(Agrupamento De Areas Profissi...     11
12  GestAo Comercial(Eixo Tecnologico: GestAo E Ne...      5
13  GestAo Comercial(Eixos Tecnologicos De GestAo ...      3
14                                   Gestao Comercial  10433
15           Gestao Comercial (Barra Jardim Oceanico)      2
16    Gestao Comercial (Metro-Carioca Goncalves Dias)      1
17                              Gestao Comercial (Vm)      9
18                    Gestao Comercial Contact Center      9

In [133]:
# Verificando os cursos que contem 'Comercial'
verifica_curso('Comercial')

(27, 2)

                                     curso_modificado  count
0    Em Gestao De Vendas E De Representacao Comercial      8
1                                    GestAo Comercial   5308
2                              GestAo Comercial (Abc)      4
3   GestAo Comercial (Agrupamento De Areas Profiss...     11
4            GestAo Comercial (Area: ComArcio GestAo)      8
5   GestAo Comercial (Eixo Tecnologico: GestAo E N...    234
6   GestAo Comercial (Eixotecnologico: GestAo E Ne...     67
7                                GestAo Comercial Ead     17
8                               GestAo Comercial Ilha      1
9             GestAo Comercial Modalidade A DistAncia    151
10  GestAo Comercial(Agrupamento De Area Profissio...     16
11  GestAo Comercial(Agrupamento De Areas Profissi...     37
12  GestAo Comercial(Agrupamento De Areas Profissi...     11
13  GestAo Comercial(Eixo Tecnologico: GestAo E Ne...      5
14  GestAo Comercial(Eixos Tecnologicos De GestAo ...      3
15                                   Gestao Comercial  10433
16           Gestao Comercial (Barra Jardim Oceanico)      2
17    Gestao Comercial (Metro-Carioca Goncalves Dias)      1
18                              Gestao Comercial (Vm)      9
19                    Gestao Comercial Contact Center      9
20                  Gestao De Representacao Comercial      6
21                Informatica Empresarial E Comercial      6
22                                LogAstica Comercial     27
23  LogAstica Comercial (Area Profissional: ComArcio)      5
24  LogAstica Comercial (Area Profissional: ComArc...     13
25              Negociacao E Relacionamento Comercial      4
26                   Pilotagem Comercial De Aeronaves      2

In [134]:
# Alterando a coluna curso modificado que contem 'gestao comercial' para apenas 'gestao comercial'
modifica_curso('Gestao Comercial', 'gestao comercial')
modifica_curso('Representacao Comercia', 'gestao comercial')

In [135]:
# Confirmando modificações
verifica_curso('comercial')

(7, 2)

                                    curso_modificado  count
0                Informatica Empresarial E Comercial      6
1                                LogAstica Comercial     27
2  LogAstica Comercial (Area Profissional: ComArcio)      5
3  LogAstica Comercial (Area Profissional: ComArc...     13
4              Negociacao E Relacionamento Comercial      4
5                   Pilotagem Comercial De Aeronaves      2
6                                   gestao comercial  16341

##### Gestoes

In [136]:
# Verificando os cursos que contem 'gestaao'
verifica_curso('gestao')

(719, 2)

                                      curso_modificado  count
0    Administracao Com Habilitacao Em GestAo Da Inf...     27
1    Administracao Com Habilitacao Em GestAo Da Inf...     27
2    Administracao Com Habilitacao Em GestAo De Neg...      5
3    Administracao Com Habilitacao Em GestAo De Peq...      3
4    Administracao Com Habilitacao Em GestAo De Sis...     82
..                                                 ...    ...
714              Tecnologia GestAo De Recursos Humanos     12
715                  Teconologia Em Gestao De Financas      2
716                                    gestao bancaria    374
717                                   gestao comercial  16341
718                     gestao de qualidade e producao   6548

[719 rows x 2 columns]

In [137]:
gestao_1 = [['GestAo Da Avaliacao', 'gestao da avaliacao'],
 ['GestAo Da Controladoria Financeira', 'gestao financeira'],
 ['GestAo Da Producao', 'gestao de qualidade e producao'],
 ['GestAo Da Qualidade', 'gestao de qualidade e producao'],
 ['GestAo Da SeguranAa', 'gestao de seguranca'],
 ['GestAo Das Organizacaes', 'gestao das organizacaes'],
 ['GestAo De Ambientes Informatizados', 'gestao de ambientes informatizados'],
 ['GestAo De Bancos',
  'gestao de bancos'],
 ['GestAo De ComArcio E ServiAos', 'gestao comercial'],
 ['GestAo De ConcessionArias E Franquias',
  'gestao de concessionarias e franquias'],
 ['GestAo De Controle Ambiental',
  'gestao de ambiental'],
 ['GestAo De Cooperativas', 'gestao de cooperativas'],
 ['GestAo De Empreendimentos',
  'gestao de empreendimentos'],
 ['GestAo De Equinocultura', 'gestao de equinocultura'],
 ['GestAo De FinanAas',
  'gestao de financas'],
 ['GestAo De Financeira',
  'gestao de financeira'],
 ['GestAo De Instituicaes Financeiras', 'gestao de instituicaes financeiras'],
 ['GestAo De LogistAca',
  'gestao logistica'],
 ['GestAo De Lojas E Pontos De Vendas', 'gestao logistica'],
 ['GestAo De Micro E Pequenas Empresas',
  'gestao de negocios'],
 ['GestAo De Moda', 'gestao de moda'],
 ['GestAo De Negocios', 'gestao de negocios'],
 ['GestAo De Pequenas E MAdias Empresas',
  'gestao de negocios'],
 ['GestAo De Pessoas', 'gestao de pessoas'],
 ['GestAo De PolAticas PAoblicas', 'gestao de politicas publicas'],
 ['GestAo De Processos Industriais', 'gestao de processos industriais'],
 ['GestAo De Producao Em RAdio',
  'gestao em radio e tv'],
 ['GestAo De Producao Industrial', 'gestao de qualidade e producao'],
 ['GestAo De Qualidade', 'gestao de qualidade e producao'],
 ['GestAo De RAdio E Tv', 'gestao de radio e tv'],
 ['GestAo De ReHumanos', 'gestao de recursos humanos'],
 ['GestAo De Recuros Humanos',
  'gestao de recuros humanos'],
 ['GestAo De Representacaes Comerciais',
  'gestao de representacoes comerciais'],
 ['GestAo De SaAode PAoblica', 'gestao de saude publica'],
 ['GestAo De SeguranAa', 'gestao de seguranca'],
 ['GestAo De Seguros', 'gestao de seguros'],
 ['GestAo De ServiAos Hospitalares', 'gestao de servicos hospitalares'],
 ['GestAo De ServiAos JudiciArios E Notariais',
  'gestao de servicos juridicos'],
 ['GestAo De ServiAos JurAdicos', 'gestao de servicos juridicos'],
 ['GestAo De Sistemas', 'gestao de sistemas'],
 ['GestAo De Tecnologia', 'gestao de tecnologia'],
 ['GestAo De Varejo', 'gestao de varejo'],
 ['GestAo De Vendas', 'gestao de vendas'],
 ['GestAo Desportiv', 'gestao desportiva'],
 ['GestAo E Empreendedorismo', 'gestao de empreendimentos'],
 ['GestAo Em Equinocultura', 'gestao em equinocultura'],
 ['GestAo Em Gerenciamento De Redes', 'gerenciamento de redes'],
 ['GestAo Em RAdio E Tv', 'gestao em radio e tv']]

In [138]:
gestao_2 = [['GestAo Em Gerencimanto De Redes Paulista',
  'gestao de redes'],
 ['GestAo Em SaAode Ambiental', 'gestao ambiental'],
 ['GestAo Em ServiAos', 'gestao de servicos'],
 ['GestAo Em ServiAos Hospitalares', 'gestao de servicos hospitalares'],
 ['GestAo Em Sistemas Informacao', 'gestao de sistemas informacao'],
 ['GestAo Empreendedora', 'gestao de empreendimentos'],
 ['GestAo Empresarial', 'gestao empresarial'],
 ['GestAo EstratAgica', 'gestao estrategica'],
 ['GestAo Financeira', 'gestao financeira'],
 ['GestAo Fiscal E TributAria', 'gestao fiscal e tributaria'],
 ['GestAo Hospitalar', 'gestao hospitalar'],
 ['GestAo ImobiliAria', 'gestao imobiliaria'],
 ['GestAo Mercadologica', 'gestao mercadologica'],
 ['GestAo PAoblica', 'gestao publica'],
 ['GestAo PortuAria', 'gestao portuaria'],
 ['GestAo Qualidade', 'gestao de qualidade e producao'],
 ['Gestao Administrativa', 'gestao administrativa'],
 ['Gestao Ambiental', 'gestao ambiental'],
 ['Gestao Contabil', 'gestao contabil'],
 ['Gestao Cultural', 'gestao cultural'],
 ['Gestao Da Informacao', 'gestao da informacao'],
 ['Gestao De Ambientes', 'gestao de ambientes'],
 ['Gestao De Call Center', 'gestao de call center'],
 ['Gestao De Cidades', 'gestao de cidades'],
 ['Gestao De Comercio', 'gestao comercial'],
 ['Gestao De Custos', 'gestao de custos'],
 ['Gestao De Edificacoes', 'gestao de edificacoes'],
 ['Gestao De Empresas', 'gestao de empresas'],
 ['Gestao De Financas', 'gestao de financas'],
 ['Gestao De Fundos De Investimentos', 'gestao financeira'],
 ['Gestao De Hoteis', 'gestao de hoteis'],
 ['Gestao De Instituicoes Financeiras', 'gestao financeira'],
 ['Gestao De Internet E Redes De Computadores',
  'gestao deredes de computadores'],
 ['Gestao De Micro, Pequenas E Medias Empresas',
  'gestao de negocios'],
 ['Gestao De Organizacoes Publicas', 'gestao de orgaos publicos'],
 ['Gestao De Orgaos Publicos', 'gestao de orgaos publicos'],
 ['Gestao De Pequenas E Medias Empresas',
  'gestao de negocios'],
 ['Gestao De Planejamento Financeiro', 'gestao financeira']]

In [139]:
# Alterando a coluna curso modificado que contem 'curso' para apenas 'curso'
for curso in gestao_1:
    modifica_curso(curso[0], curso[1])

for curso in gestao_2:
    modifica_curso(curso[0], curso[1])

In [140]:
# Confirmando modificações
verifica_curso('gestao')

(446, 2)

                                      curso_modificado  count
0       Administracao GestAo Internacional De FinanAas     71
1                Administracao Gestao De Empresa Aerea      1
2                     Administracao Gestao De Servicos     25
3    AnAlise E Desenvolvimento De Sistemas(Agrupame...     89
4    ComArcio Exterior (Agrupamento De Areas Profis...      7
..                                                 ...    ...
441                                 gestao imobiliaria     42
442                                   gestao logistica     11
443                               gestao mercadologica     47
444                                   gestao portuaria    519
445                                     gestao publica   3864

[446 rows x 2 columns]

##### Música

In [141]:
# Verificando os cursos que contem 'musica'
verifica_curso('musica')

(12, 2)

                         curso_modificado  count
0               Educacao Artistica Musica      5
1                                  Musica   1642
2                            Musica Canto     23
3                       Musica Composicao      5
4                           Musica Cordas      2
5                 Musica Educacao Musical     28
6                      Musica Instrumento     46
7        Musica Musica Popular Brasileira     25
8                          Musica Popular      3
9                         Musica Regencia      3
10                  Musica Regencia Coral      2
11  Producao FonogrAfica Producao Musical     19

In [142]:
# Verificando os cursos que contem 'MAosica'
verifica_curso('MAosica')

(14, 2)

                                     curso_modificado  count
0                          Educacao ArtAstica MAosica      3
1                                             MAosica    698
2                                       MAosica Canto      5
3                                 MAosica Canto Canto      2
4                    MAosica Com Habilitacao Em Canto      2
5               MAosica Com Habilitacao Em Composicao      2
6                   MAosica Com Habilitacao Em ViolAo      9
7                                  MAosica Composicao      2
8                                      MAosica Cordas      6
9                                 MAosica Instrumento     12
10                 MAosica MAosica Popular Brasileira     14
11                                  MAosica RegAancia      2
12                                     MAosica ViolAo      9
13  Producao FonogrAfica Producao De MAosica Eletr...     16

In [143]:
# Alterando a coluna curso modificado que contem 'musica' para apenas 'musica'
modifica_curso('musica', 'musica')
modifica_curso('MAosica', 'musica')

In [144]:
# Confirmando modificações
verifica_curso('musica')

(1, 2)

  curso_modificado  count
0           musica   2585

##### Normal

In [145]:
# Verificando os cursos que contem 'normal'
verifica_curso('normal')

(48, 2)

                                     curso_modificado  count
0   Formacao De Professores Para Educacao Infantil...      8
1                                 Normal ( Bocaiuva )      2
2                                  Normal (Ararangua)      1
3                                  Normal (Barreiras)      1
4                                      Normal (Betim)      1
5                                    Normal (Boquira)      3
6                          Normal (Brasilia De Minas)      1
7                                    Normal (Brumado)      3
8                                     Normal (Butia )      1
9                                    Normal (Cacador)      3
10                                  Normal (Campinas)      2
11                              Normal (Campo Grande)      2
12                                   Normal (Cangucu)      2
13                            Normal (Carlos Chagas )      1
14                                   Normal (Caruaru)      2
15                            Normal (Caxias Do Sul )      2
16                                    Normal (Cocos )      1
17                                Normal (Concordia )      2
18                                  Normal (Corbelia)      2
19                        Normal (Cornelio Procopio )      1
20                                     Normal (Coxim)      1
21                            Normal (Cruz Das Almas)      1
22                                Normal (Diamantina)      1
23                                        Normal (Ed)      2
24                              Normal (Francisco Sa)      1
25                      Normal (Frederico Westphalen)      1
26                                Normal (Garibaldi )      3
27                                    Normal (Gurupi)      1
28                                      Normal 3 Anos     35
29         Normal Anos Iniciais Do Ensino Fundamental     11
30  Normal Com Habilitacao Em Anos Iniciais Do Ens...     31
31  Normal Com Habilitacao Em DocAancia Em Educaca...     51
32  Normal Com Habilitacao Em MagistArio Da Educac...     67
33  Normal Com Habilitacao Em MagistArio Dos Anos ...     46
34                                 Normal Divinopolis      1
35                                Normal Encruzilhada      3
36                                    Normal Espinosa      1
37                                   Normal Esplanada      5
38                           Normal Euclides Da Cunha      1
39                                   Normal Eunapolis      2
40                            Normal Feira De Santana      4
41                                      Normal Imirim      2
42  Normal Licenciatura Para Series Iniciais Do En...    872
43             Normal Magisterio Da Educacao Infantil      1
44  Normal Magisterio Dos Anos Iniciais Do Ensino ...     10
45                                    Normal Superior   7547
46                Normal Superior(Guaranta Do Norte )      1
47                                     Normal Tatuape      3

In [146]:
# Alterando a coluna curso modificado que contem 'normal' para apenas 'superior normal'
modifica_curso('normal', 'superior normal')

##### Recursos Humanos

In [147]:
# Verificando os cursos que contem 'recursos humanos'
verifica_curso('recursos humanos')

(80, 2)

                                     curso_modificado  count
0   Administracao Com Habilitacao Em Recursos Humanos     15
1                   Administracao De Recursos Humanos   1754
2                      Administracao Recursos Humanos     11
3                 Desenvolvimento De Recursos Humanos      9
4                       Em GestAo De Recursos Humanos     42
..                                                ...    ...
75  Sequencial De Formacao EspecAfica Em Administr...     16
76  Sequencial De Formacao EspecAfica Em GestAo De...      4
77           Tecnologia Em GestAo De Recursos Humanos     91
78              Tecnologia GestAo De Recursos Humanos     12
79                         gestao de recursos humanos     10

[80 rows x 2 columns]

In [148]:
# Alterando a coluna curso modificado que contem 'recursos humanos' para apenas 'recursos humanos'
modifica_curso('recursos humanos', 'recursos humanos')

In [149]:
# Confirmando modificações
verifica_curso('recursos humanos')

(1, 2)

   curso_modificado  count
0  recursos humanos  83309

##### Logística

In [150]:
# Verificando os cursos que contem 'logistica'
verifica_curso('logistica')

(19, 2)

                                     curso_modificado  count
0                  Estrategia E Logistica Empresarial      7
1                                 Gestao De Logistica    158
2                     Gestao De Logistica Empresarial     13
3                      Gestao De Operacoes Logisticas     10
4                   Gestao De Suprimentos E Logistica     43
5                                 Gestao Em Logistica     33
6                       Gestao Integrada De Logistica      7
7                                    Gestao Logistica     30
8                                           Logistica  32380
9   Logistica (Agrupamento De Area Profissianais C...      1
10                                     Logistica (Tp)      2
11                      Logistica E Gestao De Compras     25
12                 Logistica E Transportes Multimodal     47
13                              Logistica Empresarial      6
14  Logistica Empresarial (Area Profissional: Gestao)     97
15                                  Logistica Resende      4
16  Logistica(Agrupamento De Areas Profissionais: ...     21
17                  Tecnologia De GestAo Em Logistica     11
18                                   gestao logistica     11

In [151]:
# Verificando os cursos que contem 'logistica'
verifica_curso('logastica')

(55, 2)

                                     curso_modificado  count
0   Administracao Com ASnfase Em LogAstica E ServiAos     11
1                      Cursos Tecnologia Em LogAstica     14
2   Engenharia De Producao ASnfase Em GestAo E Log...     30
3                                 GestAo De LogAstica    107
4     GestAo De LogAstica (Area Profissional: GestAo)     22
5    GestAo De LogAstica (Area Profissional:ComArcio)     11
6      GestAo De LogAstica (Area Profissional:GestAo)     23
7   GestAo De LogAstica De Transportes E Distribuicao      4
8                                 GestAo Em LogAstica      8
9                     GestAo Em LogAstica Empresarial    163
10              GestAo Em LogAstica Empresarial (Abc)      8
11               GestAo Em LogAstica Empresarial (Os)     13
12           GestAo Em LogAstica Empresarial Anchieta     18
13       GestAo LogAstica (Area Profissional: GestAo)     12
14                                          LogAstica   9328
15  LogAstica (Agrupamento Das Areas Profissionais...     11
16  LogAstica (Agrupamento De Areas Profissionais:...     62
17   LogAstica (Area Profissional: ComArcio E GestAo)     25
18            LogAstica (Area Profissional: ComArcio)     52
19              LogAstica (Area Profissional: GestAo)     66
20                               LogAstica (Barreiro)     25
21                                    LogAstica (Ead)     22
22                               LogAstica (Ead) Fian    145
23                                     LogAstica (Ed)    145
24    LogAstica (Eixo Tecnologico: GestAo E Negocios)    206
25  LogAstica (Eixo Tecnologico: GestAo E Negocios...      8
26     LogAstica (Eixotecnologico: GestAo E Negocios)     46
27                                 LogAstica Anchieta     25
28                             LogAstica Campo Grande      7
29                   LogAstica ChAcara Santo AntA nio     17
30                                LogAstica Comercial     27
31  LogAstica Comercial (Area Profissional: ComArcio)      5
32  LogAstica Comercial (Area Profissional: ComArc...     13
33            LogAstica De Armazenamento E Transporte      8
34                                      LogAstica Ead      2
35                              LogAstica Empresarial    182
36  LogAstica Empresarial (Area Profissional: GestAo)      8
37                     LogAstica Empresarial Marginal      9
38                 LogAstica Empresarial Nova AmArica     13
39                               LogAstica Interlagos      5
40                                 LogAstica Marginal      9
41                  LogAstica MarquAas De SAo Vicente     28
42                   LogAstica Modalidade A DistAncia    193
43                             LogAstica Nova AmArica     13
44                                  LogAstica TatuapA     13
45  LogAstica(Agrupamento De Area Profissional: Co...     25
46  LogAstica(Agrupamento De Areas Profissionais: ...     51
47             LogAstica(Area Profissional: ComArcio)     10
48                                     LogAstica(Ead)      9
49     LogAstica(Eixo Tecnologico: GestAo E Negocios)     35
50  Tecnologia Em GestAo De LogAstica De Transport...      4
51      Tecnologia Em GestAo Em LogAstica Empresarial      9
52  Tecnologia Em GestAo Em LogAstica Empresarial ...      8
53                            Tecnologia Em LogAstica      7
54                Tecnologia Em LogAstica Empresarial     11

In [152]:
# Alterando a coluna curso modificado que contem 'servico social' para apenas 'servico social'
modifica_curso('logistica', 'gestao logistica')
modifica_curso('logastica', 'gestao logistica')

In [153]:
# Confirmando modificações
verifica_curso('logistica')

(1, 2)

   curso_modificado  count
0  gestao logistica  44237

##### Fotografia

In [154]:
# Verificando os cursos que contem 'fotografia'
verifica_curso('fotografia')

(13, 2)

                                     curso_modificado  count
0                           Bacharelado Em Fotografia      8
1   Comunicacao Digital ( Fotografia Digital ) Pau...     56
2   Comunicacao Digital (Fotografia Digital) Margi...      2
3              Comunicacao Digital Fotografia Digital      2
4                                          Fotografia   2130
5         Fotografia (Area Profissional: Comunicacao)     10
6   Fotografia (Eixo Tecnologico De Producao Cultu...     37
7                                 Fotografia Anchieta      1
8   Fotografia Digital (Area Profissional: Comunic...      2
9                       Fotografia Marginal Pinheiros      2
10                                   Fotografia Norte      1
11                                Fotografia Paulista     28
12                           Tecnologia Em Fotografia      4

In [155]:
# Alterando a coluna curso modificado que contem 'fotografia' para apenas 'fotografia'
modifica_curso('fotografia', 'fotografia')

In [156]:
# Confirmando modificações
verifica_curso('fotografia')

(1, 2)

  curso_modificado  count
0       fotografia   2283

##### Agronegocio, Agronomia e Agropecuaria

In [157]:
# Verificando os cursos que contem 'agronegocio'
verifica_curso('agronegocio')

(22, 2)

                                     curso_modificado  count
0                           Administracao Agronegocio     19
1                       Administracao De Agronegocios    157
2                                         Agronegocio   3211
3   Agronegocio (Area Profissional: AgropecuAria E...     10
4   Agronegocio(Agrupamento De Areas Profissionais...      1
5   Agronegocio(Agrupamento De Areas Profissionais...     15
6                                        Agronegocios     20
7   Agronegocios (Agrupamento De Areas Profissiona...     24
8     Agronegocios (Area Profissional: AgropecuAria )      4
9   Agronegociosagrupamento De Areas Profissionais...     24
10                          Em Gestao De Agronegocios      3
11                          Em Gestao Em Agronegocios     20
12                             GestAo De Agronegocios     35
13  GestAo De Agronegocios (Area Profissional: Ges...     32
14                         GestAo De Agronegocios(Ed)     10
15                              GestAo Do Agronegocio    211
16                             GestAo Em Agronegocios     42
17  GestAo Em Agronegocios (Area Profissional: Ges...      2
18                             Gestao De Agronegocios    141
19    Gestao De Agronegocios E Mercado De Commodities     18
20       Processos Gerenciais: Enfase Em Agronegocios      7
21        Processos Gerenciais: Enfase M Agronegocios      8

In [158]:
# Alterando a coluna curso modificado que contem 'agronegocio' para apenas 'agronegocio'
modifica_curso('agronegocio', 'agronegocios')
modifica_curso('agrononia', 'agronomia')
modifica_curso('agronomia', 'agronomia')
modifica_curso('agropecuaria', 'agropecuaria')
modifica_curso('agroindustria', 'agroindustria')
modifica_curso('agroindaostria', 'agroindustria')

In [159]:
# Confirmando modificações
verifica_curso('agro')

(7, 2)

         curso_modificado  count
0          Agrozootecnica     14
1  Engenharia AgronA mica    589
2   Engenharia Agronomica    666
3           agroindustria     60
4            agronegocios   4014
5               agronomia  10461
6            agropecuaria    113

##### Comércio Internacional

In [160]:
# Verificando os cursos que contem 'comercio exterior'
verifica_curso('comercio exterior')

(12, 2)

                                     curso_modificado  count
0   Administracao Com Habilitacao Em Comercio Exte...     78
1                     Administracao Comercio Exterior    284
2                  Administracao Em Comercio Exterior     47
3                                   Comercio Exterior   6876
4     Comercio Exterior (Area Profissional: Comercio)      9
5         Comercio Exterior E Negocios Internacionais     40
6                           Comercio Exterior Tatuape      5
7       Comercio Exterior(Area Profissional:Comercio)     24
8         Em Gestao De Marketing Em Comercio Exterior      9
9                       Gerencia De Comercio Exterior     12
10                        Gestao Em Comercio Exterior     15
11                     Marketing Em Comercio Exterior      2

In [161]:
# Verificando os cursos que contem 'comarcio exterior'
verifica_curso('comarcio exterior')

(32, 2)

                                     curso_modificado  count
0   Administracao Com Habilitacao Em ComArcio Exte...     71
1                     Administracao ComArcio Exterior     38
2   Administracao De Empresas Com Habilitacao Em C...      7
3                                   ComArcio Exterior   1770
4   ComArcio Exterior (Agrupamento De Areas Profis...      7
5   ComArcio Exterior (Area Profissional: ComArcio...      3
6     ComArcio Exterior (Area Profissional: ComArcio)      4
7   ComArcio Exterior (Area Profissional: ComArcio...      8
8       ComArcio Exterior (Area Profissional: GestAo)      1
9        ComArcio Exterior (Area Profissional:GestAo)      1
10                             ComArcio Exterior (Ed)    105
11  ComArcio Exterior (Eixo Tecnologico: GestAo E ...      2
12                         ComArcio Exterior Centro I      1
13            ComArcio Exterior ChAcara Santo Antonio     17
14                         ComArcio Exterior Paulista     24
15                          ComArcio Exterior TatuapA     26
16  ComArcio Exterior(Agrupamento De Areas Profiss...     11
17  ComArcio Exterior(Eixo Tecnologico De GestAo E...     14
18  ComArcio Exterior(Eixo Tecnologico: GestAo E N...     13
19                        GestAo De ComArcio Exterior    122
20  GestAo De ComArcio Exterior (Area Profissional...     46
21            GestAo De ComArcio Exterior A DistAncia      1
22               GestAo De ComArcio Exterior Anchieta      8
23               GestAo De ComArcio Exterior Centro I      1
24               GestAo De ComArcio Exterior Paulista     48
25            GestAo Em ComArcio Exterior Cancioneiro     17
26  GestAo Em ComArcio Exterior ChAcara Santo Antonio     17
27                GestAo Em ComArcio Exterior TatuapA     13
28  Relacaes Internacionais Com Habilitacao Em Com...     32
29        Relacaes Internacionais E ComArcio Exterior     32
30  Tecnologia Em GestAo De ComArcio Exterior A Di...      1
31  Tecnologia Em GestAo De ComArcio Exterior Cent...      1

In [162]:
# Alterando a coluna curso modificado que contem 'comercio exterior' para apenas 'comercio internacional'
modifica_curso('comarcio exterior', 'comercio internacional')
modifica_curso('comercio exterior', 'comercio internacional')
modifica_curso('comercio internacional', 'comercio internacional')
modifica_curso('comarcio internacional', 'comercio internacional')

In [163]:
# Confirmando modificações
verifica_curso('comercio internacional')

(1, 2)

         curso_modificado  count
0  comercio internacional  10100

##### Ciências Políticas

In [164]:
# Verificando os cursos que contem 'ciencias politicas'
verifica_curso('ciencias politicas')

(1, 2)

     curso_modificado  count
0  Ciencias Politicas     24

In [165]:
# Verificando os cursos que contem 'ciencias politicas'
verifica_curso('ciaancias polaticas')

(1, 2)

      curso_modificado  count
0  CiAancias PolAticas     29

In [166]:
# Alterando a coluna curso modificado que contem 'ciencias politicas' para apenas 'ciencias politicas'
modifica_curso('ciaancia polatica', 'ciencias politicas')
modifica_curso('ciaancia polaticas', 'ciencias politicas')
modifica_curso('ciaancias polatica', 'ciencias politicas')
modifica_curso('ciaancias polaticas', 'ciencias politicas')
modifica_curso('ciencias politicas', 'ciencias politicas')
modifica_curso('ciencia politica', 'ciencias politicas')

In [167]:
# Confirmando modificações
verifica_curso('ciencias politicas')

(1, 2)

     curso_modificado  count
0  ciencias politicas    641

##### Biotecnologia

In [168]:
# Verificando os cursos que contem 'biotecnologia'
verifica_curso('biotecnologia')

(6, 2)

                             curso_modificado  count
0                Bioprocessos E Biotecnologia     25
1                               Biotecnologia    340
2                    Biotecnologia Industrial     47
3   Biotecnologia Industrial ASnfase Enologia     10
4  Engenharia De Bioprocessos E Biotecnologia     67
5                     Gestao Em Biotecnologia      1

In [169]:
# Alterando a coluna curso modificado que contem 'biotecnologia' para apenas 'biotecnologia'
modifica_curso('biotecnologia', 'biotecnologia')

In [170]:
# Confirmando modificações
verifica_curso('biotecnologia')

(1, 2)

  curso_modificado  count
0    biotecnologia    490

##### Comunicação Digital

In [171]:
# Verificando os cursos que contem 'comunicacao digital'
verifica_curso('comunicacao digital')

(16, 2)

                                     curso_modificado  count
0                                 Comunicacao Digital     18
1              Comunicacao Digital ( Design GrAfico )     15
2     Comunicacao Digital ( Design GrAfico ) Paulista     26
3               Comunicacao Digital (Desenho GrAfico)     55
4         Comunicacao Digital (Desenho GrAfico) Norte     34
5       Comunicacao Digital (Desenho GrAfico) TatuapA     42
6               Comunicacao Digital (Desenho Grafico)      3
7             Comunicacao Digital (Design Multimidia)     25
8     Comunicacao Digital (Design Multimidia) TatuapA     19
9              Comunicacao Digital (Designer Grafico)      4
10                Comunicacao Digital (Video Digital)      1
11     Comunicacao Digital Design GrAfico Cancioneiro     16
12  Comunicacao Digital Design GrAfico ChAcara San...     16
13     Comunicacao Digital Design MultimAdia Paulista     34
14              Comunicacao Digital Design Multimidia     34
15  Tecnoligia Comunicacao Digital ( Design GrAfic...     26

In [172]:
# Alterando a coluna curso modificado que contem 'comunicacao digital' para apenas 'comunicacao digital'
modifica_curso('comunicacao digital', 'comunicacao digital')
modifica_curso('Comunicacao E Ilustracao', 'comunicacao digital')

In [173]:
# Confirmando modificações
verifica_curso('comunicacao digital')

(1, 2)

      curso_modificado  count
0  comunicacao digital    374

##### Comunicação Empresarial

In [174]:
# Verificando os cursos que contem 'comunicacao empresarial'
verifica_curso('comunicacao empresarial')

(9, 2)

                                    curso_modificado  count
0                            Comunicacao Empresarial     76
1  Comunicacao Empresarial (Area Profissional: Co...     11
2                    Comunicacao Empresarial (Mb Ii)      8
3                       Comunicacao Empresarial (Mb)     14
4                       Comunicacao Empresarial (Os)      8
5                       Comunicacao Empresarial (Rg)      6
6                       Comunicacao Empresarial (Vm)      8
7   Comunicacao Empresarial E Estrategias Em Eventos      7
8                  Gestao De Comunicacao Empresarial      5

In [175]:
# Alterando a coluna curso modificado que contem 'comunicacao empresarial' para apenas 'comunicacao empresarial'
modifica_curso('comunicacao empresarial', 'comunicacao empresarial')

In [176]:
# Confirmando modificações
verifica_curso('comunicacao empresarial')

(1, 2)

          curso_modificado  count
0  comunicacao empresarial    143

##### Complementacao Pedagogica

In [177]:
# Verificando os cursos que contem 'complementacao pedagogica'
verifica_curso('complementacao pedagogica')

(4, 2)

                                    curso_modificado  count
0                          Complementacao Pedagogica     11
1  Complementacao Pedagogica Para Licenciados Ple...      3
2  Complementacao Pedagogica Para Licenciados Ple...      1
3  Complementacao Pedagogica Para Licenciados Ple...      1

In [178]:
# Alterando a coluna curso modificado que contem 'complementacao pedagogica' para apenas 'complementacao pedagogica'
modifica_curso('complementacao pedagogica', 'complementacao pedagogica')

In [179]:
# Confirmando modificações
verifica_curso('complementacao pedagogica')

(1, 2)

            curso_modificado  count
0  complementacao pedagogica     16

##### Comunicacao Para Web

In [180]:
# Verificando os cursos que contem 'comunicacao para web'
verifica_curso('comunicacao para web')

(5, 2)

                                    curso_modificado  count
0                               Comunicacao Para Web     21
1  Comunicacao Para Web (Area Profissional: Comun...     10
2                  Comunicacao Para Web (Web Design)      2
3            Comunicacao Para Web (Web Design) Norte      1
4  Comunicacao Para Web Design ( Area Profissiona...     17

In [181]:
# Alterando a coluna curso modificado que contem 'comunicacao para web' para apenas 'comunicacao para web'
modifica_curso('comunicacao para web', 'comunicacao para web')
modifica_curso('comunicacao para  web', 'comunicacao para web')

In [182]:
# Confirmando modificações
verifica_curso('comunicacao para web')

(1, 2)

       curso_modificado  count
0  comunicacao para web     51

##### Comunicação Institucional

In [183]:
# Verificando os cursos que contem 'comunicacao institucional '
verifica_curso('comunicacao institucional ')

(1, 2)

                                    curso_modificado  count
0  Comunicacao Institucional (Eixo Tecnologico: P...      8

In [184]:
# Alterando a coluna curso modificado que contem 'comunicacao institucional' para apenas 'comunicacao empresarial'
modifica_curso('comunicacao institucional', 'comunicacao empresarial')

In [185]:
# Confirmando modificações
verifica_curso('comunicacao empresarial')

(1, 2)

          curso_modificado  count
0  comunicacao empresarial    681

##### Construcao de Edifício

In [186]:
# Verificando os cursos que contem 'construcao de eficicio'
verifica_curso('construcao de edificio')

(2, 2)

                                    curso_modificado  count
0                            Construcao De Edificios    573
1  Construcao De Edificios (Eixotecnologico: Infr...      4

In [187]:
# Alterando a coluna curso modificado que contem 'construcao de eficicio' para apenas 'construcao de eficicio'
modifica_curso('construcao de edificio', 'construcao civil')
modifica_curso('construcao de edifacio', 'construcao civil')
modifica_curso('construcao civil', 'construcao civil')

In [188]:
# Confirmando modificações
verifica_curso('construcao civil')

(1, 2)

   curso_modificado  count
0  construcao civil    714

##### Cosmetologia e Estetica

In [189]:
# Verificando os cursos que contem 'cosmetologia e estetica'
verifica_curso('estatic')

(24, 2)

                                     curso_modificado  count
0                   Beleza, EstAtica E Imagem Pessoal     36
1                             Cosmetologia E EstAtica     94
2                    Cosmetologia E EstAtica Anchieta     12
3                     Cosmetologia E EstAtica TatuapA     44
4   Cuso Em Tecnologia Em EstAtica E CosmAtica (Ei...     29
5   Cuso Tecnologia Em EstAtica E CosmAtica (Eixo ...     29
6                                            EstAtica    702
7                 EstAtica Corporal, Facial E Capilar     40
8                                EstAtica E CosmAtica   5209
9   EstAtica E CosmAtica (Eixo Tecnologico: Ambien...    215
10  EstAtica E CosmAtica (Eixotecnologico: Ambient...     32
11                EstAtica E CosmAtica (Experimental)     37
12                      EstAtica E CosmAtica Anchieta     12
13                     EstAtica E CosmAtica CosmAtica     48
14                      EstAtica E CosmAtica Marginal     16
15                      EstAtica E CosmAtica MarquAas     13
16                       EstAtica E CosmAtica TatuapA     22
17                            EstAtica E Cosmetologia    145
18                   EstAtica E Cosmetologia Aplicada     20
19                          EstAtica E Imagem Pessoal    261
20                  EstAtica, Beleza E Imagem Pessoal    134
21              Tecnologia Em EstAtica E Cosmetologia      2
22    Tecnologia Em EstAtica, Beleza E Imagem Pessoal     64
23                       Visagismo E EstAtica Capilar     38

In [190]:
# Alterando a coluna curso modificado que contem 'cosmetologia e estetica' para apenas 'cosmetologia e estetica'
modifica_curso('cosmetologia e estetica', 'estetica e cosmetologia')
modifica_curso('cosmetologia e estatica', 'estetica e cosmetologia')
modifica_curso('cosmetologia e estastica', 'estetica e cosmetologia')
modifica_curso('cosmetologia e estestica', 'estetica e cosmetologia')
modifica_curso('cosmeticos', 'estetica e cosmetologia')
modifica_curso('cosmetica', 'estetica e cosmetologia')
modifica_curso('cosmatic', 'estetica e cosmetologia')
modifica_curso('estetic', 'estetica e cosmetologia')
modifica_curso('estatic', 'estetica e cosmetologia')

In [191]:
# Confirmando modificações
verifica_curso('estetica')

(1, 2)

          curso_modificado  count
0  estetica e cosmetologia  17378

##### Criacao e Producao Grafica Digital

In [192]:
# Verificando os cursos que contem 'criacao e producao'
verifica_curso('criacao e producao grafica')

(6, 2)

                                    curso_modificado  count
0                 Criacao E Producao GrAfica Digital     68
1  Criacao E Producao GrAfica Digital ChAcara San...     16
2           Criacao E Producao GrAfica Digital Norte     17
3        Criacao E Producao GrAfica Digital Paulista     26
4         Criacao E Producao GrAfica Digital TatuapA     21
5                 Criacao E Producao Grafica Digital      4

In [193]:
# Alterando a coluna curso modificado que contem 'criacao e producao grafica digital' para apenas 'criacao e producao grafica digital'
modifica_curso('criacao e producao grafica', 'criacao e producao grafica digital')

In [194]:
# Confirmando modificações
verifica_curso('criacao e producao grafica digital')

(1, 2)

                     curso_modificado  count
0  criacao e producao grafica digital    152

##### Desenho Industrial

In [195]:
# Verificando os cursos que contem 'desenho industrial'
verifica_curso('desenho industrial')

(14, 2)

                                     curso_modificado  count
0                                  Desenho Industrial   1196
1                  Desenho Industrial Campus Praca Xi      1
2   Desenho Industrial Com Habilitacao Em Comunica...     24
3   Desenho Industrial Com Habilitacao Em MAdias D...     24
4          Desenho Industrial Com Habilitacao Em Moda     23
5   Desenho Industrial Com Habilitacao Em Projeto ...     24
6               Desenho Industrial Comunicacao Visual     24
7                   Desenho Industrial Design De Moda     56
8                   Desenho Industrial Design Digital     98
9                  Desenho Industrial MAdias Digitais     24
10                            Desenho Industrial Moda     23
11              Desenho Industrial Programacao Visual     43
12              Desenho Industrial Projeto De Produto     24
13              Desenho Industrial Projeto Do Produto    163

In [196]:
# Alterando a coluna curso modificado que contem 'desenho industrial' para apenas 'desenho industrial'
modifica_curso('desenho industrial', 'desenho industrial')

In [197]:
# Confirmando modificações
verifica_curso('desenho industrial')

(1, 2)

     curso_modificado  count
0  desenho industrial   1747

##### Desenvolvimento de Software

In [198]:
# Verificando os cursos que contem 'desenvolvimento de software'
verifica_curso('desenvolvimento de software')

(8, 2)

                                    curso_modificado  count
0                        Desenvolvimento De Software     73
1  Desenvolvimento De Software (Area Profissional...      7
2  Desenvolvimento De Software (Area Profissional...     18
3              Desenvolvimento De Software Embarcado      9
4  Desenvolvimento De Software Para Comercio Elet...      5
5  Desenvolvimento De Software Para Entreteniment...      8
6          Desenvolvimento De Software Para Internet     14
7                       Desenvolvimento De Softwares      7

In [199]:
# Alterando a coluna curso modificado que contem 'desenvolvimento de software' para apenas 'desenvolvimento de software'
modifica_curso('desenvolvimento de', 'desenvolvimento de software')
modifica_curso('desenvolvimento para', 'desenvolvimento de software')
modifica_curso('desenvolvimento web', 'desenvolvimento de software')

In [200]:
# Confirmando modificações
verifica_curso('desenvolvimento de software')

(1, 2)

              curso_modificado  count
0  desenvolvimento de software  37402

##### Design de Interiores

In [201]:
# Verificando os cursos que contem 'design de interiores'
verifica_curso('design de interiores')

(15, 2)

                                     curso_modificado  count
0                  Ambientacao E Design De Interiores      2
1                                Design De Interiores   7511
2    Design De Interiores (Area Profissional: Design)      8
3   Design De Interiores (Eixo Tecnologico: Produc...     32
4   Design De Interiores (Eixo Tecnologico: Produc...     73
5   Design De Interiores (Eixotecnologico: Produca...     13
6                      Design De Interiores (Ipanema)      4
7                           Design De Interiores (Tp)      1
8                   Design De Interiores E Decoracaes     29
9      Design De Interiores Empresarial E Residencial      5
10                       Design De Interiores Niteroi      7
11               Design De Interiores Terra Encantada     21
12  Design De Interiores(Agrupamento De Areas Prof...     58
13  Tecnologia Em Design De Interiores Terra Encan...     21
14                Teconologia Em Design De Interiores     40

In [202]:
# Alterando a coluna curso modificado que contem 'design de interiores' para apenas 'design de interiores'
modifica_curso('design de interiores', 'design de interiores')

In [203]:
# Confirmando modificações
verifica_curso('design de interiores')

(1, 2)

       curso_modificado  count
0  design de interiores   7825

##### Design de Moda

In [204]:
# Verificando os cursos que contem 'design de moda'
verifica_curso('design de moda')

(20, 2)

                                     curso_modificado  count
0                                      Design De Moda   6588
1                                Design De Moda (Abc)      4
2   Design De Moda (Agrupamento De Areas Profissio...     18
3   Design De Moda (Agrupamento De Areas Profissio...     13
4   Design De Moda (Eixo Tecnologico: Producao Cul...     33
5   Design De Moda (Eixotecnologico: Producao Cult...     10
6                            Design De Moda (Ipanema)      4
7         Design De Moda Com Habilitacao Em Estilismo     27
8         Design De Moda Com Habilitacao Em Modelagem     10
9     Design De Moda Criacao E Confeccao De Vestuario      1
10                        Design De Moda E Tecnologia     12
11                           Design De Moda Estilismo    138
12                           Design De Moda Modelagem     48
13                          Design De Moda Petropolis      4
14                     Design De Moda Terra Encantada      9
15  Design De Moda(Eixo Tecnologico: Producao Cult...      6
16  Design De Modas (Eixo Tecnologico: Producao Cu...      9
17                              Design Design De Moda     18
18                       Tecnologia Em Design De Moda     11
19                 Tecnologia Em Design De Moda (Abc)      4

In [205]:
# Alterando a coluna curso modificado que contem 'design de moda' para apenas 'design de moda'
modifica_curso('design de moda', 'design de moda')

In [206]:
# Confirmando modificações
verifica_curso('design de moda')

(1, 2)

  curso_modificado  count
0   design de moda   6967

##### Design Grafico

In [207]:
# Verificando os cursos que contem 'design grafico'
verifica_curso('design grafico')

(21, 2)

                                     curso_modificado  count
0                                      Design GrAfico   2648
1   Design GrAfico (Eixo Tecnologico: Producao Cul...     57
2   Design GrAfico (Eixotecnologico: Producao Cult...      5
3                             Design GrAfico Centro I     14
4                Design GrAfico ChAcara Santo Antonio     16
5                        Design GrAfico E De Produtos     36
6                            Design GrAfico Jabaquara      1
7                             Design GrAfico MarquAas     19
8                                Design GrAfico Norte     17
9                             Design GrAfico Paulista     26
10                         Design GrAfico Santo Amaro      4
11                             Design GrAfico TatuapA     21
12                     Design GrAfico Terra Encantada     12
13  Design GrAfico(Agrupamento De Area Profissiona...      2
14  Design GrAfico(Agrupamento De Areas Profission...      5
15  Design GrAfico(Eixo Tecnologico: Producao Cult...     13
16  Design GrAfico(Eixotecnologico: Producao Cultu...     13
17                                   Design GrAfico**     22
18                                     Design Grafico   5121
19                            Design Grafico Anchieta     11
20              Tecnologia Em Design GrAfico Centro I     14

In [208]:
# Alterando a coluna curso modificado que contem 'design grafico' para apenas 'design grafico'
modifica_curso('design grafico', 'design grafico')

In [209]:
# Confirmando modificações
verifica_curso('design grafico')

(1, 2)

  curso_modificado  count
0   design grafico   8077

##### Design de Produto

In [210]:
# Verificando os cursos que contem 'design de produto'
verifica_curso('design de produto')

(5, 2)

                                    curso_modificado  count
0                                  Design De Produto    762
1  Design De Produto (Eixo Tecnologico: Producao ...      7
2  Design De Produto Design De Acessorios E Compl...      4
3             Design De Produto Design De Mobiliario      1
4                                 Design De Produtos      1

In [211]:
# Alterando a coluna curso modificado que contem 'design de produto' para apenas 'design de produto'
modifica_curso('design de produto', 'design de produtos')

In [212]:
# Confirmando modificações
verifica_curso('design de produto')

(1, 2)

     curso_modificado  count
0  design de produtos    775

##### Ciências Naturais

In [213]:
# Verificando os cursos que contem 'ciencias naturais'
verifica_curso('ciencias naturais')

(2, 2)

          curso_modificado  count
0  Ciencias Naturais (Ead)     67
1   Ciencias Naturais (Ed)    198

In [214]:
# Alterando a coluna curso modificado que contem 'ciencias naturais' para apenas 'ciencias naturais'
modifica_curso('Ciencias Naturais', 'ciencias naturais')

In [215]:
# Confirmando modificações
verifica_curso('ciencias naturais')

(1, 2)

    curso_modificado  count
0  ciencias naturais    265

##### Secretariado

In [216]:
# Verificando os cursos que contem 'servico social'
verifica_curso('secretariado')

(21, 2)

                                     curso_modificado  count
0              Automacao De Escritorio E Secretariado      8
1          Gestao De Secretariado Executivo Trilingue      7
2                         Gestao Em Secretariado (Mc)      2
3                         Gestao Em Secretariado (Tp)      4
4        Gestao Estrategica De Secretariado Executivo      1
5                                        Secretariado   2879
6                            Secretariado Cancioneiro      1
7                              Secretariado Executivo   2443
8                     Secretariado Executivo BilAngue     42
9   Secretariado Executivo BilAngue, PortuguAas/In...      3
10                    Secretariado Executivo Bilingue    598
11  Secretariado Executivo Bilingue PortuguAas/Ing...      3
12  Secretariado Executivo Bilingue, Portugues/Ing...      3
13                   Secretariado Executivo TrilAngue    354
14  Secretariado Executivo TrilAngue (PortuguAas/I...     67
15     Secretariado Executivo TrilAngue Campus Centro      6
16  Secretariado Executivo TrilAngue, PortuguAas, ...      8
17                   Secretariado Executivo Trilingue    601
18  Secretariado Executivo Trilingue (Portugues/In...      8
19                Secretariado Modalidade A DistAncia     75
20     Secretariado Organizacional Formacao Trilingue      8

In [217]:
# Alterando a coluna curso modificado que contem 'servico social' para apenas 'servico social'
modifica_curso('secretariado', 'secretariado executivo')

In [218]:
# Confirmando modificações
verifica_curso('secretariado')

(1, 2)

         curso_modificado  count
0  secretariado executivo   7121

##### Administração e afins

In [219]:
# Verificando os cursos que contem 'administração
verifica_curso('administracao')

(126, 2)

                                      curso_modificado   count
0                                        Administracao  327980
1                                       Administracao        9
2                 Administracao (ASnfase Em Marketing)      10
3                                  Administracao (Abc)      15
4                Administracao (Barra Jardim Oceanico)       6
..                                                 ...     ...
121   Pedagogia Administracao Escolar De 1o E 2o Graus      85
122  Pedagogia Administracao Escolar Do Ensino Fund...      23
123  Pedagogia Com Habilitacao Em Administracao Esc...      73
124  Pedagogia Docencia Da Educacao Infantil/Admini...       4
125  Tecnologia Em Administracao De Pequenas E Medi...      83

[126 rows x 2 columns]

In [220]:
# Verificando os cursos que contem 'administração pública'
verifica_curso('administracao publica')

(5, 2)

                                    curso_modificado  count
0                Administracao Administracao Publica     11
1  Administracao Administracao Publica E Empresarial      2
2  Administracao Com Habilitacao Em Administracao...      2
3                              Administracao Publica    320
4                    Gestao Em Administracao Publica      4

In [221]:
# Alterando a coluna curso modificado que contem 'administracao publica' para apenas 'administracao publica'
modifica_curso('administracao publica', 'administracao publica')

In [222]:
# Confirmando modificações
verifica_curso('administracao publica')

(1, 2)

        curso_modificado  count
0  administracao publica    339

In [223]:
# Criando lista com todos os valores unicos para administração
administracao = [curso for curso in cursos[cursos['curso_modificado'].str.contains('administracao', case = False)]['curso_modificado'].unique()]
administracao[120:150]

['Administracao (Enfase Em Analise De Sistemas)',
 'Operacao, Fiscalizacao E Administracao De Transito E Transporte']

In [224]:
# Alterando a coluna curso modificado que contem 'administracao' para apenas 'administracao'
condicao_df = (df['curso_modificado'].str.contains('administracao', case = False))
excessao_1_df = ~(df['curso_modificado'] == 'publica')

condicao_cur = (cursos['curso_modificado'].str.contains('administracao', case = False))
excessao_1_cur = ~(cursos['curso_modificado'] == 'publica')

df.loc[condicao_df & excessao_1_df, 'curso_modificado'] = 'administracao'
cursos.loc[condicao_cur & excessao_1_cur, 'curso_modificado'] = 'administracao'

modifica_curso('administraaao', 'administracao')
modifica_curso('adminstracao', 'administracao')
modifica_curso('admistracao', 'administracao')

In [225]:
# Confirmando modificações
verifica_curso('administracao')

(1, 2)

  curso_modificado   count
0    administracao  339251

##### Direito

In [226]:
# Verificando os cursos que contem 'direito'
verifica_curso('direito')

(70, 2)

                   curso_modificado   count
0                           Direito  225464
1                     Direito (Abc)      25
2                   Direito (Bangu)       1
3   Direito (Barra Jardim Oceanico)       5
4                Direito (Barreiro)     120
..                              ...     ...
65                  Direito TatuapA     113
66                       Direito Tp      11
67                Direito Vergueiro     178
68        Direito Vila Dos RemAdios      17
69     Direito(Coracao EucarAstico)     110

[70 rows x 2 columns]

In [227]:
# Alterando a coluna curso modificado que contem 'direito' para apenas 'direito'
modifica_curso('direito', 'direito')

In [228]:
# Confirmando modificações
verifica_curso('direito')

(1, 2)

  curso_modificado   count
0          direito  228438

##### Marketing

In [229]:
# Verificando os cursos que contem 'marketing'
verifica_curso('marketing')

(116, 2)

                                      curso_modificado  count
0                              Comunicacao E Marketing    119
1    Curao Tecnologia Em GestAo De Marketing De Varejo      2
2    Curao Tecnologia Em Marketing(Agrupamento Das ...      2
3                             Em Gerencia De Marketing     32
4                   Em Gestao De Marketing Empresarial      4
..                                                 ...    ...
111                            Publicidade E Marketing     18
112                  Tecnologia Em Gestao De Marketing     21
113                            Tecnologia Em Marketing      6
114                Tecnologia Em Marketing De Negocios      4
115                   Tecnologia Em Marketing E Vendas     11

[116 rows x 2 columns]

In [230]:
# Criando lista com todos os cursos com marketing
marketing = [curso for curso in cursos[cursos['curso_modificado'].str.contains('marketing', case= False)]['curso_modificado'].unique()]
marketing[95:]

['Em Tecnicas De Propaganda E Marketing',
 'Gestao De Marketing Competitivo',
 'Marketing ( Barra Jardim Oceanico)',
 'Gestao De Marketing (Area Profissional: Gestao)',
 'Marketing( Eixo Tecnologico: GestAo E Negocios)',
 'Gestao Em Marketing',
 'Marketing Campus Ipanema',
 'Marketing(Area Profissional: ComArcio)',
 'Marketing ( Campo Grande)',
 'Marketing (Madureira)',
 'Marketing(Agrupamento Das Areas Profissionais: ComArcio E GestAo)',
 'Curao Tecnologia Em Marketing(Agrupamento Das Areas Profissionais: ComArcio E GestAo)',
 'Curao Tecnologia Em GestAo De Marketing De Varejo',
 'GestAo De Marketing (Area Profissional: ComArcio)',
 'GerAancia De Marketing',
 'Formacao EspecAfica Em GerAancia De Marketing',
 'Em Gestao De Marketing Estrategico',
 'Em Gestao Esportiva E Marketing No Esporte',
 'Marketing Campus Tom Jobim',
 'Marketing Interlagos',
 'Marketing(Eixo Tecnologico:GestAo E Negocios)']

In [231]:
# Alterando a coluna curso modificado que contem 'marketing' para apenas 'marketing e propaganda'
modifica_curso('marketing', 'marketing e propaganda')

In [232]:
# Confirmando modificações
verifica_curso('marketing')

(1, 2)

         curso_modificado  count
0  marketing e propaganda  36759

##### Publicidade e Propaganda

In [233]:
# Verificando os cursos que contem 'publicidade'
verifica_curso('publicidade')

(5, 2)

                                    curso_modificado  count
0                  Propaganda, Publicidade E Criacao    101
1                           Publicidade E Propaganda  11682
2  Publicidade E Propaganda Com Habilitacao Em Pu...     46
3        Publicidade E Propaganda Criacao E Producao     21
4  Publicidade E Propaganda Publicidade E Propaganda    898

In [234]:
# Verificando os cursos que contem 'propaganda'
verifica_curso('propaganda')

(6, 2)

                                    curso_modificado  count
0                  Propaganda, Publicidade E Criacao    101
1                           Publicidade E Propaganda  11682
2  Publicidade E Propaganda Com Habilitacao Em Pu...     46
3        Publicidade E Propaganda Criacao E Producao     21
4  Publicidade E Propaganda Publicidade E Propaganda    898
5                             marketing e propaganda  36759

In [235]:
# Alterando a coluna curso modificado que contem 'direito' para apenas 'direito'
modifica_curso('Publicidade', 'publicidade e propaganda')

In [236]:
# Confirmando modificações
verifica_curso('publicidade')

(1, 2)

           curso_modificado  count
0  publicidade e propaganda  12748

##### Arquitetura e Urbanismo

In [237]:
# Verificando os cursos que contem 'arquitetura'
verifica_curso('arquitetura')

(11, 2)

                          curso_modificado  count
0                              Arquitetura     32
1                  Arquitetura E Urbanismo  40006
2            Arquitetura E Urbanismo (Abc)     14
3             Arquitetura E Urbanismo (Mr)      3
4             Arquitetura E Urbanismo (Os)     12
5       Arquitetura E Urbanismo Alphaville     21
6          Arquitetura E Urbanismo Bacelar     32
7     Arquitetura E Urbanismo Indianopolis     32
8         Arquitetura E Urbanismo MarquAas     32
9            Arquitetura E Urbanismo Norte     25
10  Arquitetura E UrbanismoCampus Ii Barra      8

In [238]:
# Alterando a coluna curso modificado que contem 'arquitetura' para apenas 'arquitetura e urbanismo'
modifica_curso('arquitetura', 'arquitetura e urbanismo')

In [239]:
# Confirmando modificações
verifica_curso('arquitetura')

(1, 2)

          curso_modificado  count
0  arquitetura e urbanismo  40217

##### Historia

In [240]:
# Verificando os cursos que contem 'historia'
verifica_curso('historia')

(16, 2)

                               curso_modificado  count
0                                  Abi Historia      3
1           Arte: Historia, CrAtica E Curadoria      5
2           Arte: Historia, Critica E Curadoria     23
3   Estudos Sociais Com Habilitacao Em Historia     18
4                      Estudos Sociais Historia     37
5                                      Historia  23998
6                                Historia (Ead)     29
7                                 Historia (Ed)    103
8                              Historia (Mb Ii)      6
9                      Historia Campus Centro I      1
10                                 Historia Ead      5
11                         Historia JacarepaguA      1
12                               Historia Meier      2
13                                 Historia(Ed)     27
14                       Lic. Em Historia (Ead)     13
15                     Licenciatura Em Historia     49

In [241]:
# Alterando a coluna curso modificado que contem 'historia' para apenas 'historia'
modifica_curso('historia', 'historia')

In [242]:
# Confirmando modificações
verifica_curso('historia')

(1, 2)

  curso_modificado  count
0         historia  24320

##### Filosofia

In [243]:
# Verificando os cursos que contem 'filosofia'
verifica_curso('filosofia')

(7, 2)

        curso_modificado  count
0              Filosofia   6085
1         Filosofia (Tp)      3
2  Filosofia A DistAncia      5
3  Filosofia Bacharelado      9
4          Filosofia Ead      4
5           Filosofia Sr      3
6         Filosofia(Ead)     53

In [244]:
# Alterando a coluna curso modificado que contem 'filosofia' para apenas 'filosofia'
modifica_curso('filosofia', 'filosofia')

In [245]:
# Confirmando modificações
verifica_curso('filosofia')

(1, 2)

  curso_modificado  count
0        filosofia   6162

##### Sociologia

In [246]:
# Verificando os cursos que contem 'sociologia'
verifica_curso('sociologia')

(1, 2)

  curso_modificado  count
0       Sociologia    904

##### Relações Internacionais

In [247]:
# Verificando os cursos que contem 'internacionais'
verifica_curso('internacionais')

(12, 2)

                                     curso_modificado  count
0                Diplomacia E Relacoes Internacionais      1
1                             Negocios Internacionais    291
2                             Relacaes Internacionais   2192
3   Relacaes Internacionais (Com ASnfase Em Segura...     25
4              Relacaes Internacionais Campus IiBarra      2
5            Relacaes Internacionais Campus Vi Centro      6
6                   Relacaes Internacionais Vergueiro     21
7                             Relacoes Internacionais   5749
8     Relacoes Internacionais (Barra-Jardim Oceanico)      1
9             Relacoes Internacionais (Metro Carioca)      3
10             Relacoes Internacionais Campus IiBarra      4
11              Tecnologia Em Negocios Internacionais      5

In [248]:
# Alterando a coluna curso modificado que contem 'relacoes internacionais' para apenas 'gestao de negocios internacionais'
modifica_curso('cios Internacionais', 'gestao de negocios internacionais')
modifica_curso('Relacoes Internacionais', 'relacoes internacionais')
modifica_curso('Relacaes Internacionais', 'relacoes internacionais')

In [249]:
# Confirmando modificações
verifica_curso('Internacionais')

(2, 2)

                    curso_modificado  count
0  gestao de negocios internacionais    296
1            relacoes internacionais   8004

#### Alimentos e Lazer

##### Gastronomia

In [250]:
# Verificando os cursos que contem 'gastronomia'
verifica_curso('gastro')

(32, 2)

                                     curso_modificado  count
0                      Gastronomia Marginal Pinheiros     11
1                            Consultoria Gastronomica      8
2                                      Em Gastronomia      8
3                                         Gastronomia  12198
4   Gastronomia (Area Profissional : Turismo E Hos...     42
5   Gastronomia (Area Profissional: Turismo E Hosp...    208
6   Gastronomia (Area Profissional: Turismo E Hosp...     19
7   Gastronomia (Eixo Tecnologico De Hospitalidade...     54
8   Gastronomia (Eixo Tecnologico De Hospitalidade...     12
9   Gastronomia (Eixo Tecnologico: Hospitalidade E...    105
10  Gastronomia (Eixo Tecnologico:Hospitalidade E ...     24
11  Gastronomia (Eixotecnologico: Hospitalidade E ...     28
12                                   Gastronomia (Mr)      5
13                              Gastronomia Centro Iv     12
14  Gastronomia Com Habilitacao Em Cozinheiro Chef...     34
15                       Gastronomia Criacao E Gestao      6
16                            Gastronomia E CulinAria     16
17                  Gastronomia E CulinAria Centro Iv     12
18          Gastronomia Gestao De Alimentos E Bebidas      4
19                             Gastronomia Hospitalar      8
20                     Gastronomia Marginal Pinheiros     23
21                    Gastronomia Para Nutricionistas      7
22                   Gastronomia Voltada A Fast Foods     10
23    Gastronomia Voltada A Panificacao & Confeitaria      8
24  Gastronomia(Agrupamento De Areas Profissionais...     17
25  Gastronomia(Agrupamento De Areas Profissionais...     23
26       Gestao De Restaurantes De Gastronomia Tipica      1
27                Gestao Em Gastronomia E Alimentacao     59
28                          Tecnologia Em Gastronomia      3
29              Tecnologia Em Gastronomia E CulinAria     16
30    Tecnologia Em Gastronomia E CulinAria Centro Iv     12
31                         Tecnologico Em Gastronomia     16

In [251]:
# Alterando a coluna curso modificado que contem 'gastronomia' para apenas 'gastronomia'
modifica_curso('gastro', 'gastronomia')

In [252]:
# Confirmando modificações
verifica_curso('gastronomia')

(1, 2)

  curso_modificado  count
0      gastronomia  13009

##### Turismo

In [253]:
# Verificando os cursos que contem 'turismo'
verifica_curso('turismo')

(44, 2)

                                     curso_modificado  count
0                                De Gestao Em Turismo     20
1   Ecoturismo (Area Profissional: Turismo E Hospi...      1
2               Em Gestao Em Turismo (Semipresencial)      6
3                                  Em Guia De Turismo      7
4   Eventos (Area Profissional: Turismo E Hospital...      2
5   Eventos(Agrupamento De Areas Profissionais: La...      6
6                                   GestAo De Turismo    338
7   GestAo Hoteleira (Area Profissional: Turismo E...      8
8                       Gestao De Agencias De Turismo      4
9                       Gestao De Hotelaria E Turismo     18
10                                  Gestao De Turismo   1821
11             Gestao De Turismo (Unidade Ponte Rasa)     13
12                        Gestao De Turismo Receptivo      3
13                Gestao E Desenvolvimento Do Turismo      9
14                                  Gestao Em Turismo     13
15  Hotelaria (Agrupamento De Area Profissional: L...     10
16  Hotelaria (Agrupamento De Areas Profissionais:...      4
17  Hotelaria (Area Profissional: Turismo E Hospit...     70
18                              Tecnologia Em Turismo      4
19                                            Turismo  12340
20  Turismo (Area Profissional: Turismo E Hospital...     16
21                    Turismo (Barra-Jardim Oceanico)      1
22                                       Turismo (Mb)     15
23                                    Turismo (Meier)     15
24                                       Turismo (Os)      7
25                                       Turismo (Tp)      1
26                                   Turismo Anchieta      1
27                  Turismo Campus Ilha Do Governador      6
28                                Turismo Cancioneiro     13
29                      Turismo ChAcara Santo Antonio     26
30                                   Turismo Cultural     10
31                           Turismo E Entretenimento      6
32                                Turismo E Hotelaria    272
33                      Turismo E Planejamento Urbano      1
34                                  Turismo Receptivo     11
35  Turismo Receptivo (Area Profissional: Turismo ...      1
36  Turismo Receptivo (Area Profissional: Turismo ...      1
37                         Turismo Receptivo Paulista      2
38                                    Turismo TatuapA     16
39                        Turismo Turismo E Hotelaria      6
40                                  Turismo Vergueiro      5
41                     Turismo, Com Enfase Em Eventos      5
42                Turismo, Entretenimento E Hotelaria      5
43              Turismo,Com Enfase Em Lazer E Eventos      6

In [254]:
# Alterando a coluna curso modificado que contem 'turismo' para apenas 'turismo'
modifica_curso('turismo', 'turismo')

In [255]:
# Confirmando modificações
verifica_curso('turismo')

(1, 2)

  curso_modificado  count
0          turismo  15145

##### Hotelaria

In [256]:
# Verificando os cursos que contem 'hotel'
verifica_curso('hotel')

(16, 2)

                                     curso_modificado  count
0           Consultoria De Empreendimentos Hoteleiros     11
1                              Em Gestao Em Hotelaria     13
2                                 Em Gestao Hoteleira      7
3                       Gestao Da Atividade Hoteleira      1
4                       Gestao De Servicos Hoteleiros      5
5                                    Gestao Hoteleira     20
6                                           Hotelaria   2548
7                   Hotelaria (Barra Jardim Oceanico)      1
8   Hotelaria (Eixo Tecnologico: Hospitalidade E L...      7
9          Hotelaria (Metro-Carioca / Goncalves Dias)      9
10                   Hotelaria Administacao Hoteleira      5
11                   Hotelaria ChAcara Santo AntA nio      1
12                                Hotelaria E Eventos      7
13                               Hotelaria Hospitalar     50
14                                 Hotelaria MarquAas      1
15                           Tecnologia Em Hotelaria      12

In [257]:
# Alterando a coluna curso modificado que contem 'hotel' para apenas 'gestao em hotelaria'
modifica_curso('hotel', 'gestao em hotelaria')

In [258]:
# Confirmando modificações
verifica_curso('hotel')

(1, 2)

      curso_modificado  count
0  gestao em hotelaria   2698

##### Eventos

In [259]:
# Verificando os cursos que contem 'evento'
verifica_curso('evento')

(18, 2)

                                     curso_modificado  count
0   Cuso Tecnologia Em Organizacao De Eventos Soci...      1
1        Em Gestao, Organizacao E Promocao De Eventos      2
2                           Em Organizacao De Eventos      1
3                                             Eventos   1457
4   Eventos (Eixo Tecnologico: Hospitalidade E Lazer)     17
5                                   GestAo De Eventos     11
6   GestAo, Organizacao E Promocao De Eventos Cent...      6
7                                   Gestao De Eventos     13
8       Gestao De Eventos (Area Profissional: Gestao)      1
9                         Gestao De Eventos Culturais      3
10             Gestao E Producao De Eventos Culturais     12
11  Organizacao De Eventos (Area Profissional: Laz...      4
12  Organizacao De Eventos Desportivos E De Lazer ...      7
13                    Organizacao E Gestao De Eventos     30
14                  Organizacao E Producao De Eventos      2
15  Organizacao E Promocao De Eventos Sociais E De...      1
16  Tecnologia Em GestAo, Organizacao E Promocao D...      6
17  Tecnologia Em Organizacao De Eventos Sociais E...      3

In [260]:
# Alterando a coluna curso modificado que contem 'evento' para apenas 'gestao em eventos'
modifica_curso('evento', 'eventos')

In [261]:
# Confirmando modificações
verifica_curso('evento')

(1, 2)

  curso_modificado  count
0          eventos   1577

#### Engenharias

##### Engenharia

In [262]:
engenharia = cursos[cursos['curso_modificado'].str.contains('engenharia', case = False)].groupby('curso_modificado', as_index= False).agg(count = ('count', 'sum')).sort_values(by = 'curso_modificado')

In [263]:
for curso in engenharia['curso_modificado']:
    print(curso)

 Engenharia BiomAdica
 Engenharia Civil E Ambiental
 Engenharia Da Producao E Qualidade
 Engenharia De Automacao E Sistemas
 Engenharia ElAtrica E Das Energias
 Engenharia EletrA nica E De Telecomunicacao
 Engenharia Em Processos De Producao
 Engenharia MecAnica Automotiva
Engenharia
Engenharia
Engenharia (Abc)
Engenharia (Mb Ii)
Engenharia (Mc)
Engenharia (Os)
Engenharia Aeroespacial
Engenharia AgrAcola
Engenharia AgrAcola E Ambiental
Engenharia Agricola
Engenharia Agricola E Ambiental
Engenharia AgronA mica
Engenharia Agronomica
Engenharia Ambiental
Engenharia Ambiental Campus Nova Friburgo
Engenharia Ambiental E Energias RenovAveis
Engenharia Ambiental E Energias Renovaveis
Engenharia Ambiental E SanitAria
Engenharia Ambiental E SanitAria Engenharia Ambiental E SanitAria
Engenharia Ambiental E Sanitaria
Engenharia Ambiental Vila Dos RemAdios
Engenharia Area Civil
Engenharia Area MecAnica
Engenharia Automotiva
Engenharia Bioenergetica
Engenharia BiomAdica
Engenharia Biomedica
Engenharia CAvil
Engenharia CartogrAfica E De Agrimensura
Engenharia Cartografica E De Agrimensura
Engenharia Civil
Engenharia Civil (Barreiro)
Engenharia Civil Alphaville
Engenharia Civil Bacelar
Engenharia Civil Barra V Terra Encantada
Engenharia Civil Campos Dos Goytacazes
Engenharia Civil Campus Norte Shopping
Engenharia Civil Centro Iv PraAa Xi
Engenharia Civil Com ASnfase Em Sistemas Construtivos
Engenharia Civil E Ambiental
Engenharia Civil Engenharia Civil
Engenharia Civil Ij
Engenharia Civil Indianopolis
Engenharia Civil MarquAas
Engenharia Com Habilitacao Em ElAtrica
Engenharia Com Habilitacao Em Engenharia Ambiental
Engenharia Com Habilitacao Em Engenharia Ambiental E SanitAria
Engenharia Com Habilitacao Em Engenharia Civil
Engenharia Com Habilitacao Em Engenharia Da Computacao
Engenharia Com Habilitacao Em Engenharia De Controle E Automacao
Engenharia Com Habilitacao Em Engenharia De Florestas Tropicais
Engenharia Com Habilitacao Em Engenharia De Materiais
Engenharia Com Habilitacao Em Engenharia De Petroleo
Engenharia Com Habilitacao Em Engenharia De Petroleo E GAs
Engenharia Com Habilitacao Em Engenharia De Producao
Engenharia Com Habilitacao Em Engenharia De Producao Civil
Engenharia Com Habilitacao Em Engenharia De Producao Eletrica
Engenharia Com Habilitacao Em Engenharia De Producao MecAnica
Engenharia Com Habilitacao Em Engenharia De Producao QuAmica
Engenharia Com Habilitacao Em Engenharia De Producao Quimica
Engenharia Com Habilitacao Em Engenharia De Telecomunicacaes
Engenharia Com Habilitacao Em Engenharia De Telecomunicacoes
Engenharia Com Habilitacao Em Engenharia ElAtrica
Engenharia Com Habilitacao Em Engenharia Florestal
Engenharia Com Habilitacao Em Engenharia MecAnica
Engenharia Com Habilitacao Em Engenharia Mecanica
Engenharia Com Habilitacao Em Engenharia MecatrA nica
Engenharia Com Habilitacao Em Engenharia QuAmica
Engenharia Com Habilitacao Em Engenharia QuAmica
Engenharia Com Habilitacao Em Engenharia TAaxtil
Engenharia Da Computacao
Engenharia Da Computacao Bacelar
Engenharia Da Computacao Indianopolis
Engenharia Da Computacao(SAo Gabriel)
Engenharia Da Producao
Engenharia Da Producao Civil
Engenharia Da Producao E Qualidade
Engenharia De Agrimensura
Engenharia De Agrimensura E CartogrAfica
Engenharia De Agrimensura E Cartografica
Engenharia De Alimentos
Engenharia De Automacao E Controle
Engenharia De Automacao E Sistemas
Engenharia De Automacao E Sistemas (MecatrA nica)
Engenharia De Automacao Empresarial
Engenharia De Bioprocessos
Engenharia De ComputaAao
Engenharia De Computacao
Engenharia De Computacao Engenharia Da Computacao
Engenharia De Comunicacoes
Engenharia De Controle E Automacao
Engenharia De Controle E Automacao (MecatrA nica)
Engenharia De Controle E Automacao (MecatrA nica) Alphaville
Engenharia De Controle E Automacao (MecatrA nica) MarquAas
Engenharia De Controle E Automacao Com Habilitacao Em MecatrA nica
Engenharia De Controle E Automacao Engenharia De Controle E Automacao
Engenharia De Controle E Automacao MecatrA nica
Engenharia De Controle E Automacao MecatrA nica Bacelar
Engenharia De Controle E Automacao MecatrA nica Indianopolis
Engenharia De Energia
Engenharia De Energias
Engenharia De Energias Renovaveis E Ambiente
Engenharia De Materiais
Engenharia De Materiais E Nanotecnologia
Engenharia De Minas
Engenharia De Pesca
Engenharia De Petroleo
Engenharia De Petroleo E GAs
Engenharia De Petroleo E GAs Campus PraAa Xi
Engenharia De Petroleo E Gas
Engenharia De Petroleo Engenharia De Petroleo
Engenharia De Petroleo Engenharia De Petroleo E GAs
Engenharia De Plasticos
Engenharia De Producao
Engenharia De Producao (Barreiro)
Engenharia De Producao (Ead)
Engenharia De Producao (Madureira)
Engenharia De Producao Barra V Terra Encantada
Engenharia De Producao Campus Norte Shopping
Engenharia De Producao Centro Iv-PraAa Xi
Engenharia De Producao Civil
Engenharia De Producao E Qualidade
Engenharia De Producao ElAtrica
Engenharia De Producao Engenharia De Producao
Engenharia De Producao Jabaquara
Engenharia De Producao MecAnica
Engenharia De Producao MecAnica Alphaville
Engenharia De Producao MecAnica Bacelar
Engenharia De Producao MecAnica Indianopolis
Engenharia De Producao MecAnica MarquAas
Engenharia De Producao Mecanica
Engenharia De Producao Producao
Engenharia De Producao QuAmica
Engenharia De Producao Quimica
Engenharia De Producao Santa Cruz
Engenharia De Producao Santo Amaro
Engenharia De Seguranca
Engenharia De Seguranca No Trabalho
Engenharia De Sistemas
Engenharia De Software
Engenharia De Telecomunicacaes
Engenharia De Telecomunicacoes
Engenharia De Transportes
Engenharia ElAatrica
Engenharia ElAtrica
Engenharia ElAtrica (ASnfase Em Computacao) Campus Norte Shopping
Engenharia ElAtrica (ASnfase Em EletrA nica E EletrotAcnica)
Engenharia ElAtrica (ASnfase Em Sistemas ElAtricos)
Engenharia ElAtrica (ASnfase Em Telecomunicacao)
Engenharia ElAtrica (Enf.Computacao) Campos Dos Goytacazes
Engenharia ElAtrica ASnfase Em Telecomunicacaes
Engenharia ElAtrica Alphaville
Engenharia ElAtrica Com ASnfase Em EletrA nica
Engenharia ElAtrica Com ASnfase Em EletrA nica Santo Amaro
Engenharia ElAtrica Com ASnfase Em Sistemas De Energia E Automacao
Engenharia ElAtrica Com ASnfase Em Telecomunicacaes Ou EletrA nica
Engenharia ElAtrica Com Habilitacao Em EletrA nica
Engenharia ElAtrica Com Habilitacao Em EletrA nica/Computadores
Engenharia ElAtrica Com Habilitacao Em EletrotAcnica
Engenharia ElAtrica Com Habilitacao Em Engenharia Da Computacao
Engenharia ElAtrica Com Habilitacao Em Sistemas De Energia E Automacao
Engenharia ElAtrica Com Habilitacao Em Telecomunicacaes
Engenharia ElAtrica E Das Energias
Engenharia ElAtrica EletrA nica
Engenharia ElAtrica EletrA nica (ASnfase Em Telecomunicacaes E Em TelemAtica)
Engenharia ElAtrica EletrA nica/Computadores
Engenharia ElAtrica EletrotAcnica
Engenharia ElAtrica Engenharia Da Computacao
Engenharia ElAtrica Engenharia ElAtrica
Engenharia ElAtrica Ij
Engenharia ElAtrica Indianopolis
Engenharia ElAtrica Jabaquara
Engenharia ElAtrica MarquAas
Engenharia ElAtrica TelemAtica
Engenharia ElAtrica Vila Dos RemAdios
Engenharia ElAtrica, Com ASnfase Em EletrA nica
Engenharia EletrA nica
Engenharia EletrA nica E De Telecomunicacaes
Engenharia EletrA nica E De Telecomunicacao
Engenharia Eletrica
Engenharia Eletrica (Metro)
Engenharia Eletrica E Eletronica
Engenharia Eletrica Eletronica (Enfase Em Telecomunicacoes E Em Telematica)
Engenharia Eletrica Telecomunicacoes
Engenharia Eletronica
Engenharia Eletronica E De Telecomunicacoes
Engenharia Eletrotecnica
Engenharia Em Nanotecnologia
Engenharia Em Processos De Producao
Engenharia Engenharia Civil
Engenharia Engenharia Da Computacao
Engenharia Engenharia De Controle E Automacao
Engenharia Engenharia De Materiais
Engenharia Engenharia De Producao
Engenharia Engenharia De Telecomunicacaes
Engenharia Engenharia ElAtrica
Engenharia Engenharia MecAnica
Engenharia Engenharia MecatrA nica
Engenharia Engenharia QuAmica
Engenharia Engenharia TAaxtil
Engenharia Florestal
Engenharia Florestal Com Habilitacao Em Engenharia Florestal
Engenharia Florestal Engenharia Florestal
Engenharia Habilitacao Engenharia ElAtrica
Engenharia Habilitacao Engenharia MecAnica
Engenharia Industrial Madeireira
Engenharia Industrial MecAnica
Engenharia Industrial Mecanica
Engenharia Industrial Quimica
Engenharia MecAnica
Engenharia MecAnica -Integral: Matutino E Vespertino
Engenharia MecAnica Automacao E Sistemas
Engenharia MecAnica Automotiva
Engenharia MecAnica Bacelar
Engenharia MecAnica Com ASnfase Em Automacao E Controle
Engenharia MecAnica Com Habilitacao Em MecAnica E AutomobilAstica
Engenharia MecAnica Engenharia MecAnica
Engenharia MecAnica Indianopolis
Engenharia MecAnica MecAnica E AutomobilAstica
Engenharia MecAnica Pa
Engenharia Mecanica
Engenharia Mecanica Automotiva
Engenharia Mecanica Pa
Engenharia MecatrA nica
Engenharia MecatrA nica (Controle E Automacao)
Engenharia Mecatronica
Engenharia Mecatronica (Controle E Automacao)
Engenharia MetalAorgica
Engenharia Metalurgica
Engenharia Producao MecAnica
Engenharia QuAmica
Engenharia QuAmica
Engenharia QuAmica (ASnfase Em Fabricacao De Celulose E Papel)
Engenharia QuAmica Engenharia QuAmica
Engenharia Quimica
Engenharia SanitAria E Ambiental
Engenharia TAaxtil
Tecnologia Em Engenharia
engenharia aeronautica

In [264]:
engenharias = ['Engenharia', 'Engenharia ', 'Engenharia  ','Engenharia (Abc)', 'Engenharia (Mb Ii)', 'Engenharia (Mc)', 'Engenharia (Os)']
for curso in engenharias:
    remove_frase_curso(curso, 'engenharia ')

In [265]:
verifica_curso('engenharia')

(242, 2)

                         curso_modificado  count
0                    engenharia BiomAdica     13
1            engenharia Civil E Ambiental      7
2      engenharia Da Producao E Qualidade      4
3     engenharia De Automacao E Sistemas       8
4      engenharia ElAtrica E Das Energias      2
..                                    ...    ...
237        engenharia engenharia ElAtrica     47
238        engenharia engenharia MecAnica    214
239    engenharia engenharia MecatrA nica      1
240         engenharia engenharia QuAmica    114
241         engenharia engenharia TAaxtil      2

[242 rows x 2 columns]

##### Engenharia Civil

In [266]:
# Verificando os cursos que contem 'engenharia civil'
verifica_curso('engenharia civil')

(17, 2)

                                     curso_modificado  count
0                        engenharia Civil E Ambiental      7
1                                    engenharia Civil  72551
2                         engenharia Civil (Barreiro)     74
3                         engenharia Civil Alphaville     57
4                            engenharia Civil Bacelar     49
5            engenharia Civil Barra V Terra Encantada     21
6              engenharia Civil Campos Dos Goytacazes      7
7              engenharia Civil Campus Norte Shopping      1
8                 engenharia Civil Centro Iv PraAa Xi      4
9   engenharia Civil Com ASnfase Em Sistemas Const...     33
10                       engenharia Civil E Ambiental     76
11                                engenharia Civil Ij     23
12                      engenharia Civil Indianopolis     49
13                          engenharia Civil MarquAas     70
14                  engenharia Civil engenharia Civil    131
15     engenharia Com Habilitacao Em engenharia Civil    433
16                        engenharia engenharia Civil    133

In [267]:
# Alterando a coluna curso modificado que contem 'engenharia civil' para apenas 'engenharia civil'
modifica_curso('engenharia civil', 'engenharia civil')
modifica_curso('engenharia cavil', 'engenharia civil')
modifica_curso('Engenharia Area Civil', 'engenharia civil')
modifica_curso('Engenharia de Producao Civil', 'engenharia civil')

In [268]:
# Confirmando modificações
verifica_curso('engenharia civil')

(1, 2)

   curso_modificado  count
0  engenharia civil  73977

##### Engenharia de Agrimensura

In [269]:
# Verificando os cursos que contem 'agrimensura'
verifica_curso('agrimensura')

(5, 2)

                           curso_modificado  count
0  engenharia CartogrAfica E De Agrimensura      2
1  engenharia Cartografica E De Agrimensura     38
2                 engenharia De Agrimensura    176
3  engenharia De Agrimensura E CartogrAfica      1
4  engenharia De Agrimensura E Cartografica      4

In [270]:
# Alterando a coluna curso modificado que contem 'agrimensura' para apenas 'agrimensura'
modifica_curso('agrimensura', 'engenharia de agrimensura')

In [271]:
# Confirmando modificações
verifica_curso('agrimensura')

(1, 2)

            curso_modificado  count
0  engenharia de agrimensura    221

##### Engenharia Ambiental

In [272]:
# Verificando os cursos que contem 'engenharia ambiental'
verifica_curso('engenharia ambiental')

(10, 2)

                                    curso_modificado  count
0                               engenharia Ambiental   6185
1          engenharia Ambiental Campus Nova Friburgo      1
2         engenharia Ambiental E Energias RenovAveis     65
3         engenharia Ambiental E Energias Renovaveis    167
4                   engenharia Ambiental E SanitAria   1492
5  engenharia Ambiental E SanitAria engenharia Am...     31
6                   engenharia Ambiental E Sanitaria   7052
7             engenharia Ambiental Vila Dos RemAdios      1
8  engenharia Com Habilitacao Em engenharia Ambie...     13
9  engenharia Com Habilitacao Em engenharia Ambie...     10

In [273]:
# Alterando a coluna curso modificado que contem 'engenharia ambiental' para apenas 'engenharia ambiental'
modifica_curso('Engenharia ambiental', 'engenharia ambiental')
modifica_curso('Engenharia  Ambiental', 'engenharia ambiental')
modifica_curso('Engenharia De Florestas Tropicais', 'engenharia ambiental')

In [274]:
# Confirmando modificações
verifica_curso('engenharia ambiental')

(1, 2)

       curso_modificado  count
0  engenharia ambiental  15035

##### Engenharia Agrícola

In [275]:
# Verificando os cursos que contem 'engenharia agricola'
verifica_curso('engenharia agricola')

(2, 2)

                  curso_modificado  count
0              engenharia Agricola    153
1  engenharia Agricola E Ambiental     26

In [276]:
# Alterando a coluna curso modificado que contem 'engenharia biomedica' para apenas 'engenharia biomedica'
modifica_curso('engenharia agricola', 'engenharia agricola')
modifica_curso('engenharia agracola', 'engenharia agricola')

In [277]:
# Confirmando modificações
verifica_curso('engenharia agricola')

(1, 2)

      curso_modificado  count
0  engenharia agricola    232

##### Engenharia Biomédica

In [278]:
# Verificando os cursos que contem 'engenharia ambiental'
verifica_curso('engenharia biomadica')

(2, 2)

        curso_modificado  count
0   engenharia BiomAdica     13
1   engenharia BiomAdica     93

In [279]:
# Alterando a coluna curso modificado que contem 'engenharia biomedica' para apenas 'engenharia biomedica'
modifica_curso('engenharia biomedica', 'engenharia biomedica')
modifica_curso('engenharia biomadica', 'engenharia biomedica')

In [280]:
# Confirmando modificações
verifica_curso('engenharia biomedica')

(1, 2)

       curso_modificado  count
0  engenharia biomedica    211

##### Engenharia de Energias Renováveis

In [281]:
# Verificando os cursos que contem 'engenharia bioenergetica'
verifica_curso('engenharia bioenergetica')

(1, 2)

           curso_modificado  count
0  engenharia Bioenergetica     23

In [282]:
# Verificando os cursos que contem 'engenharia bioenergetica'
verifica_curso('engenharia bioenergetica')

(1, 2)

           curso_modificado  count
0  engenharia Bioenergetica     23

In [283]:
# Alterando a coluna curso modificado que contem 'engenharia biomedica' para apenas 'engenharia biomedica'
modifica_curso('Engenharia De Energias Renovaveis E Ambiente', 'engenharia de energias')
modifica_curso('engenharia bioenergetica', 'engenharia de energias')
modifica_curso('engenharia de energia', 'engenharia de energias')

In [284]:
# Confirmando modificações
verifica_curso('engenharia de energias')

(1, 2)

         curso_modificado  count
0  engenharia de energias    464

##### Engenharia de Produção e Qualidade

In [285]:
# Verificando os cursos que contem 'engenharia de producao'
verifica_curso('engenharia da producao')

(4, 2)

                      curso_modificado  count
0   engenharia Da Producao E Qualidade      4
1               engenharia Da Producao    183
2         engenharia Da Producao Civil     33
3   engenharia Da Producao E Qualidade      4

In [286]:
# Alterando a coluna curso modificado que contem 'engenharia biomedica' para apenas 'engenharia biomedica'
modifica_curso('engenharia da producao', 'engenharia da producao e qualidade')
modifica_curso('engenharia de producao', 'engenharia da producao e qualidade')
modifica_curso('Engenharia Em Processos De Producao', 'engenharia da producao e qualidade')

In [287]:
# Confirmando modificações
verifica_curso('engenharia da producao e qualidade')

(1, 2)

                     curso_modificado  count
0  engenharia da producao e qualidade  48787

##### Engenharia Elétrica

In [288]:
# Verificando os cursos que contem 'engenharia eletrica'
verifica_curso('engenharia eletrica')

(5, 2)

                                    curso_modificado  count
0                                engenharia Eletrica  20750
1                        engenharia Eletrica (Metro)     15
2                   engenharia Eletrica E Eletronica     77
3  engenharia Eletrica Eletronica (Enfase Em Tele...      3
4               engenharia Eletrica Telecomunicacoes      2

In [289]:
# Verificando os cursos que contem 'engenharia eletrica'
verifica_curso('engenharia elatrica')

(36, 2)

                                     curso_modificado  count
0                  engenharia ElAtrica E Das Energias      2
1   engenharia Com Habilitacao Em engenharia ElAtrica    315
2                                 engenharia ElAtrica   7712
3   engenharia ElAtrica (ASnfase Em Computacao) Ca...      4
4   engenharia ElAtrica (ASnfase Em EletrA nica E ...     19
5   engenharia ElAtrica (ASnfase Em Sistemas ElAtr...     71
6    engenharia ElAtrica (ASnfase Em Telecomunicacao)     71
7   engenharia ElAtrica (Enf.Computacao) Campos Do...      9
8     engenharia ElAtrica ASnfase Em Telecomunicacaes     23
9                      engenharia ElAtrica Alphaville      1
10     engenharia ElAtrica Com ASnfase Em EletrA nica      8
11  engenharia ElAtrica Com ASnfase Em EletrA nica...      8
12  engenharia ElAtrica Com ASnfase Em Sistemas De...     26
13  engenharia ElAtrica Com ASnfase Em Telecomunic...     16
14  engenharia ElAtrica Com Habilitacao Em EletrA ...    123
15  engenharia ElAtrica Com Habilitacao Em EletrA ...      2
16  engenharia ElAtrica Com Habilitacao Em Eletrot...     59
17  engenharia ElAtrica Com Habilitacao Em Sistema...     30
18  engenharia ElAtrica Com Habilitacao Em Telecom...     79
19  engenharia ElAtrica Com Habilitacao Em engenha...     25
20                 engenharia ElAtrica E Das Energias      2
21                    engenharia ElAtrica EletrA nica    119
22  engenharia ElAtrica EletrA nica (ASnfase Em Te...     13
23       engenharia ElAtrica EletrA nica/Computadores      2
24                  engenharia ElAtrica EletrotAcnica     25
25                             engenharia ElAtrica Ij      7
26                   engenharia ElAtrica Indianopolis     20
27                      engenharia ElAtrica Jabaquara      4
28                       engenharia ElAtrica MarquAas     23
29                     engenharia ElAtrica TelemAtica     27
30              engenharia ElAtrica Vila Dos RemAdios      4
31       engenharia ElAtrica engenharia Da Computacao     25
32            engenharia ElAtrica engenharia ElAtrica     46
33    engenharia ElAtrica, Com ASnfase Em EletrA nica     25
34         engenharia Habilitacao engenharia ElAtrica     24
35                     engenharia engenharia ElAtrica     47

In [290]:
# Alterando a coluna curso modificado que contem 'engenharia eletrica' para apenas 'engenharia eletrica'
modifica_curso('engenharia eletrica', 'engenharia eletrica')
modifica_curso('engenharia elatrica', 'engenharia eletrica')
modifica_curso('engenharia elaAtrica', 'engenharia eletrica')
modifica_curso('Engenharia Com Habilitacao Em ElAtrica', 'engenharia eletrica')

In [291]:
# Confirmando modificações
verifica_curso('engenharia elEtrica')

(1, 2)

      curso_modificado  count
0  engenharia eletrica  29886

##### Engenharia Textil

In [292]:
# Verificando os cursos que contem 'engenharia taxtil'
verifica_curso('engenharia taaxtil')

(3, 2)

                                   curso_modificado  count
0  engenharia Com Habilitacao Em engenharia TAaxtil      2
1                                engenharia TAaxtil      2
2                     engenharia engenharia TAaxtil      2

In [293]:
# Alterando a coluna curso modificado que contem 'engenharia textil' para apenas 'engenharia textil'
modifica_curso('engenharia taaxtil', 'engenharia textil')

In [294]:
# Confirmando modificações
verifica_curso('engenharia textil')

(1, 2)

    curso_modificado  count
0  engenharia textil      6

##### Engenharia de Bioprocessos

In [295]:
# Verificando os cursos que contem 'engenharia de bioprocessos'
verifica_curso('engenharia de bioprocessos')

(1, 2)

             curso_modificado  count
0  engenharia De Bioprocessos     72

In [296]:
# Alterando a coluna curso modificado que contem 'engenharia de bioprocessos' para apenas 'engenharia de bioprocessos'
modifica_curso('engenharia de bioprocessos', 'engenharia de bioprocessos')

In [297]:
# Confirmando modificações
verifica_curso('engenharia de bioprocessos')

(1, 2)

             curso_modificado  count
0  engenharia de bioprocessos     72

##### Engenharia Mecânica

In [298]:
# Verificando os cursos que contem 'engenharia mecanica'
verifica_curso('engenharia mecanica')

(19, 2)

                                     curso_modificado  count
0                      engenharia MecAnica Automotiva     27
1   engenharia Com Habilitacao Em engenharia MecAnica    500
2   engenharia Com Habilitacao Em engenharia Mecanica     67
3          engenharia Habilitacao engenharia MecAnica     30
4                                 engenharia MecAnica   8256
5   engenharia MecAnica -Integral: Matutino E Vesp...      7
6            engenharia MecAnica Automacao E Sistemas     88
7                      engenharia MecAnica Automotiva     27
8                         engenharia MecAnica Bacelar     17
9   engenharia MecAnica Com ASnfase Em Automacao E...      7
10  engenharia MecAnica Com Habilitacao Em MecAnic...     33
11                   engenharia MecAnica Indianopolis     17
12     engenharia MecAnica MecAnica E AutomobilAstica     33
13                             engenharia MecAnica Pa     13
14            engenharia MecAnica engenharia MecAnica    108
15                                engenharia Mecanica  22245
16                     engenharia Mecanica Automotiva    180
17                             engenharia Mecanica Pa     17
18                     engenharia engenharia MecAnica    214

In [299]:
# Alterando a coluna curso modificado que contem 'engenharia mecanica' para apenas 'engenharia mecanica'
modifica_curso('engenharia mecanica', 'engenharia mecanica')
modifica_curso('Engenharia Area MecAnica', 'engenharia mecanica')
modifica_curso('Engenharia Industrial Mecanica', 'engenharia mecanica')
modifica_curso('Engenharia Producao MecAnica', 'engenharia mecanica')

In [300]:
# Confirmando modificações
verifica_curso('engenharia mecanica')

(1, 2)

      curso_modificado  count
0  engenharia mecanica  32466

##### Engenharia Química

In [301]:
# Verificando os cursos que contem 'engenharia quimica'
verifica_curso('engenharia quimica')

(1, 2)

     curso_modificado  count
0  engenharia Quimica   6281

In [302]:
# Verificando os cursos que contem 'engenharia eletrica'
verifica_curso('engenharia quamica')

(7, 2)

                                    curso_modificado  count
0   engenharia Com Habilitacao Em engenharia QuAmica     79
1  engenharia Com Habilitacao Em engenharia QuAmica      86
2                                 engenharia QuAmica   2490
3                                engenharia QuAmica      11
4  engenharia QuAmica (ASnfase Em Fabricacao De C...     17
5              engenharia QuAmica engenharia QuAmica     21
6                      engenharia engenharia QuAmica    114

In [303]:
# Alterando a coluna curso modificado que contem 'engenharia eletrica' para apenas 'engenharia eletrica'
modifica_curso('engenharia quimica', 'engenharia quimica')
modifica_curso('engenharia quamica', 'engenharia quimica')
modifica_curso('Engenharia Industrial Quimica', 'engenharia quimica')

In [304]:
# Confirmando modificações
verifica_curso('engenharia quimica')

(1, 2)

     curso_modificado  count
0  engenharia quimica   9122

In [305]:
# Verificando os cursos que contem 'engenharia eletrica'
verifica_curso('engenharia eletrica')

(1, 2)

      curso_modificado  count
0  engenharia eletrica  29886

In [306]:
# Verificando os cursos que contem 'engenharia eletrica'
verifica_curso('engenharia elatrica')

(0, 2)

Empty DataFrame
Columns: [curso_modificado, count]
Index: []

In [307]:
# Alterando a coluna curso modificado que contem 'engenharia eletrica' para apenas 'engenharia eletrica'
modifica_curso('engenharia eletrica', 'engenharia eletrica')
modifica_curso('engenharia elatrica', 'engenharia eletrica')

In [308]:
# Confirmando modificações
verifica_curso('engenharia eletrica')

(1, 2)

      curso_modificado  count
0  engenharia eletrica  29886

##### Engenharia de Alimentos

In [309]:
# Verificando os cursos que contem 'engenharia de alimentos'
verifica_curso('engenharia de alimentos')

(1, 2)

          curso_modificado  count
0  engenharia De Alimentos   1351

##### Engenharia Eletronica

In [310]:
# Verificando os cursos que contem 'engenharia eletronica'
verifica_curso('engenharia eletronica')

(2, 2)

                              curso_modificado  count
0                        engenharia Eletronica   1152
1  engenharia Eletronica E De Telecomunicacoes    607

In [311]:
# Verificando os cursos que contem 'engenharia eletronica'
verifica_curso('engenharia eletra nica')

(4, 2)

                               curso_modificado  count
0   engenharia EletrA nica E De Telecomunicacao    116
1                        engenharia EletrA nica    195
2  engenharia EletrA nica E De Telecomunicacaes    116
3   engenharia EletrA nica E De Telecomunicacao    116

In [312]:
# Alterando a coluna curso modificado que contem 'engenharia eletronica' para apenas 'engenharia eletronica'
modifica_curso('engenharia eletronica', 'engenharia eletronica')
modifica_curso('engenharia eletra nica', 'engenharia eletronica')

In [313]:
# Confirmando modificações
verifica_curso('engenharia eletronica')

(1, 2)

        curso_modificado  count
0  engenharia eletronica   2302

##### Engenharia Florestal

In [314]:
# Verificando os cursos que contem 'engenharia florestal'
verifica_curso('engenharia florestal')

(4, 2)

                                    curso_modificado  count
0  engenharia Com Habilitacao Em engenharia Flore...      7
1                               engenharia Florestal    570
2  engenharia Florestal Com Habilitacao Em engenh...      7
3          engenharia Florestal engenharia Florestal      7

In [315]:
# Alterando a coluna curso modificado que contem 'engenharia eletrica' para apenas 'engenharia eletrica'
modifica_curso('engenharia florestal', 'engenharia florestal')

In [316]:
# Confirmando modificações
verifica_curso('engenharia florestal')

(1, 2)

       curso_modificado  count
0  engenharia florestal    591

##### Engenharia Mecatrônica

In [317]:
# Verificando os cursos que contem 'engenharia mecatronica'
verifica_curso('engenharia mecatronica')

(2, 2)

                                curso_modificado  count
0                         engenharia Mecatronica   1085
1  engenharia Mecatronica (Controle E Automacao)      7

In [318]:
# Verificando os cursos que contem 'engenharia mecatronica'
verifica_curso('engenharia MecatrA nica')

(4, 2)

                                    curso_modificado  count
0  engenharia Com Habilitacao Em engenharia Mecat...     29
1                            engenharia MecatrA nica    526
2     engenharia MecatrA nica (Controle E Automacao)     40
3                 engenharia engenharia MecatrA nica      1

In [319]:
# Alterando a coluna curso modificado que contem 'engenharia mecatronica' para apenas 'engenharia mecatronica'
modifica_curso('engenharia mecatronica', 'engenharia mecatronica')
modifica_curso('engenharia MecatrA nica', 'engenharia mecatronica')
modifica_curso('engenharia  MecatrA nica', 'engenharia mecatronica')

In [320]:
# Confirmando modificações
verifica_curso('mecatronica')

(2, 2)

         curso_modificado  count
0  Mecatronica Industrial   1339
1  engenharia mecatronica   1688

##### Engenharia de Telecomunicações

In [321]:
# Verificando os cursos que contem 'engenharia de telecomunicacoes'
verifica_curso('engenharia de telecomunicacoes')

(2, 2)

                                    curso_modificado  count
0  engenharia Com Habilitacao Em engenharia De Te...     14
1                     engenharia De Telecomunicacoes    779

In [322]:
# Alterando a coluna curso modificado que contem 'engenharia de producao' para apenas 'engenharia de producao'
modifica_curso('engenharia de telecomunicacoes', 'engenharia de telecomunicacoes')
modifica_curso('engenharia de telecomunicacaes', 'engenharia de telecomunicacoes')
modifica_curso('engenharia de comunicacoes', 'engenharia de telecomunicacoes')

In [323]:
# Confirmando modificações
verifica_curso('engenharia de telecomunicacoes')

(1, 2)

                 curso_modificado  count
0  engenharia de telecomunicacoes    874

##### Engenharia Metalúrgica

In [324]:
# Verificando os cursos que contem 'engenharia metalurgica'
verifica_curso('engenharia metalurgica')

(1, 2)

         curso_modificado  count
0  engenharia Metalurgica    332

In [325]:
# Alterando a coluna curso modificado que contem 'engenharia metalurgica' para apenas 'engenharia metalurgica'
modifica_curso('engenharia metalurgica', 'engenharia metalurgica')
modifica_curso('engenharia metalaorgica', 'engenharia metalurgica')

In [326]:
# Confirmando modificações
verifica_curso('engenharia metalurgica')

(1, 2)

         curso_modificado  count
0  engenharia metalurgica    389

##### Engenharia de Petróleo e Gás

In [327]:
# Verificando os cursos que contem 'engenharia de petroleo e gas'
verifica_curso('engenharia de petroleo e gas')

(5, 2)

                                    curso_modificado  count
0  engenharia Com Habilitacao Em engenharia De Pe...      4
1                       engenharia De Petroleo E GAs     15
2       engenharia De Petroleo E GAs Campus PraAa Xi      1
3                       engenharia De Petroleo E Gas    528
4  engenharia De Petroleo engenharia De Petroleo ...      4

In [328]:
# Alterando a coluna curso modificado que contem 'engenharia de petroleo e gas' para apenas 'engenharia de petroleo e gas'
modifica_curso('engenharia de petroleo e gas', 'engenharia de petroleo e gas')
modifica_curso('engenharia de petroleo', 'engenharia de petroleo e gas')

In [329]:
# Confirmando modificações
verifica_curso('engenharia de petroleo e gas')

(1, 2)

               curso_modificado  count
0  engenharia de petroleo e gas   2223

##### Engenharia de Minas

In [330]:
# Verificando os cursos que contem 'engenharia de minas'
verifica_curso('engenharia de minas')

(1, 2)

      curso_modificado  count
0  engenharia De Minas    468

##### Engenharia Agronomica

In [331]:
# Verificando os cursos que contem 'engenharia agronomica'
verifica_curso('engenharia agronomica')

(1, 2)

        curso_modificado  count
0  engenharia Agronomica    666

In [332]:
# Verificando os cursos que contem 'engenharia agronomica'
verifica_curso('engenharia agrona mica')

(1, 2)

         curso_modificado  count
0  engenharia AgronA mica    589

In [333]:
# Alterando a coluna curso modificado que contem 'engenharia agronomica' para apenas 'engenharia agronomica'
modifica_curso('engenharia agronomica', 'engenharia agronomica')
modifica_curso('engenharia agrona mica', 'engenharia agronomica')

In [334]:
# Confirmando modificações
verifica_curso('engenharia agronomica')

(1, 2)

        curso_modificado  count
0  engenharia agronomica   1255

##### Engenharia de Automação

In [335]:
# Verificando os cursos que contem 'automacao'
verifica_curso('automacao')

(31, 2)

                                     curso_modificado  count
0                 engenharia De Automacao E Sistemas       8
1                                Automacao E Controle      2
2                                Automacao E Robotica     83
3                       Automacao E Robotica Campinas     18
4                        Automacao E Robotica Limeira     10
5                                Automacao Industrial   3153
6   Automacao Industrial (Agrupamento De Areas Pro...     17
7   Automacao Industrial (Area Profissional: Indus...      6
8   Automacao Industrial (Area Profissional:IndAos...      3
9   Automacao Industrial (Eixo Tecnologico: Contro...     23
10                         Automacao Industrial Bangu      3
11                      Automacao Industrial Campinas     18
12                     Automacao Industrial Centro Iv      1
13  Automacao Industrial(Eixo Tecnologico: Control...     12
14  Automacao Industrial(Eixotecnologico: Controle...     11
15                    Controle E Automacao Industrial     23
16  engenharia Com Habilitacao Em engenharia De Co...     59
17                 engenharia De Automacao E Controle    373
18                 engenharia De Automacao E Sistemas     34
19  engenharia De Automacao E Sistemas (MecatrA nica)      8
20                engenharia De Automacao Empresarial     23
21                 engenharia De Controle E Automacao   9933
22  engenharia De Controle E Automacao (MecatrA nica)     22
23  engenharia De Controle E Automacao (MecatrA ni...     14
24  engenharia De Controle E Automacao (MecatrA ni...     19
25  engenharia De Controle E Automacao Com Habilit...    125
26    engenharia De Controle E Automacao MecatrA nica    131
27  engenharia De Controle E Automacao MecatrA nic...      3
28  engenharia De Controle E Automacao MecatrA nic...      3
29  engenharia De Controle E Automacao engenharia ...      8
30      engenharia engenharia De Controle E Automacao     38

In [336]:
# Alterando a coluna curso modificado que contem 'engenharia de controle e automacao' para apenas 'engenharia de controle e automacao'
modifica_curso('Engenharia De Automacao', 'engenharia de controle e automacao')
modifica_curso('Engenharia De Controle E Automacao', 'engenharia de controle e automacao')

In [337]:
# Confirmando modificações
verifica_curso('automacao')

(16, 2)

                                     curso_modificado  count
0                                Automacao E Controle      2
1                                Automacao E Robotica     83
2                       Automacao E Robotica Campinas     18
3                        Automacao E Robotica Limeira     10
4                                Automacao Industrial   3153
5   Automacao Industrial (Agrupamento De Areas Pro...     17
6   Automacao Industrial (Area Profissional: Indus...      6
7   Automacao Industrial (Area Profissional:IndAos...      3
8   Automacao Industrial (Eixo Tecnologico: Contro...     23
9                          Automacao Industrial Bangu      3
10                      Automacao Industrial Campinas     18
11                     Automacao Industrial Centro Iv      1
12  Automacao Industrial(Eixo Tecnologico: Control...     12
13  Automacao Industrial(Eixotecnologico: Controle...     11
14                    Controle E Automacao Industrial     23
15                 engenharia de controle e automacao  10801

##### Engenharia de Materiais E Nanotecnologia

In [338]:
# Verificando os cursos que contem 'engenharia em nanotecnologia'
verifica_curso('engenharia em nanotecnologia')

(1, 2)

               curso_modificado  count
0  engenharia Em Nanotecnologia      6

In [339]:
# Alterando a coluna curso modificado que contem 'engenharia em nanotecnologia' para apenas 'engenharia de materiais e nanotecnologia'
modifica_curso('Engenharia Em Nanotecnologia', 'engenharia de materiais e nanotecnologia')
modifica_curso('Engenharia De Materiais', 'engenharia de materiais e nanotecnologia')

In [340]:
# Confirmando modificações
verifica_curso('engenharia de materiais e nanotecnologia')

(1, 2)

                           curso_modificado  count
0  engenharia de materiais e nanotecnologia    630

##### Engenharia de Seguranca

In [341]:
# Verificando os cursos que contem 'engenharia de seguranca'
verifica_curso('engenharia de seguranca')

(2, 2)

                      curso_modificado  count
0              engenharia De Seguranca      4
1  engenharia De Seguranca No Trabalho     70

In [342]:
# Alterando a coluna curso modificado que contem 'engenharia de seguranca' para apenas 'engenharia de seguranca'
modifica_curso('Engenharia de seguranca', 'engenharia de seguranca')

In [343]:
# Confirmando modificações
verifica_curso('engenharia de seguranca')

(1, 2)

          curso_modificado  count
0  engenharia de seguranca     74

#### Linguística, Letras, Artes e Educação

##### Letras

In [344]:
# Verificando os cursos que contem 'letras'
verifica_curso('letras')

(89, 2)

                                     curso_modificado  count
0                         Abi Letras Portugues Ingles      3
1                                              Letras   9027
2                                             Letras       4
3           Letras (ASnfase Em Tradutor E IntArprete)      9
4                                         Letras (Cl)      7
..                                                ...    ...
84      Letras, Habilitacao PortuguAas E InglAas(Ead)     77
85                         Letras: PortuguAas/InglAas     19
86                         Letras: PortuguAas/InguAas     25
87                       Letras: Portugues E Espanhol      6
88  Lic. Em Letras LAngua Portuguesa E Literatura ...      3

[89 rows x 2 columns]

In [345]:
# Alterando a coluna curso modificado que contem 'letras' para apenas 'letras'
modifica_curso('letras', 'letras')

In [346]:
# Confirmando modificações
verifica_curso('letras')

(1, 2)

  curso_modificado  count
0           letras  55586

##### Pedagogia e Psicopedagogia

In [347]:
# Verificando os cursos que contem 'pedagogia'
verifica_curso('pedagogia')

(85, 2)

                                     curso_modificado   count
0                                        De Pedagogia      15
1                                           Pedagogia  195127
2                                  Pedagogia  TatuapA      50
3                                     Pedagogia (Ead)     135
4                                Pedagogia (Ead) Fian     764
..                                                ...     ...
80                                       PedagogiaEad     116
81  Programa De Formacao Para Professores Em Servi...       1
82                                     Psicopedagogia     132
83             Psicopedagogia Clinica E Institucional      14
84                  Segunda Licenciatura Em Pedagogia       3

[85 rows x 2 columns]

In [348]:
# Verificando os cursos que contem 'psicopedagogia'
verifica_curso('psicopedagogia')

(2, 2)

                         curso_modificado  count
0                          Psicopedagogia    132
1  Psicopedagogia Clinica E Institucional     14

In [349]:
# Alterando a coluna curso modificado que contem 'psicopedagogia' para apenas 'psicopedagogia'
modifica_curso('psicopedagogia', 'psicopedagogia')

In [350]:
# Alterando a coluna curso modificado que contem 'pedagogia' e excessoes para apenas 'pedagogia'
condicao_df = (df['curso_modificado'].str.contains('pedagogia', case = False))
excessao_1_df = ~(df['curso_modificado'] == 'psicopedagogia')

condicao_cur = (cursos['curso_modificado'].str.contains('pedagogia', case = False))
excessao_1_cur = ~(cursos['curso_modificado'] == 'psicopedagogia')

df.loc[condicao_df & excessao_1_df & excessao_2_df, 'curso_modificado'] = 'pedagogia'
cursos.loc[condicao_cur & excessao_1_cur, 'curso_modificado'] = 'pedagogia'

In [351]:
# Confirmando modificações
verifica_curso('pedagogia')

(2, 2)

  curso_modificado   count
0        pedagogia  204086
1   psicopedagogia     146

##### Educação Física

In [352]:
# Verificando os cursos que contem 'fisica'
verifica_curso('fisica')

(8, 2)

                        curso_modificado  count
0                    Abi Educacao Fisica      9
1             Atividade Fisica E Esporte     18
2         Bacharelado Em Educacao Fisica      9
3                        Educacao Fisica  61599
4                   Educacao Fisica (Rg)      6
5        Educacao Fisica Campus Ii Barra     12
6  Educacao Fisica E Desportos (Recreio)     20
7                                 fisica  10406

In [353]:
# Alterando a coluna curso modificado que contem 'educacao fisica' para apenas 'educacao fisica'
modifica_curso('educacao fisica', 'educacao fisica')
modifica_curso('educacao fasica', 'educacao fisica')
modifica_curso('atividade fisica', 'educacao fisica')
modifica_curso('educaaao fasica', 'educacao fisica')

In [354]:
# Confirmando modificações
verifica_curso('fisica')

(2, 2)

  curso_modificado  count
0  educacao fisica  89348
1           fisica  10406

##### Gestão de Esporte

In [355]:
# Verificando os cursos que contem 'esporte'
verifica_curso('esporte')

(3, 2)

                         curso_modificado  count
0  GestAo De Esportes E Clubes Esportivos     16
1  Gestao De Esportes E Clubes Esportivos     19
2                       Gestao Do Esporte     15

In [356]:
# Alterando a coluna curso modificado que contem 'estatistica' para apenas 'estatistica'
modifica_curso('esporte', 'gestao de esportes e clubes esportivos')

In [357]:
# Confirmando modificação
verifica_curso('esporte')

(1, 2)

                         curso_modificado  count
0  gestao de esportes e clubes esportivos     50

##### Artes Cênicas, Plástica e Visual

In [358]:
# Verificando os cursos que contem 'arte'
verifica_curso('artes')

(29, 2)

                                     curso_modificado  count
0                                   Abi Artes Visuais      6
1                                               Artes    717
2                                      Artes CAanicas     16
3                                       Artes Cenicas     84
4         Artes Com Habilitacao Em Educacao ArtAstica     54
5                                    Artes Dramaticas      9
6                             Artes E MAdias Digitais      6
7                            Artes Educacao ArtAstica     54
8                      Artes Educacao ArtAstica (Ead)     54
9                                  Artes Licenciatura      7
10                                    Artes PlAsticas      1
11                                    Artes Plasticas     47
12                                      Artes Visuais   4999
13                                Artes Visuais (Ead)      5
14                      Artes Visuais Artes PlAsticas     33
15        Artes Visuais Com Habilitacao Em MultimAdia      5
16               Artes Visuais E Tecnologia Da Imagem     18
17                                Artes Visuais Moema      1
18                           Artes Visuais MultimAdia      5
19        Artes Visuais, Pintura, Gravura E Escultura    126
20                     Comunicacao Das Artes Do Corpo     62
21                 Educacao ArtAstica Artes PlAsticas      1
22  Educacao ArtAstica Com Habilitacao Em Artes CA...     16
23  Educacao ArtAstica Com Habilitacao Em Artes Pl...     34
24                 Educacao Artistica Artes Plasticas      3
25                                   Em Artes Cenicas      2
26                 Em Artes Do Espetaculo: Cenografia      3
27                                 Em Artes Plasticas      1
28  Producao MultimAdia(Agrupamento De Areas Profi...      1

In [359]:
# Alterando a coluna curso modificado que contem artes para apenas 'artes' + 'area'
modifica_curso('Artes Plasticas', 'artes plasticas')
modifica_curso('Artes cenicas', 'artes cenicas')
modifica_curso('Artes caanicas', 'artes cenicas')
modifica_curso('Artes visuais', 'artes visuais')
modifica_curso('Artes dramaticas', 'artes cenicas')

In [360]:
# Alterando a coluna curso modificado que contem 'artes' e excessoes para apenas 'artes'
condicao_df = (df['curso_modificado'].str.contains('artes', case = False))
excessao_1_df = ~(df['curso_modificado'].str.contains('plasticas', case = False))
excessao_2_df = ~(df['curso_modificado'].str.contains('cenicas', case = False))
excessao_3_df = ~(df['curso_modificado'].str.contains('visuais', case = False))

condicao_cur = (cursos['curso_modificado'].str.contains('artes', case = False))
excessao_1_cur = ~(cursos['curso_modificado'].str.contains('plasticas', case = False))
excessao_2_cur = ~(cursos['curso_modificado'].str.contains('cenicas', case = False))
excessao_3_cur = ~(cursos['curso_modificado'].str.contains('visuais', case = False))

df.loc[condicao_df & excessao_1_df & excessao_2_df & excessao_3_df, 'curso_modificado'] = 'artes'
cursos.loc[condicao_cur & excessao_1_cur & excessao_2_cur & excessao_3_cur, 'curso_modificado'] = 'artes'

In [361]:
# Confirmando modificações
verifica_curso('artes')

(4, 2)

  curso_modificado  count
0            artes    958
1    artes cenicas    127
2  artes plasticas    120
3    artes visuais   5165

##### Teatro

In [362]:
# Verificando os cursos que contem 'teatro'
verifica_curso('teatro')

(4, 2)

                                    curso_modificado  count
0                                             Teatro    522
1  Teatro (ASnfase Em Interpretacao Para Teatro, ...      8
2                               Teatro Arte Educacao      4
3            Teatro Com Habilitacao Em Arte Educacao      4

In [363]:
# Alterando a coluna curso modificado que contem 'teatro' para apenas 'teatro'
modifica_curso('teatro', 'teatro')

In [364]:
# Confirmando modificações
verifica_curso('teatro')

(1, 2)

  curso_modificado  count
0           teatro    538

##### Cinema

In [365]:
# Verificando os cursos que contem 'cinema'
verifica_curso('cinema')

(9, 2)

                          curso_modificado  count
0                                   Cinema     52
1  Cinema (Area Profissional: Comunicacao)     11
2                             Cinema Barra      8
3                     Cinema E Audiovisual    745
4              Cinema E Audiovisual Cinema     19
5                          Cinema RebouAas      2
6                          Cinema Reboucas      5
7                         Cinema Tom Jobim      8
8      Producao Audiovisual Cinema E VAdeo     10

In [366]:
# Alterando a coluna curso modificado que contem 'cinema' para apenas 'cinema'
modifica_curso('cinema', 'cinema')

In [367]:
# Confirmando modificações
verifica_curso('cinema')

(1, 2)

  curso_modificado  count
0           cinema    860

#### Ciências da Saúde

##### Radiologia

In [368]:
# Verificando os cursos que contem 'radiologia'
verifica_curso('radiologia')

(24, 2)

                                     curso_modificado  count
0                                          Radiologia   9866
1                                    Radiologia (Abc)      8
2   Radiologia (Agrupamento Das Areas Profissionai...      6
3   Radiologia (Agrupamento De Areas Profissionais...     45
4   Radiologia (Agrupamento De Areas Profissionais...      4
5              Radiologia (Area Profissional: SaAode)     20
6               Radiologia (Area Profissional:SaAode)     35
7   Radiologia (Eixo Tecnologico: Ambiente, SaAode...     53
8   Radiologia (Eixotecnologico: Ambiente, SaAode ...     20
9                 Radiologia E Diagnostico Por Imagem      4
10      Radiologia E Diagnostico Por Imagem Em SaAode     30
11  Radiologia Eixo Tecnologico: Ambiente, SaAode ...     17
12                                  Radiologia MAdica     88
13                                 Radiologia MAdica      35
14      Radiologia MAdica (Area Profissional: SaAode)     71
15                                  Radiologia Medica     17
16       Radiologia Medica (Area Profissional: Saude)     10
17                          Radiologia Norte Shopping      1
18                                      Radiologia R9      1
19  Radiologia(Area Profissional: Tecnologia Da Sa...      5
20  Radiologia, Diagnostico Por Imagem E Radioterapia     13
21                 Radiologia: Diagnostico Por Imagem     23
22  Tecnologia Em Radiologia, Diagnostico Por Imag...     13
23                          Tecnologico Em Radiologia     17

In [369]:
# Alterando a coluna curso modificado que contem 'radiologia' para apenas 'radiologia'
modifica_curso('radiologia', 'radiologia')

In [370]:
# Confirmando modificações
verifica_curso('radiologia')

(1, 2)

  curso_modificado  count
0       radiologia  10402

##### Fonoaudiologia

In [371]:
# Verificando os cursos que contem 'fonoaudiologia'
verifica_curso('fonoaudiologia')

(3, 2)

         curso_modificado  count
0          Fonoaudiologia   5340
1  Fonoaudiologia (Mb Ii)     10
2     Fonoaudiologia (Mc)     15

In [372]:
# Alterando a coluna curso modificado que contem 'fonoaudiologia' para apenas 'fonoaudiologia'
modifica_curso('fonoaudiologia', 'fonoaudiologia')

In [373]:
# Confirmando modificações
verifica_curso('fonoaudiologia')

(1, 2)

  curso_modificado  count
0   fonoaudiologia   5365

##### Medicina, Biomedicina e Medicina Veterinária

In [374]:
# Verificando os cursos que contem 'medicina'
verifica_curso('medicina')

(23, 2)

                                    curso_modificado  count
0                                        Biomedicina  25058
1                                  Biomedicina (Abc)     23
2                                Biomedicina (Mb Ii)     11
3                                   Biomedicina (Mc)      7
4                      Biomedicina Analises Clinicas      6
5                                  Biomedicina Bauru     16
6                            Biomedicina Biomedicina     18
7   Biomedicina Com Habilitacao Em AnAlises ClAnicas      2
8                                Biomedicina GoiAnia     57
9                    Biomedicina SAo JosA Dos Campos     12
10                             Biomedicina Vergueiro     53
11                                          Medicina  16773
12                                  Medicina (Anual)     60
13                              Medicina VeterinAria   6737
14                        Medicina VeterinAria (Abc)     13
15                      Medicina VeterinAria Bacelar     30
16                 Medicina VeterinAria Indianopolis     30
17                              Medicina Veterinaria  12934
18    Medicina Veterinaria ( Enfermagem Veterinaria)      7
19     Medicina Veterinaria (Enfermagem Veterinaria)      6
20                      Medicina Veterinaria (Penha)     14
21                              Medicina(Sub Judice)     42
22                                      Paramedicina      1

In [375]:
# Alterando a coluna curso modificado que contem 'biomedicina' e 'medicina veterinaria' para apenas 'biomedicina' e 'medicina veterinaria'
modifica_curso('biomedicina', 'biomedicina')
modifica_curso('medicina veterinaria', 'medicina veterinaria')

In [376]:
# Alterando a coluna curso modificado que contem 'medicina' e excessoes para apenas 'medicina'
condicao_df = (df['curso_modificado'].str.contains('medicina', case = False))
excessao_1_df = ~(df['curso_modificado'] == 'medicina veterinaria')
excessao_2_df = ~(df['curso_modificado'] == 'biomedicina')

condicao_cur = (cursos['curso_modificado'].str.contains('medicina', case = False))
excessao_1_cur = ~(cursos['curso_modificado'] == 'medicina veterinaria')
excessao_2_cur = ~(cursos['curso_modificado'] == 'biomedicina')

df.loc[condicao_df & excessao_1_df & excessao_2_df, 'curso_modificado'] = 'medicina'
cursos.loc[condicao_cur & excessao_1_cur & excessao_2_cur, 'curso_modificado'] = 'medicina'

In [377]:
# Confirmando modificações
verifica_curso('medicina')

(3, 2)

       curso_modificado  count
0           biomedicina  25263
1              medicina  16876
2  medicina veterinaria  19771

##### Psicologia

In [378]:
# Verificando os cursos que contem 'psicologia'
verifica_curso('psicologia')

(34, 2)

                                     curso_modificado  count
0                                      Ontopsicologia     29
1                                          Psicologia  69730
2                                    Psicologia (Abc)      7
3                                     Psicologia (Cl)     21
4                                  Psicologia (Mb Ii)     22
5                                     Psicologia (Mc)     22
6                                     Psicologia (Os)     39
7                            Psicologia (SAo Gabriel)    147
8                                  Psicologia (Saude)     55
9                                     Psicologia (Vm)     25
10                              Psicologia Alphaville     23
11                                Psicologia Anchieta     12
12                       Psicologia Campus I RebouAas     10
13                         Psicologia Campus Ii Barra     17
14                   Psicologia Campus Norte Shopping     16
15                       Psicologia Campus R9-Taquara      6
16                       Psicologia Campus Santa Cruz     13
17                       Psicologia Campus V Friburgo     16
18        Psicologia Campus Vii Campos Dos Goytacazes      6
19                     Psicologia Campus Viii Resende     11
20                   Psicologia ChAcara Santo Antonio     78
21  Psicologia Com Habilitacao Em Formacao De Psic...      6
22                   Psicologia Formacao De Psicologo      8
23                                      Psicologia Ij     36
24                                   Psicologia MAier     22
25                      Psicologia Marginal Pinheiros     17
26                                Psicologia MarquAas     76
27                                   Psicologia Norte     19
28                               Psicologia Pinheiros     39
29                                      Psicologia Sr     12
30                                 Psicologia TatuapA     36
31                               Psicologia Vergueiro    126
32                  Psicologia, Formacao De Psicologo    137
33       Psicologia, Modalidade Formacao De Psicologo     85

In [379]:
# Alterando a coluna curso modificado que contem 'psicologia' para apenas 'psicologia'
modifica_curso('psicologia', 'psicologia')
modifica_curso('psicolog', 'psicologia')

In [380]:
# Confirmando modificações
verifica_curso('psicolog')

(1, 2)

  curso_modificado  count
0       psicologia  70942

##### Nutrição

In [381]:
# Verificando os cursos que contem 'nutricao'
verifica_curso('nutricao')

(20, 2)

                  curso_modificado  count
0         Manejo E Nutricao Animal     16
1                         Nutricao  37491
2                   Nutricao (Abc)     10
3              Nutricao (Barreiro)    153
4        Nutricao (Campus PompAia)     51
5                    Nutricao (Cl)      7
6                    Nutricao (Mc)      6
7                    Nutricao (Os)     27
8              Nutricao Alphaville     20
9                Nutricao Anchieta     19
10            Nutricao Cancioneiro     29
11  Nutricao ChAcara Santo Antonio     50
12                     Nutricao Ij     20
13                Nutricao Limeira     14
14     Nutricao Marginal Pinheiros     28
15               Nutricao MarquAas     18
16                  Nutricao Norte     31
17             Nutricao R9-Taquara     17
18                Nutricao TatuapA     17
19              Nutricao Vergueiro     67

In [382]:
# Alterando a coluna curso modificado que contem 'nutricao' para apenas 'nutricao'
modifica_curso('nutricao', 'nutricao')
modifica_curso('nutriaao', 'nutricao')

In [383]:
# Confirmando modificações
verifica_curso('nutricao')

(1, 2)

  curso_modificado  count
0         nutricao  38122

##### Fisioterapia

In [384]:
# Verificando os cursos que contem 'fisioterapia'
verifica_curso('fisioterapia')

(25, 2)

                                 curso_modificado  count
0                                    Fisioterapia  56671
1                              Fisioterapia (Abc)     20
2                       Fisioterapia (Bonsucesso)      4
3                               Fisioterapia (Mc)     18
4                               Fisioterapia (Os)     24
5                          Fisioterapia (PompAia)      8
6                          Fisioterapia (Recreio)     24
7                               Fisioterapia (Vm)      6
8                         Fisioterapia Alphaville     15
9                           Fisioterapia Anchieta     41
10                           Fisioterapia Bacelar     15
11                  Fisioterapia Campus IRebouAas      7
12             Fisioterapia Campus Norte Shopping     13
13                 Fisioterapia Campus R9-Taquara     20
14                 Fisioterapia Campus V Friburgo      8
15  Fisioterapia Campus Vii Campos Dos Goytacazes     15
16                       Fisioterapia Cancioneiro     37
17             Fisioterapia ChAcara Santo Antonio     59
18                                Fisioterapia Ij     11
19                      Fisioterapia Indianopolis     15
20                Fisioterapia Marginal Pinheiros     39
21                          Fisioterapia MarquAas     54
22                             Fisioterapia Norte     43
23                           Fisioterapia TatuapA     45
24                         Fisioterapia Vergueiro     54

In [385]:
# Alterando a coluna curso modificado que contem 'fisioterapia' para apenas 'fisioterapia'
modifica_curso('fisioterapia', 'fisioterapia')

In [386]:
# Confirmando modificações
verifica_curso('fisioterapia')

(1, 2)

  curso_modificado  count
0     fisioterapia  57266

##### Farmacia e Bioquimica

In [387]:
# Verificando os cursos que contem 'farmacia'
verifica_curso('farmacia')

(34, 2)

                                     curso_modificado  count
0   De Farmacia E Bioquimica (Praticas E Tecnicas ...     18
1                                            FarmAcia  12150
2   FarmAcia (ASnfase Em FarmacAautico Generalista...     28
3                                 FarmAcia Alphaville      8
4                                   FarmAcia Anchieta     11
5                       FarmAcia Campus Akxe Barra Ii      9
6                       FarmAcia Campus Nova Friburgo     14
7                       FarmAcia Campus Petropolis Ii     14
8                      FarmAcia ChAcara Santo Antonio     21
9   FarmAcia Com Habilitacao Em FarmAcia (Formacao...      4
10                              FarmAcia E BioquAmica    607
11                  FarmAcia E BioquAmica Cancioneiro     21
12                        FarmAcia E BioquAmica Norte     12
13                    FarmAcia E BioquAmica Vergueiro     28
14                                        FarmAcia Ij     11
15                                FarmAcia Industrial     11
16                                   FarmAcia Limeira     19
17                        FarmAcia Marginal Pinheiros     10
18                                  FarmAcia MarquAas     28
19                                     FarmAcia Norte     18
20                                    FarmAcia Santos     20
21                                   FarmAcia TatuapA     39
22                                 FarmAcia Vergueiro     50
23                                FarmAcia-BioquAmica    195
24                          FarmAcia-BioquAmica (Abc)     10
25                             FarmAcia-BioquAmica Os     20
26                                           Farmacia  30370
27                Farmacia Bioquimica Pocos De Caldas      5
28  Farmacia Com Habilitacao Em Farmaceutico Indus...     18
29                              Farmacia E Bioquimica   1358
30  Farmacia E Bioquimica (Gestao De Farmacias E D...     37
31  Farmacia E Bioquimica (Praticas E Tecnicas Lab...     40
32          Farmacia E Bioquimica Farmacia Industrial     29
33                    Gestao De Farmacias E Drogarias      6

In [388]:
# Alterando a coluna curso modificado que contem 'farmacia e bioquimica' para apenas 'farmacia e bioquimica'
modifica_curso('farmacia e bioquimica', 'farmacia e bioquimica')
modifica_curso('Ciencias Farmaceuticas', 'farmacia')

In [389]:
# Alterando a coluna curso modificado que contem 'farmacia' para apenas 'farmacia'
condicao_df = (df['curso_modificado'].str.contains('farmacia', case = False))
excessao_1_df = ~(df['curso_modificado'] == 'farmacia e bioquimica')

condicao_cur = (cursos['curso_modificado'].str.contains('farmacia', case = False))
excessao_1_cur = ~(cursos['curso_modificado'] == 'farmacia e bioquimica')

df.loc[condicao_df & excessao_1_df , 'curso_modificado'] = 'farmacia'
cursos.loc[condicao_cur & excessao_1_cur, 'curso_modificado'] = 'farmacia'

In [390]:
# Confirmando modificações
verifica_curso('farmacia')

(2, 2)

        curso_modificado  count
0               farmacia  43868
1  farmacia e bioquimica   1482

##### Enfermagem

In [391]:
# Verificando os cursos que contem 'enfermagem'
verifica_curso('enfermagem')

(32, 2)

                    curso_modificado  count
0                         Enfermagem  99764
1                   Enfermagem (Abc)     55
2            Enfermagem (Bonsucesso)      6
3        Enfermagem (Campus PompAia)     14
4                    Enfermagem (Cl)      8
5              Enfermagem (Ead) Fian      3
6                    Enfermagem (Ed)      3
7                    Enfermagem (Mc)     14
8                    Enfermagem (Os)     54
9                    Enfermagem (Vm)      6
10             Enfermagem Alphaville     42
11               Enfermagem Anchieta     20
12  Enfermagem Campos Dos Goytacazes     10
13           Enfermagem Campus Bangu     26
14           Enfermagem Campus MacaA     11
15         Enfermagem Campus Niteroi     28
16  Enfermagem Campus Norte Shopping     25
17   Enfermagem Campus Nova Friburgo      5
18       Enfermagem Campus Queimados      1
19      Enfermagem Campus R9-Taquara     18
20        Enfermagem Campus RebouAas     10
21      Enfermagem Campus Santa Cruz     30
22            Enfermagem Cancioneiro     26
23  Enfermagem ChAcara Santo Antonio     49
24          Enfermagem E ObstetrAcia     65
25          Enfermagem E Obstetricia    107
26                     Enfermagem Ij      9
27               Enfermagem Marginal     36
28               Enfermagem MarquAas     62
29                  Enfermagem Norte     48
30                Enfermagem TatuapA     26
31              Enfermagem Vergueiro     76

In [392]:
# Alterando a coluna curso modificado que contem 'enfermagem' para apenas 'enfermagem'
modifica_curso('enfermagem', 'enfermagem')

In [393]:
# Confirmando modificações
verifica_curso('enfermagem')

(1, 2)

  curso_modificado   count
0       enfermagem  100657

##### Odontologia

In [394]:
# Verificando os cursos que contem 'odontologia'
verifica_curso('odonto')

(5, 2)

           curso_modificado  count
0               Odontologia  24020
1          Odontologia (Mc)     38
2       Odontologia Bacelar     19
3  Odontologia Indianoplois     19
4       Odontologia Recreio     10

In [395]:
# Verificando os cursos que contem 'protese'
verifica_curso('protese')

(2, 2)

                   curso_modificado  count
0  Higiene Bucal E Protese Dentaria      5
1                  Protese Dentaria      4

In [396]:
# Alterando a coluna curso modificado que contem 'odonto' para apenas 'odontologia'
modifica_curso('odonto', 'odontologia')
modifica_curso('protese', 'odontologia')

In [397]:
# Confirmando modificações
verifica_curso('odontologia')

(1, 2)

  curso_modificado  count
0      odontologia  24115

#### Tecnologia da Informação

##### Análise de Sistemas

In [398]:
# Verificando os cursos que contem 'computacao'
verifica_curso('analise de sistema')

(19, 2)

                                     curso_modificado  count
0                    AnAlise De Sistema Da Computacao      1
1                                 AnAlise De Sistemas     10
2   AnAlise De Sistemas (Area Profissional: Inform...      6
3                     AnAlise De Sistemas Cancioneiro     15
4         AnAlise De Sistemas Da Computacao Centro Vi      7
5           AnAlise De Sistemas Da Computacao Niteroi     19
6      AnAlise De Sistemas Da Computacao Nova AmArica      7
7   AnAlise De Sistemas Da Computacao Terra Encantada      6
8     AnAlise De Sistemas E Linguagens De Programacao     50
9                        AnAlise De Sistemas MarquAas      4
10                                Analise De Sistemas    154
11                           Analise De Sistemas (Os)     31
12                  Analise De Sistemas De Informacao     28
13  Analise De Sistemas De Informacao (Area Profis...      5
14         Formacao EspecAfica Em AnAlise De Sistemas      2
15  InformAtica ( ASnfase Em AnAlise De Sistemas) ...      5
16  InformAtica (ASnfase Em AnAlise De Sistemas) C...      8
17     Tecnologia Em AnAlise De Sistema Da Computacao      1
18  Tecnologia Em AnAlise De Sistemas Da Computaca...      7

In [399]:
# Alterando a coluna curso modificado que contem 'analise de sistemas' e excessoes para apenas 'analise de sistemas'
condicao_df = (df['curso_modificado'].str.contains('analise de sistema', case = False))
excessao_1_df = ~(df['curso_modificado'].str.contains('administracao', case = False))

condicao_cur = (cursos['curso_modificado'].str.contains('analise de sistema', case = False))
excessao_1_cur = ~(cursos['curso_modificado'].str.contains('administracao', case = False))

df.loc[condicao_df & excessao_1_df, 'curso_modificado'] = 'analise de sistemas'
cursos.loc[condicao_cur & excessao_1_cur, 'curso_modificado'] = 'analise de sistemas'

modifica_curso('AnAlise E Desenvolvimento De  Sistemas', 'analise de sistemas')
modifica_curso('AnAlise E Desenvolvimento Sistemas', 'analise de sistemas')

In [400]:
# Confirmando modificação
verifica_curso('analise de sistema')

(1, 2)

      curso_modificado  count
0  analise de sistemas    379

#####  Cursos de Sistemas de Informação

In [401]:
# Verificando os cursos que contem 'sistema'
verifica_curso('sistema')

(65, 2)

                                     curso_modificado  count
0   CiAancia Da Computacao Com ASnfase Em Sistemas...     21
1                   Computacao Sistemas De Informacao      6
2   Em Gerencia , Analise E Projeto De Sistemas De...      1
3                    GestAo Em Sistemas De Informacao     50
4           GestAo Em Sistemas De Informacao Anchieta     44
..                                                ...    ...
60               Tecnologia Em Sistemas De Informacao     38
61                                analise de sistemas    379
62                             engenharia De Sistemas      2
63                                 gestao de sistemas   1281
64                      gestao de sistemas informacao     38

[65 rows x 2 columns]

In [402]:
# Verificando os cursos que contem 'sistemas de informacao'
verifica_curso('sistema de informacao')

(4, 2)

                                    curso_modificado  count
0                    Gestao De Sistema De Informacao     18
1                              Sistema De Informacao  12078
2  Sistema De Informacao (Area Profissional: Info...      9
3  Sistema De Informacao (Area Profissional: Info...     10

In [403]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('desenvolvimento de sistema', 'análise e desenvolvimento de sistemas')
modifica_curso('sistemas para internet', 'sistemas para internet')
modifica_curso('gestao de sistemas de informacao', 'gestao de sistemas de informacao')
modifica_curso('gestao em sistemas de informac', 'gestao de sistemas de informacao')
modifica_curso('sistema de informac', 'sistemas de informacao')

In [404]:
# Alterando a coluna curso modificado que contem 'sistemas de informacao' e excessoes para apenas 'sistemas de informacao'
condicao_df = (df['curso_modificado'].str.contains('sistemas de informacao', case = False))
excessao_1_df = ~(df['curso_modificado'].str.contains('gestao', case = False))

condicao_cur = (cursos['curso_modificado'].str.contains('sistemas de informacao', case = False))
excessao_1_cur = ~(cursos['curso_modificado'].str.contains('gestao', case = False))

df.loc[condicao_df & excessao_1_df, 'curso_modificado'] = 'sistemas de informacao'
cursos.loc[condicao_cur & excessao_1_cur, 'curso_modificado'] = 'sistemas de informacao'

In [405]:
# Confirmando modificações
verifica_curso('sistema')

(29, 2)

                                     curso_modificado  count
0   CiAancia Da Computacao Com ASnfase Em Sistemas...     21
1   Em Gerencia , Analise E Projeto De Sistemas De...      1
2                               Sistema Para Internet     23
3                                Sistemas Automotivos     34
4                                 Sistemas BiomAdicos     18
5                                 Sistemas Biomedicos      7
6   Sistemas De Bancos De Dados (Area Profissional...      3
7                              Sistemas De InformaAao      8
8                             Sistemas De Informacaes     44
9   Sistemas De Informacaes (Area Profissional: In...      1
10                      Sistemas De Seguranca Publica      1
11                       Sistemas De Telecomunicacaes     32
12                       Sistemas De Telecomunicacoes    261
13  Sistemas De Telecomunicacoes (Area Profissiona...     15
14  Sistemas De Telecomunicacoes Fixas (Area Profi...     38
15  Sistemas De Telecomunicacoes Moveis (Area Prof...     52
16                                 Sistemas ElAtricos      3
17  Sistemas ElAtricos De Energia (Area Profission...      3
18  Sistemas ElAtricos(Agrupamento De Areas Profis...      3
19                                 Sistemas Eletricos    146
20                Sistemas Eletronicos De Comunicacao      5
21           Sistemas Informatizados Internet E Redes     30
22                                analise de sistemas    379
23                             engenharia De Sistemas      2
24                                 gestao de sistemas   1281
25                   gestao de sistemas de informacao    166
26                      gestao de sistemas informacao     38
27                             sistemas de informacao  44402
28                             sistemas para internet   5685

##### Ciência da Computação, Engenharia da Computação e Computação Gráfica

In [406]:
# Verificando os cursos que contem 'computacao'
verifica_curso('computacao')

(35, 2)

                                     curso_modificado  count
0                              CiAancia Da Computacao   3742
1                   CiAancia Da Computacao Alphaville     20
2                     CiAancia Da Computacao Anchieta     21
3                  CiAancia Da Computacao Cancioneiro     44
4        CiAancia Da Computacao ChAcara Santo Antonio     44
5   CiAancia Da Computacao Com ASnfase Em Sistemas...     21
6           CiAancia Da Computacao Marginal Pinheiros     17
7                     CiAancia Da Computacao MarquAas     73
8                        CiAancia Da Computacao Norte     25
9                      CiAancia Da Computacao TatuapA     45
10                   CiAancia Da Computacao Vergueiro     47
11                            CiAancias Da Computacao    310
12                              CiAncia Da Computacao     20
13                              Ciencia Da Computacao  18505
14              Ciencia Da Computacao (Metro Carioca)      1
15                     Ciencia Da Computacao Anchieta      2
16                       Ciencia Da Computacao Imirim     10
17                      Ciencia Da Computacao Morumbi      6
18                             Ciencias Da Computacao    155
19                                         Computacao    628
20                           Computacao E InformAtica      6
21                           Computacao E Informatica      3
22                                 Computacao Grafica      2
23                        Computacao Grafica Anchieta      4
24                                    Computacao(Ead)     20
25                  Comunicacao Em Computacao Grafica      8
26                      Licenciatura Em Computacao Ij      2
27  engenharia Com Habilitacao Em engenharia Da Co...    184
28                           engenharia Da Computacao   2095
29                   engenharia Da Computacao Bacelar     21
30              engenharia Da Computacao Indianopolis     21
31              engenharia Da Computacao(SAo Gabriel)     67
32                           engenharia De Computacao   8560
33  engenharia De Computacao engenharia Da Computacao     13
34                engenharia engenharia Da Computacao     81

In [407]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('computacao grafica', 'computacao grafica')
modifica_curso('engenharia da computacao', 'engenharia da computacao')
modifica_curso('ciaancias da computacao', 'ciencias da computacao')
modifica_curso('ciencia da computacao', 'ciencias da computacao')
modifica_curso('ciencias da computacao', 'ciencias da computacao')
modifica_curso('ciaancia da computacao', 'ciencias da computacao')
modifica_curso('ciancia da computacao', 'ciencias da computacao')
modifica_curso('engenharia de computaaao', 'engenharia da computacao')
modifica_curso('computacao e informatica', 'computacao')
modifica_curso('licenciatura em computacao', 'computacao')

In [408]:
# Confirmando modificações
verifica_curso('computacao')

(7, 2)

           curso_modificado  count
0                Computacao    628
1           Computacao(Ead)     20
2    ciencias da computacao  23108
3                computacao     11
4        computacao grafica     14
5  engenharia De Computacao   8560
6  engenharia da computacao   2488

##### Automação

In [409]:
# Verificando os cursos que contem 'computacao'
verifica_curso('automacao')

(16, 2)

                                     curso_modificado  count
0                                Automacao E Controle      2
1                                Automacao E Robotica     83
2                       Automacao E Robotica Campinas     18
3                        Automacao E Robotica Limeira     10
4                                Automacao Industrial   3153
5   Automacao Industrial (Agrupamento De Areas Pro...     17
6   Automacao Industrial (Area Profissional: Indus...      6
7   Automacao Industrial (Area Profissional:IndAos...      3
8   Automacao Industrial (Eixo Tecnologico: Contro...     23
9                          Automacao Industrial Bangu      3
10                      Automacao Industrial Campinas     18
11                     Automacao Industrial Centro Iv      1
12  Automacao Industrial(Eixo Tecnologico: Control...     12
13  Automacao Industrial(Eixotecnologico: Controle...     11
14                    Controle E Automacao Industrial     23
15                 engenharia de controle e automacao  10801

In [410]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('Automacao Industrial', 'automacao industrial')
modifica_curso('Automacao E Robotica', 'automacao e robotica')
modifica_curso('Automacao E Controle', 'automacao industrial')
modifica_curso('Controle E Automacao', 'engenharia de controle e automacao')
modifica_curso('Engenharia De Controle E  Automacao', 'engenharia de controle e automacao')

In [411]:
# Confirmando modificações
verifica_curso('automacao')

(3, 2)

                     curso_modificado  count
0                automacao e robotica    111
1                automacao industrial   3272
2  engenharia de controle e automacao  10801

##### Gerenciamento De Redes De Computadores

In [412]:
# Verificando os cursos que contem 'Gerenciamento De Redes De Computadores'
verifica_curso('Gerenciamento De Redes De Computadores')

(8, 2)

                                    curso_modificado  count
0             Gerenciamento De Redes De Computadores    181
1  Gerenciamento De Redes De Computadores (Area P...     18
2  Gerenciamento De Redes De Computadores (Area P...     29
3  Gerenciamento De Redes De Computadores (Area P...      3
4    Gerenciamento De Redes De Computadores MarquAas      1
5    Gerenciamento De Redes De Computadores Paulista      7
6     Gerenciamento De Redes De Computadores TatuapA     11
7           Gerenciamento De Redes De Computadores**     21

In [413]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('Rede De Computador', 'gerenciamento de redes de computadores')
modifica_curso('Redes De Computador', 'gerenciamento de redes de computadores')

In [414]:
# Confirmando modificações
verifica_curso('gerenciamento de redes de computadores')

(1, 2)

                         curso_modificado  count
0  gerenciamento de redes de computadores  15281

##### Gestão da Tecnologia de Informação

In [415]:
# Verificando os cursos que contem 'Gestão da Tecnologia de Informação'
verifica_curso('gestao da tecnologia')

(20, 2)

                                     curso_modificado  count
0                  GestAo Da Tecnologia Da Informacao   3287
1   GestAo Da Tecnologia Da Informacao (Eixo Tecno...     19
2   GestAo Da Tecnologia Da Informacao (Eixo Tecno...     46
3   GestAo Da Tecnologia Da Informacao (Eixo Tecno...      1
4   GestAo Da Tecnologia Da Informacao (Eixotecnol...     27
5             GestAo Da Tecnologia Da Informacao Akxe      1
6         GestAo Da Tecnologia Da Informacao Anchieta     22
7   GestAo Da Tecnologia Da Informacao ChAcara San...     24
8        GestAo Da Tecnologia Da Informacao Jabaquara      1
9         GestAo Da Tecnologia Da Informacao MarquAas     19
10        GestAo Da Tecnologia Da Informacao Paulista     19
11  GestAo Da Tecnologia Da Informacao(Agrupamento...      3
12  GestAo Da Tecnologia Da Informacao(Agrupamento...      1
13  GestAo Da Tecnologia Da Informacao(Agrupamento...     26
14  GestAo Da Tecnologia Da Informacao(Agrupamento...      9
15  GestAo Da Tecnologia Da Informacao(Eixo Tecnol...      9
16                 Gestao Da Tecnologia Da Informacao   9057
17  Gestao Da Tecnologia Da Informacao (Eixo Tecno...      1
18           Gestao Da Tecnologia Da Informacao Meier      1
19         Gestao Da Tecnologia Da Informacao Tatuape      4

In [416]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('gestao da tecnologia', 'gestao da tecnologia da informaçao')

In [417]:
# Confirmando modificações
verifica_curso('gestao da tecnologia da informaçao')

(1, 2)

                     curso_modificado  count
0  gestao da tecnologia da informaçao  12577

##### Web design

In [418]:
# Verificando os cursos que contem 'Web design'
verifica_curso('Web design')

(10, 2)

                                    curso_modificado  count
0                                         Web Design     15
1  Comunicacao Em Web Design ( Area Profissional:...      4
2                                      Em Web Design      3
3                              Projeto Em Web Design      3
4                                         Web Design     95
5                   Web Design E Comercio Eletronico      1
6                              Web Design E Internet      7
7                           Web Design E Programacao    151
8  Web Design Editoracao EletrA nica (Area Inform...     15
9         Web Design, Area Profissional: InformAtica     10

In [419]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('Web design', 'web design')

In [420]:
# Confirmando modificações
verifica_curso('Web design')

(1, 2)

  curso_modificado  count
0       web design    304

##### Banco de Dados, Ciência de Dados e Processamento de Dados

In [421]:
# Verificando os cursos que contem 'dados'
verifica_curso('dados')

(20, 2)

                                     curso_modificado  count
0                                      Banco De Dados   1346
1     Banco De Dados (Area Profissional: InformAtica)     39
2     Banco De Dados (Area Profissional: Informatica)     21
3   Banco De Dados (Area Profissional: Informatica...      2
4   Banco De Dados (Area Profissional: Informatica...      2
5   Banco De Dados (Area Profissional: Informatica...      2
6   Banco De Dados(Eixo Tecnologico:Informacao E C...      4
7                                     Bancos De Dados      3
8        CiAancia De Dados E InteligAancia Artificial      5
9                                Comunicacao De Dados      2
10                           Gestao De Banco De Dados      2
11                             Processamento De Dados    512
12  Processamento De Dados (Area Profissional: Inf...      9
13  Processamento De Dados (Area Profissional:Info...      3
14                        Processamento De Dados (Mc)     17
15                        Processamento De Dados (Os)      2
16                        Processamento De Dados (Vm)      9
17  Sistemas De Bancos De Dados (Area Profissional...      3
18               Tecnologia De Processamento De Dados      1
19               Tecnologia Em Processamento De Dados     85

In [422]:
# Alterando a coluna curso modificado que contem 'estatistica' para apenas 'estatistica'
modifica_curso('banco de dados', 'banco de dados')
modifica_curso('bancos de dados', 'banco de dados')
modifica_curso('ciaancia de dados', 'ciencia de dados')
modifica_curso('Processamento De Dados', 'processamento de dados')

In [423]:
# Confirmando modificações
verifica_curso('dados')

(4, 2)

         curso_modificado  count
0    Comunicacao De Dados      2
1          banco de dados   1424
2        ciencia de dados      5
3  processamento de dados    638

In [424]:
faculdades_nulas = pd.DataFrame(df[df['universidade'].isnull()]['codigo_emec'].value_counts()).reset_index()
faculdades_nulas

Empty DataFrame
Columns: [codigo_emec, count]
Index: []

##### Informatica

In [425]:
# Verificando os cursos que contem 'Informat'
verifica_curso('informat')

(20, 2)

                                     curso_modificado  count
0   Editoracao Eletronica (Area Profissional: Info...      2
1                               Gestao Em Informatica      6
2                                         InformAtica    116
3                        InformAtica Campus Cabo Frio     10
4                     InformAtica Campus Nova AmArica      7
5                         InformAtica Campus PraAa Xi      3
6   InformAtica Na Educacao (Area Profissional: In...     56
7                             InformAtica Nova IguaAu     17
8                                         Informatica    665
9                                        Informatica       5
10                            Informatica Empresarial      8
11                Informatica Empresarial E Comercial      6
12  Infra-Estrutura E Suporte De MicroinformAtica ...     12
13            Internet Business (Area De Informatica)     11
14  Jogos Digitais (Agrupamento De Areas Profissio...      9
15  Programacao De Computadores (Area Profissional...      6
16  Redes E Ambientes Operacionais (Area Profissio...      7
17  Sistemas De Informacaes (Area Profissional: In...      1
18           Sistemas Informatizados Internet E Redes     30
19                          Tecnologia Em Informatica      1

In [426]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('informat', 'informatica')

In [427]:
# Confirmando modificações
verifica_curso('informatica')

(1, 2)

  curso_modificado  count
0      informatica    978

##### Jogos Digitais

In [428]:
# Verificando os cursos que contem 'jogos'
verifica_curso('jogos')

(6, 2)

                                    curso_modificado  count
0                           Design De Jogos Digitais     18
1                                     Jogos Digitais   2713
2  Jogos Digitais (Eixo Tecnologico: Informacao E...     16
3                           Jogos Digitais Centro Iv      8
4                        Jogos Digitais(SAo Gabriel)     67
5                      Programacao De Jogos Digitais     67

In [429]:
# Alterando a coluna curso modificado que contem (curso) para apenas (curso)
modifica_curso('jogos', 'jogos digitais')

In [430]:
# Confirmando modificações
verifica_curso('jogos')

(1, 2)

  curso_modificado  count
0   jogos digitais   2889

#### Outros

##### Cursos

In [431]:
mais_cursos = [[' Producao Multimidia Marques', ' producao multimidia'],
 ['Traducao', ' traducao'],
 ['Acupuntura', 'acupuntura'],
 ['Agrozootecnica', 'agrozootecnica'],
 ['Alimentos', 'alimentos'],
 ['Interiores', 'design de interiores'],
 ['Analise Gerencial', 'analise gerencial'],
 ['Antropologia', 'antropologia'],
 ['Optometria', 'optometria'],
 ['Aquicultura', 'aquicultura'],
 ['Arbitragem', 'arbitragem'],
 ['Arqueologia', 'arqueologia'],
 ['Arte Educacao', 'artes'],
 ['Arteterapia', 'artes'],
 ['Audio Visual', 'audio visual'],
 ['Audiovisual', 'audio visual'],
 ['Auditoria E Faturamento Hospitalar', 'auditoria e faturamento hospitalar'],
 ['Auditoria Fiscal E Tributaria', 'auditoria fiscal e tributaria'],
 ['Automobilistica', 'automobilistica'],
 ['Aviacao Civil', 'aviacao civil'],
 ['Teologia', 'teologia'],
 ['Bebidas', 'bebidas'],
 ['Beleza', 'beleza'],
 ['Biblioteconomia', 'biblioteconomia'],
 ['Big Data', 'big data'],
 ['BiocombustAveis', 'biocombustiveis'],
 ['Biocombustiveis', 'biocombustiveis'],
 ['Bioenergia', 'bioenergia'],
 ['Bovinocultura', 'bovinocultura'],
 ['Cafeicultura', 'cafeicultura'],
 ['Canto', 'canto'],
 ['Ceramica', 'ceramica'],
 ['Chef Internacional', 'gastronomia'],
 ['CiAancia E Inovacao Em Alimentos', 'gastronomia'],
 ['CiAancia EconA mica', 'ciencias economicas'],
 ['CiAancias Atuariais', 'ciencias atuariais'],
 ['CiAancias BiomAdicas', 'ciencias biomedicas'],
 ['CiAancias Com Habilitacao Em QuAmica',
  'quimica'],
 ['CiAancias ContabAis', 'ciencias contabeis'],
 ['CiAancias Da ReligiAo', 'ciencias religiosas'],
 ['CiAancias FarmacAauticas', 'farmacia'],
 ['CiAancias Gerenciais', 'ciencias gerenciais'],
 ['CiAancias Religiosas', 'ciencias religiosas'],
 ['Ciencia Da Educacao', 'ciencia da educacao'],
 ['Ciencia Da Informacao', 'ciencia da informacao'],
 ['Ciencia Da Religiao', 'ciencias religiosas'],
 ['Ciencia Economica', 'ciencias economicas'],
 ['Ciencias Ambientais', 'ciencias ambientais'],
 ['Ciencias Atuariais', 'ciencias atuariais'],
 ['Ciencias Da Informacao', 'ciencias da informacao'],
 ['Ciencias Da Religiao', 'ciencias religiosas'],
 ['Ciencias Equinas', 'ciencias equinas'],
 ['Ciencias Teologicas', 'ciencias teologicas'],
 ['Comunicacao Assistiva', 'comunicacao assistiva'],
 ['Comunicacao De Dados', 'comunicacao de dados'],
 ['Comunicacao E Multimeios', 'comunicacao e multimeios'],
 ['Comunicacao Institucional', 'comunicacao institucional'],
 ['Comunicacao Juridica', 'comunicacao juridica'],
 ['Confeitaria E Panificacao', 'confeitaria e panificacao'],
 ['Conservacao E Restauro', 'conservacao e restauro'],
 ['Construcao Naval', 'construcao naval'],
 ['Consultoria Tributaria', 'consultoria tributaria'],
 ['Controle Ambiental (Area Profissional: Meio Ambiente)',
  'controle ambiental'],
 ['Controle De Obras', 'controle de obras'],
 ['Controle De Processos QuAmicos', 'controle de processos quimicos'],
 ['Controle De Qualidade', 'controle de qualidade'],
 ['Cozinh', 'gastronomia'],
 ['Criacao E Producao Publicitaria (Area Profissional: Comunicacao)',
  'publicidade e propaganda'],
 ['Criacao Eproducao GrAfica Digital MarquAas',
  'producao digital'],
 ['DanAa', 'danca'],
 ['Danca', 'danca'],
 ['Decoracao', 'eventos'],
 ['Defesa CibernAtica', 'defesa cibernetica'],
 ['Desenho De Animacao', 'design de animacao'],
 ['Design (Abc)', 'design'],
 ['Design (Vm)', 'design'],
 ['Design Com', 'design'],
 ['Design De Ambientes', 'design de ambientes'],
 ['Design De Animacao', 'design de animacao'],
 ['Design De Carnaval', 'design de carnaval'],
 ['Design De Embalagens', 'design de embalagens'],
 ['Design De Games', 'design digital'],
 ['Design De MAdia Digital', 'design digital'],
 ['Design De MobiliArio', 'design de moveis'],
 ['Design De Moveis', 'design de moveis'],
 ['Design De MultimAdia', 'design de multimadia'],
 ['Design Digital', 'design digital'],
 ['Design E Moda', 'design de moda'],
 ['Design Ij', 'design'],
 ['Design Moda', 'design de moda'],
 ['Design Programacao Visual', 'design digital'],
 ['Design Projeto De Produto', 'design de produtos'],
 ['Design Projeto Visual', 'design visual'],
 ['Design Visual', 'design visual'],
 ['Desing De Interiores', 'desing de interiores'],
 ['Dierito', 'direito'],
 ['Direcao E Producao Em Radio E Televisao',
  'direcao e producao em radio e televisao'],
 ['DireritoCiencias Humanas', 'direito'],
 ['Ecologia', 'ecologia'],
 ['Economia', 'economia'],
 ['Editoracao Eletronica', 'editoracao eletronica'],
 ['Educacao ArtAstica', 'artes'],
 ['Educacao Artistica', 'artes'],
 ['Educacao E Seguranca Para O Transito',
  'seguranca no transito'],
 ['Educacao Especial', 'educacao especial'],
 ['Educacao FisAca', 'educacao fisica'],
 ['Educacao Nas Organizacoes', 'educacao nas organizacoes'],
 ['Educador Social', 'educador social'],
 ['EletrA nica Industrial', 'eletronica'],
 ['Eletroeletronica', 'eletroeletronica'],
 ['Eletronica Industrial', 'eletronica industrial']]

In [432]:
mais_cursos_2 = [['Eletrotecnica Industrial', 'eletrotecnica'],
 ['Call Center', 'call center'],
 ['Controladoria E Financas', 'controladoria e financas'],
 ['Controladoria Empresarial', 'controladoria empresarial'],
 ['Danca E Coreografia', 'danca'],
 ['Decoracao De Interiores', 'design de interiores'],
 ['Design De Calcados E Assessorios',
  'design de calcados e assessorios'],
 ['Financas Corporativas', 'financas corporativas'],
 ['Gerencia , Analise E Projeto De Sistemas De Informacoes',
  'sistemas de informacao'],
 ['Gerenciamento De Pequenas E Medias Empresas',
  'gerencia de negocios'],
 ['Gerenciamento De Redes', 'gerenciamento de redes'],
 ['Hospedagem', 'gestao hoteleira'],
 ['Producao Industrial De Couros E Calcados',
  'producao industrial de couros e calcados'],
 ['Seguranca Do Trabalho', 'seguranca'],
 ['Concreto',
  'construcao civil'],
 ['Jornalismo', 'jornalismo'],
 ['Radialismo', 'radialismo'],
 ['Instalacoes Eletricas',
  'instalacoes eletricas'],
 ['Telematica', 'telematica'],
 ['Traducao',
  'traducao'],
 ['Webmaster & Webdesign', 'web design'],
 ['Embelezamento E Imagem Pessoal', 'beleza'],
 ['Emergencias Medicas', 'emergencias medicas'],
 ['Empreendedorismo', 'empreendedorismo'],
 ['Empreendimento', 'empreendedorismo'],
 ['Energias RenovAveis', 'energias renovaveis'],
 ['Enfernagem', 'enfermagem'],
 ['Ergonomia Na Industria', 'ergonomia na industria'],
 ['Escrita Criativa', 'escrita criativa'],
 ['EstatAstica', 'estatistica'],
 ['Estilismo', 'estilismo'],
 ['Estrategia De Negocios', 'estrategia de negocios'],
 ['Estudos Sociais', 'ciencias sociais'],
 ['Exploracao E Producao De Petroleo (Area Profissional: Industria)',
  'exploracao e producao de petroleo'],
 ['Fabricacao MecAnica', 'fabricacao mecanica'],
 ['Fabricacao Mecanica', 'fabricacao mecanica'],
 ['Financas Empresariais', 'financas empresariais'],
 ['Financeira Norte', 'financas empresariais'],
 ['Formacao De Escritores E Agentes Literarios',
  'letras'],
 ['Formacao De Executivos', 'formacao de executivos'],
 ['Formacao De Professores Para Educacao Infantil E Series Iniciais Do Ensino Fundamental',
  'pedagogia'],
 ['Formacao EspecAfica Em GerAancia De Negocios',
  'gestao de negocios'],
 ['Pedagogica', 'pedagogia'],
 ['Futebol', 'futebol'],
 ['Geologia', 'geologia'],
 ['Geoprocessamento', 'geoprocessamento'],
 ['GerAancia De Negocios', 'gerencia de negocios'],
 ['GerAancia De Planejamento E Controle Financeiro',
  'gerencia financeira'],
 ['Gerencia De Clinicas E Hospitais', 'gerencia hospitar'],
 ['Gerencia De Negocios', 'gerencia de negocio'],
 ['Gerencia De Negocios Imobiliarios', 'gerencia de negocio'],
 ['Gerencia De Obras Civis', 'gestao de obras'],
 ['Gerencia De Supermercados', 'gerencia de supermercados'],
 ['Gerencia Em Negocios Imobiliarios', 'gerencia negocios'],
 ['Gerenciamento Ambiental (Area Profissional: Meio Ambiente)',
  'gestao ambiental'],
 ['Gerontologia', 'gerontologia'],
 ['Gravacao E Producao FonogrAfica Centro I',
  'producao fonografica'],
 ['Horticultura', 'horticultura'],
 ['Inspecao De Equipamentos E De Soldagem',
  'inspecao de equipamentos e de soldagem'],
 ['Instrumentacao E Controle', 'instrumentacao e controle'],
 ['Interdisciplinar Em CiAancias E Humanidades Bi/Li',
  'ciencias humanas'],
 ['Internet Business', 'internet business'],
 ['Internet Das Coisas', 'big data'],
 ['Internet E Comercio Eletronico', 'internet e comercio eletronico'],
 ['Interpretacao Cenica', 'artes cenicas'],
 ['Interpretes De Lingua Brasileira De Sinais',
  'libras'],
 ['PerAcia Criminal',
  'pericia criminal'],
 ['Pericia Criminal',
  'pericia criminal'],
 ['Investigacao Profissional', 'investigacao profissional'],
 ['Ioga', 'ioga'],
 ['Jornalismo', 'jornalismo'],
 ['Analises Clinicas',
  'analises clinicas'],
 ['Laticinios', 'alimentos'],
 ['Lazer E Desenvolvimento Social', 'turismo'],
 ['Lazer Em Desenvolvimento Social', 'turismo'],
 ['QuAmica', 'quimica'],
 ['Lingua Portuguesa',
  'letras'],
 ['MAdias Digitais', 'midias digitais'],
 ['Manutencao De Aeronaves', 'manutencao de aeronaves'],
 ['Manutencao Industrial', 'manutencao industrial'],
 ['Maquiagem Profissional', 'maquiagem profissional'],
 ['Material De Construcao', 'construcao civil'],
 ['Mecanica De Precisao', 'mecanica de precisao'],
 ['Mecanizacao AgrAcola', 'mecanizacao agricola'],
 ['Mecanizacao Agricola', 'mecanizacao agricola'],
 ['MecatrA nica', 'mecatronica'],
 ['MecatrA nica Industrial', 'mecatronica']]

In [433]:
for curso in mais_cursos:
    modifica_curso(curso[0], curso[1])

for curso in mais_cursos_2:
    modifica_curso(curso[0], curso[1])

C:\Users\amand\AppData\Local\Temp\ipykernel_18796\4172837732.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df.loc[df['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final
C:\Users\amand\AppData\Local\Temp\ipykernel_18796\4172837732.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cursos.loc[cursos['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final

In [434]:
mais_cursos_3 = [[' producao multimidia', 'producao multimidia'],
 ['CiAancias', 'ciencias naturais'],
 ['Computacao(Ead)', 'computacao'],
 ['Controle Ambiental', 'controle ambiental'],
 ['Criacao E Producao Publicitaria', 'criacao e producao publicitaria'],
 ['Design (Abc)', 'design'],
 ['Design (Vm)', 'design'],
 ['Design Projeto Do Produto', 'design de produtos'],
 ['Direrito', 'direito'],
 ['Do Vestuario', 'moda'],
 ['Ciencias Humanas', 'ciencias humanas'],
 ['Exploracao E Producao De Petroleo', 'exploracao e producao de petroleo'],
 ['Pedagogica', 'pedagogia'],
 ['Gerenciamento Ambiental', 'gerenciamento ambiental'],
 ['Mecatronica Industrial', 'mecatronica'],
 ['Mediacao', 'mediacao'],
 ['Mineracao', 'mineracao'],
 ['Moda', 'moda'],
 ['MultimAdia', 'multimidia'],
 ['Musicoterapia', 'musica'],
 ['Naturologia', 'naturologia'],
 ['Negociacao E Relacionamento Comercial',
  'negociacao e relacionamento comercial'],
 ['Negocios ImobiliArios', 'negocios imobiliarios'],
 ['Negocios Para Internet', 'negocios para internet'],
 ['Oceanografia', 'oceanografia'],
 ['OftAlmica', 'oftalmica'],
 ['Operadoras E Agencias De Viagens', 'operadoras e agencias de viagens'],
 ['Ortoptica', 'ortoptica'],
 ['Padagogia', 'pedagogia'],
 ['Paisagismo', 'paisagismo'],
 ['Panificacao & Confeitaria', 'gastronomia'],
 ['Papel E Celulose', 'papel e celulose'],
 ['Pegagogia', 'pedagogia'],
 ['Pilotagem Comercial De Aeronaves', 'pilotagem de aeronaves'],
 ['Pilotagem Profissional De Aeronaves',
  'pilotagem de aeronaves'],
 ['PlAsticos E Moldes', 'plasticos e moldes'],
 ['Planejamento Estrategico Empresarial',
  'planejamento empresarial'],
 ['Planejamento LogAstico De Cargas', 'logistica'],
 ['Planejamento Logistico De Cargas', 'logistica'],
 ['Podologia', 'podologia'],
 ['PolAmeros', 'matematica'],
 ['Polimeros', 'matematica'],
 ['Processamento De Carnes', 'processamento de carnes'],
 ['Processos Ambientais', 'processos ambientais'],
 ['Processos Escolares', 'processos escolares'],
 ['Processos Gerenciais', 'processos gerenciais'],
 ['Processos MetalAorgicos', 'processos metalurgicos'],
 ['Processos Metalurgicos', 'processos metalurgicos'],
 ['Processos QuAmicos', 'processos quimicos'],
 ['Processos Quimicos', 'processos quimicos'],
 ['Producao AgrAcola', 'producao agricola'],
 ['Producao Agricola', 'producao agricola'],
 ['Producao CAanica', 'artes cenicas'],
 ['Producao Cenica', 'artes cenicas'],
 ['Producao Cultural', 'producao cultural'],
 ['Producao De Cacau E Chocolate', 'producao de cacau e chocolate'],
 ['Producao De Graos', 'producao de graos'],
 ['Producao De Multimidia', 'producao de multimidia'],
 ['Producao De Petroleo E Gas', 'producao de petroleo e gas'],
 ['Producao De Projetos De Edificacoes',
  'producao de projetos de edificacoes'],
 ['Producao De Software', 'producao de software'],
 ['Producao De Vestuario', 'producao de vestuario'],
 ['Producao FonogrAfica', 'producao fonografica'],
 ['Producao GrAfica', 'producao grafica'],
 ['Producao Industrial E Automotiva', 'producao industrial e automotiva'],
 ['Producao Joalheira', 'producao joalheira'],
 ['Producao Moveleira', 'producao moveleira'],
 ['Producao MultimAdia', 'producao de multimidia'],
 ['Producao Multimidia', 'producao de multimidia'],
 ['Producao PublicitAria', 'producao publicitaria'],
 ['Producao Sucroalcooleira', 'producao sucroalcooleira'],
 ['Producao Textil', 'producao textil'],
 ['Produtores E Musicos De Rock', 'produtores e musicos de rock'],
 ['Programa Especial De Formacao De Docente',
  'pedagogia'],
 ['Programa Especial De Formacao Pedagogica',
  'pedagogia'],
 ['Psicomotricidade', 'psicomotricidade'],
 ['Qualidade E Produtividade', 'qualidade e produtividade'],
 ['Quiropraxia', 'quiropraxia'],
 ['RAdio, Tv E Internet', 'radio, tv e internet'],
 ['Radio E Tv', 'radio, tv e internet'],
 ['Radio, Tv E Internet', 'radio, tv e internet'],
 ['Redes AvanAadas Em Telecomunicacaes Centro Iv',
  'redes de telecomunicacaes'],
 ['Redes Avancadas De Telecomunicacoes',
  'redes de telecomunicacoes'],
 ['Redes De Telecomunicacaes', 'redes de telecomunicacaes']
]

In [435]:
for curso in mais_cursos_3:
    modifica_curso(curso[0], curso[1])

C:\Users\amand\AppData\Local\Temp\ipykernel_18796\4172837732.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df.loc[df['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final
C:\Users\amand\AppData\Local\Temp\ipykernel_18796\4172837732.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cursos.loc[cursos['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final

In [436]:
mais_cursos_4 = [['Telecomunicacoes', 'telecomunicacoes'],
 ['Redes E Ambientes Operacionais', 'redes e ambientes operacionais'],
 ['Refrigeracao E Climatizacao', 'refrigeracao e climatizacao'],
 ['Relacaes Internacional', 'relacoes internacionais'],
 ['Relacaes PAoblicas', 'relacoes publicas'],
 ['Politicas Publicas', 'politicas publicas'],
 ['Relacoes Publicas', 'relacoes publicas'],
 ['Resgate E Socorro', 'resgate e socorro'],
 ['Rochas Ornamentais', 'rochas ornamentais'],
 ['SaAode Coletiva', 'saude publica'],
 ['SaAode Do Idoso', 'saude do idoso'],
 ['Saneamento Ambiental', 'saneamento ambiental'],
 ['Secretario Executivo Trilingue (Portugues, Ingles E Espanhol)',
  'secretariado'],
 ['SeguranAa Da Informacao', 'seguranca da informacao'],
 ['SeguranAa Da Tecnologia Da Informacao',
  'seguranca da informacao'],
 ['SeguranAa Do Trabalho', 'seguranca do trabalho'],
 ['SeguranAa Empresarial', 'seguranca empresarial'],
 ['SeguranAa No TrAnsito', 'seguranca no transito'],
 ['SeguranAa No Trabalho', 'seguranca do trabalho'],
 ['SeguranAa PAoblica', 'seguranca publica'],
 ['SeguranAa Privada', 'seguranca privada'],
 ['Seguranca Da Informacao', 'seguranca da informacao'],
 ['Seguranca E Ordem Publica', 'seguranca publica'],
 ['Seguranca No Trabalho', 'seguranca do trabalho'],
 ['Seguranca No Transito', 'seguranca no transito'],
 ['Seguranca Privada', 'seguranca privada'],
 ['Seguranca Publica', 'seguranca publica'],
 ['ServiAos Judiciais', 'servicos judiciais'],
 ['ServiAos JurAdicos', 'servicos juridicos'],
 ['ServiAos Penais', 'servicos penais'],
 ['Telecomunicacaes', 'telecomunicacoes'],
 ['Servicos Juridicos', 'servicos juridicos'],
 ['Servicos Penais', 'servicos penais'],
 ['Silvicultura', 'silvicultura'],
 ['Sistema Para Internet', 'sistemas para internet'],
 ['Sistemas Automotivos', 'sistemas automotivos'],
 ['Sistemas BiomAdicos', 'sistemas biomedicos'],
 ['Sistemas Biomedicos', 'sistemas biomedicos'],
 ['Sistemas De InformaAao', 'sistemas da informacao'],
 ['Sistemas De Informacaes', 'sistemas da informacao'],
 ['Sistemas De Informacao ChAcara Santo Antonio',
  'sistemas da informacao'],
 ['Sistemas De Seguranca Publica', 'sistemas de seguranca publica'],
 ['Sistemas De Telecomunicacaes', 'sistemas de telecomunicacoes'],
 ['Sistemas ElAtricos', 'sistemas eletricos'],
 ['Sistemas ElAtricos De Energia (Area Profissional: IndAostria)',
  'sistemas eletricos'],
 ['Sistemas Eletricos', 'sistemas eletricos'],
 ['Sistemas Eletronicos De Comunicacao',
  'sistemas eletronicos de comunicacao'],
 ['Sociologia', 'sociologia'],
 ['Software Livre', 'software livre'],
 ['Soldagem', 'soldagem'],
 ['Tecnologia De Soldagem', 'tecnologia de soldagem'],
 ['Tecnologia E Midias Digitais', 'tecnologia e midias digitais'],
 ['Tecnologia Em Auditoria, Controle E Qualidade Nas Empresas',
  'tecnologia em auditoria'],
 ['Tecnologia Em SeguranAa Da Tecnologia Da Informacao',
  'seguranca da informacao'],
 ['Tecnologia Em engenharia ', 'tecnologia em engenharia '],
 ['Tecnologias Digitais', 'tecnologias digitais'],
 ['Tecnologo Em Metalurgia', 'metalurgia'],
 ['Telecomunicacoes', 'telecomunicacoes'],
 ['Terapia Ocupacional', 'terapia ocupacional'],
 ['Tradutor', 'traducao'],
 ['Transporte Aereo', 'transporte aereo'],
 ['Transporte Terrestre', 'transporte terrestre'],
 ['Vendas De Varejo (Area Profissional: ComArcio)',
  'vendas de varejo'],
 ['Vendas E Estrategias Comerciais', 'vendas e estrategias comerciais'],
 ['Video Digital (Area Profissional: Comunicacao) Marginal Pinheiros',
  'video digital'],
 ['Vigilancia Sanitaria', 'vigilancia sanitaria'],
 ['Visagismo E Terapia Capilar', 'visagismo e terapia capilar'],
 ['Visagismo E Terapias Capilares', 'visagismo e terapia capilar'],
 ['Viticultura E Enologia', 'viticultura e enologia'],
 ['Zootecnia', 'zootecnia']]

In [437]:
for curso in mais_cursos_4:
    modifica_curso(curso[0], curso[1])

C:\Users\amand\AppData\Local\Temp\ipykernel_18796\4172837732.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df.loc[df['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final
C:\Users\amand\AppData\Local\Temp\ipykernel_18796\4172837732.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cursos.loc[cursos['curso_modificado'].str.contains(contem_curso, case = case), 'curso_modificado'] = curso_final

### Tratamento 6
<a id="tratamento-6"></a>

Dropar colunas e modificar outras

In [438]:
# Colocando curso_modificado como principal
df['curso'] = df['curso_modificado']

In [439]:
# Visualizando colunas para dropar
df.head(2)

,ano,codigo_emec,universidade,tipo_bolsa,modalidade_ensino,curso,turno,cpf_beneficiario,sexo_beneficiario,raca_beneficiario,dt_nascimento_beneficiario,pcd,regiao,sigla_uf,municipio,idade,curso_modificado
0,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,enfermagem,Integral,***264740**,F,Branca,1987-02-17,False,SUL,RS,santo angelo,18.0,enfermagem
1,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,servico social,Noturno,***976940**,F,Parda,1986-06-14,False,SUL,RS,frederico westphalen,19.0,servico social

In [440]:
# Dropando colunas
df.drop(columns=['curso_modificado', 'dt_nascimento_beneficiario', 'cpf_beneficiario', 'codigo_emec'], inplace = True)

In [446]:
df['dt_nascimento'] = df2['DT_NASCIMENTO_BENEFICIARIO']

## Exportação dos dados
<a id="exp_data"></a>

In [447]:
# Exportando os dados para pasta data
df.to_csv('..\..\data\prouni_2005_2019_tratado.csv' )