# Tratamento dos dados - Prouni 2005/2019

- [Importando bibliotecas](#import_bibli)

- [Leitura dataframe](#read_csv)

- [Informações do dataframe](#info_df) 

- [Tratamento dos dados](#trat_data) 

- [Exportando dados](#exp_data)

## Importando bibliotecas

<a id="import_bibli"></a>

In [2]:
import pandas as pd
import numpy as np

## Leitura do dataframe
<a id="read_csv"></a>

In [24]:
df = pd.read_csv('..\..\dados\prouni_2005_2019.csv')
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,idade
0,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Enfermagem,Integral,***264740**,F,Branca,1987-02-17,nao,SUL,RS,santo angelo,34.0
1,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***976940**,F,Parda,1986-06-14,nao,SUL,RS,frederico westphalen,35.0
2,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***045340**,F,Parda,1984-06-03,nao,SUL,RS,frederico westphalen,37.0
3,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciencia Da Computacao,Noturno,***988420**,M,Branca,1987-10-19,nao,SUL,RS,frederico westphalen,33.0
4,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciencia Da Computacao,Noturno,***378080**,M,Amarela,1987-07-20,nao,SUL,RS,frederico westphalen,34.0

## Informações do dataframe

<a id="info_df"></a>

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692540 entries, 0 to 2692539
Data columns (total 16 columns):
 #   Column                          Dtype
---  ------                          -----
 0   ANO_CONCESSAO_BOLSA             int64
 1   CODIGO_EMEC_IES_BOLSA           int64
 2   NOME_IES_BOLSA                  object
 3   TIPO_BOLSA                      object
 4   MODALIDADE_ENSINO_BOLSA         object
 5   NOME_CURSO_BOLSA                object
 6   NOME_TURNO_CURSO_BOLSA          object
 7   CPF_BENEFICIARIO_BOLSA          object
 8   SEXO_BENEFICIARIO_BOLSA         object
 9   RACA_BENEFICIARIO_BOLSA         object
 10  DT_NASCIMENTO_BENEFICIARIO      object
 11  BENEFICIARIO_DEFICIENTE_FISICO  object
 12  REGIAO_BENEFICIARIO_BOLSA       object
 13  SIGLA_UF_BENEFICIARIO_BOLSA     object
 14  MUNICIPIO_BENEFICIARIO_BOLSA    object
 15  idade                           float64
dtypes: float64(1), int64(2), object(13)
memory usage: 328.7+ MB

In [27]:
df.describe()

       ANO_CONCESSAO_BOLSA  CODIGO_EMEC_IES_BOLSA         idade
count         2.692540e+06           2.692540e+06  2.692540e+06
mean          2.013202e+03           1.557752e+03  3.137911e+01
std           4.060982e+00           2.423453e+03  7.974098e+00
min           2.005000e+03           1.000000e+01  2.000000e+00
25%           2.010000e+03           3.220000e+02  2.500000e+01
50%           2.014000e+03           8.020000e+02  3.000000e+01
75%           2.017000e+03           1.742000e+03  3.500000e+01
max           2.019000e+03           2.251400e+04  1.500000e+02

In [28]:
df.shape

(2692540, 16)

In [29]:
df.isnull().sum()

ANO_CONCESSAO_BOLSA                  0
CODIGO_EMEC_IES_BOLSA                0
NOME_IES_BOLSA                     489
TIPO_BOLSA                           0
MODALIDADE_ENSINO_BOLSA              0
NOME_CURSO_BOLSA                  5654
NOME_TURNO_CURSO_BOLSA               0
CPF_BENEFICIARIO_BOLSA               0
SEXO_BENEFICIARIO_BOLSA              0
RACA_BENEFICIARIO_BOLSA              0
DT_NASCIMENTO_BENEFICIARIO           0
BENEFICIARIO_DEFICIENTE_FISICO       0
REGIAO_BENEFICIARIO_BOLSA          402
SIGLA_UF_BENEFICIARIO_BOLSA        402
MUNICIPIO_BENEFICIARIO_BOLSA       402
idade                                0
dtype: int64

In [30]:
df.nunique()

ANO_CONCESSAO_BOLSA                    15
CODIGO_EMEC_IES_BOLSA                2147
NOME_IES_BOLSA                       2767
TIPO_BOLSA                              3
MODALIDADE_ENSINO_BOLSA                 2
NOME_CURSO_BOLSA                     3644
NOME_TURNO_CURSO_BOLSA                  5
CPF_BENEFICIARIO_BOLSA            1316468
SEXO_BENEFICIARIO_BOLSA                 2
RACA_BENEFICIARIO_BOLSA                 6
DT_NASCIMENTO_BENEFICIARIO          31729
BENEFICIARIO_DEFICIENTE_FISICO          2
REGIAO_BENEFICIARIO_BOLSA               5
SIGLA_UF_BENEFICIARIO_BOLSA            27
MUNICIPIO_BENEFICIARIO_BOLSA         5318
idade                                 107
dtype: int64

In [31]:
df.columns

Index(['ANO_CONCESSAO_BOLSA', 'CODIGO_EMEC_IES_BOLSA', 'NOME_IES_BOLSA',
       'TIPO_BOLSA', 'MODALIDADE_ENSINO_BOLSA', 'NOME_CURSO_BOLSA',
       'NOME_TURNO_CURSO_BOLSA', 'CPF_BENEFICIARIO_BOLSA',
       'SEXO_BENEFICIARIO_BOLSA', 'RACA_BENEFICIARIO_BOLSA',
       'DT_NASCIMENTO_BENEFICIARIO', 'BENEFICIARIO_DEFICIENTE_FISICO',
       'REGIAO_BENEFICIARIO_BOLSA', 'SIGLA_UF_BENEFICIARIO_BOLSA',
       'MUNICIPIO_BENEFICIARIO_BOLSA', 'idade'],
      dtype='object')

## Tratamento dos dados
<a id="trat_data"></a>

[Tratamento 1](#tratamento-1) - Alterar nomes das colunas

[Tratamento 2](#tratamento-2) - Transformar "BENEFICIARIO_DEFICIENTE_FISICO" em bool

[Tratamento 3](#tratamento-3) - Tratar Missings

[Tratamento 4](#tratamento-4) - Criar LabelEncoder para variáveis catóricas

[Tratamento 5](#tratamento-5) - Verificar coluna "NOME_CURSO_BOLSA"

[Tratamento 6](#tratamento-6)

[Tratamento 7](#tratamento-7)

### Tratamento 1
<a id="tratamento-1"></a>

#### Relação das colunas

| Colunas Antigas                  | Colunas Novas              |
|----------------------------------|----------------------------|
| ANO_CONCESSAO_BOLSA               | ano                        |
| CODIGO_EMEC_IES_BOLSA             | codigo_emec                |
| NOME_IES_BOLSA                   | nome_bolsa                 |
| TIPO_BOLSA                       | tipo_bolsa                 |
| MODALIDADE_ENSINO_BOLSA           | modalidade_ensino          |
| NOME_CURSO_BOLSA                 | curso                      |
| NOME_TURNO_CURSO_BOLSA            | turno                      |
| CPF_BENEFICIARIO_BOLSA            | cpf_beneficiario           |
| SEXO_BENEFICIARIO_BOLSA           | sexo_beneficiario          |
| RACA_BENEFICIARIO_BOLSA           | raca_beneficiario          |
| DT_NASCIMENTO_BENEFICIARIO        | dt_nascimento_beneficiario |
| BENEFICIARIO_DEFICIENTE_FISICO    | pcd                        |
| REGIAO_BENEFICIARIO_BOLSA         | regiao                     |
| SIGLA_UF_BENEFICIARIO_BOLSA       | sigla_uf                   |
| MUNICIPIO_BENEFICIARIO_BOLSA      | municipio                  |
| idade                            | idade                      |

#### Código de alteração

In [32]:
colunas = [coluna.lower() for coluna in df.columns]
colunas

['ano_concessao_bolsa',
 'codigo_emec_ies_bolsa',
 'nome_ies_bolsa',
 'tipo_bolsa',
 'modalidade_ensino_bolsa',
 'nome_curso_bolsa',
 'nome_turno_curso_bolsa',
 'cpf_beneficiario_bolsa',
 'sexo_beneficiario_bolsa',
 'raca_beneficiario_bolsa',
 'dt_nascimento_beneficiario',
 'beneficiario_deficiente_fisico',
 'regiao_beneficiario_bolsa',
 'sigla_uf_beneficiario_bolsa',
 'municipio_beneficiario_bolsa',
 'idade']

In [33]:
novas_colunas = ['ano', 'codigo_emec', 'universidade', 'tipo_bolsa', 'modalidade_ensino', 'curso', 'turno', 'cpf_beneficiario', 'sexo_beneficiario',
 'raca_beneficiario', 'dt_nascimento_beneficiario', 'pcd', 'regiao', 'sigla_uf', 'municipio', 'idade']

df.columns = novas_colunas

In [34]:
df.columns

Index(['ano', 'codigo_emec', 'universidade', 'tipo_bolsa', 'modalidade_ensino',
       'curso', 'turno', 'cpf_beneficiario', 'sexo_beneficiario',
       'raca_beneficiario', 'dt_nascimento_beneficiario', 'pcd', 'regiao',
       'sigla_uf', 'municipio', 'idade'],
      dtype='object')

In [35]:
df.head()

,ano,codigo_emec,universidade,tipo_bolsa,modalidade_ensino,curso,turno,cpf_beneficiario,sexo_beneficiario,raca_beneficiario,dt_nascimento_beneficiario,pcd,regiao,sigla_uf,municipio,idade
0,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Enfermagem,Integral,***264740**,F,Branca,1987-02-17,nao,SUL,RS,santo angelo,34.0
1,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***976940**,F,Parda,1986-06-14,nao,SUL,RS,frederico westphalen,35.0
2,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Servico Social,Noturno,***045340**,F,Parda,1984-06-03,nao,SUL,RS,frederico westphalen,37.0
3,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciencia Da Computacao,Noturno,***988420**,M,Branca,1987-10-19,nao,SUL,RS,frederico westphalen,33.0
4,2005,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciencia Da Computacao,Noturno,***378080**,M,Amarela,1987-07-20,nao,SUL,RS,frederico westphalen,34.0

### Tratamento 2
<a id="tratamento-2"></a>

Aqui está o conteúdo do Tratamento 1...

### Tratamento 3
<a id="tratamento-3"></a>

Aqui está o conteúdo do Tratamento 1...

### Tratamento 4
<a id="tratamento-4"></a>

Aqui está o conteúdo do Tratamento 1...

### Tratamento 5
<a id="tratamento-5"></a>

Aqui está o conteúdo do Tratamento 1...

### Tratamento 6
<a id="tratamento-6"></a>

Aqui está o conteúdo do Tratamento 1...

### Tratamento 7
<a id="tratamento-7"></a>

Aqui está o conteúdo do Tratamento 1...

## Exportação dos dados
<a id="exp_data"></a>